<p>Gegeben sei die folgende Wahrheitstabelle:</p>

<table class="truthTable ms-4">
    <tr th:each="row: ${truthTableRows}">
        [(${row})]
    </tr>
</table>

<p>Der Wert 1 steht jeweils für &quot;wahr&quot;, der Wert 0 für &quot;falsch&quot;.</p>

<p>Erstellen Sie ein Karnaugh-Veitch-Diagramm (KV-Diagramm) und finden Sie einen minimalen Ausdruck mit Hilfe
der <b>[[${localization.MethodName}]]</b>-Methode.</p>