<p>Wandeln Sie die Zahl (<span>[[${number}]]</span>)<sub>10</sub> ins [[${targetBaseName}]] um.</p>

<p th:if="${enableDecimals}">Begrenzen Sie das Ergebnis auf [[${maxDigits}]] Stellen hinter dem Komma.</p>