<p>Geben Sie an, ob der folgende Code erfolgreich kompiliert und inhaltlich fehlerfrei ist.</p>

<p>Begründen Sie ihre Entscheidung, indem Sie Zeile für Zeile erläutern, was in den
Codeausschnitten passiert. Falls eine Zeile Fehler enthält, erläutern Sie die Fehler und korrigieren Sie sie.</p>

<pre>int system version;
float currentOccupancy;
scanf("Enter system version number: %d", system version);
scanf("Enter current occupancy in %: %d", currentOccupancy);
printf("Version number: %d.\nCurrent occupancy: %f", system version, &amp;currentOccupancy);
</pre>
