<p>Der Code in der Aufgabenstellung enthält mehrere Fehler, die im folgenden Codeausschnitt gelb markiert sind:</p>

<pre>int <mark>system version</mark>;
float currentOccupancy;
scanf(<mark>"Enter system version number: %d"</mark>, <mark>system version</mark>);
scanf(<mark>"Enter current occupancy in %: %d"</mark>, currentOccupancy);
printf("Version number: %d.\nCurrent occupancy: %f", <mark>system version</mark>, <mark>&amp;currentOccupancy</mark>);
</pre>

<p>Im Folgenden sind die Fehler im Detail beschrieben:</p>

<ul>
    <li>Zeile 1: Eine Integer-Variable <code>system version</code> soll initialisiert werden, allerdings sind
        Leerzeichen in Bezeichnern nicht erlaubt.<br/>
        <pre>
int <mark>systemVersion</mark>;</pre>
    </li>

    <li>Zeile 2: Es wird eine Variable <code>currentOccupancy</code> vom Typ <code>float</code> initialisiert. Das Zeile ist korrekt.</li>

    <li>Zeile 3: In der dritten Zeile befinden sich mehrere Fehler. Zunächst kann <code>scanf</code> nicht für eine Ausgabe verwendet werden. Hier sollte
        <code>printf</code> für die Ausgabe und <code>scanf</code> für die Eingabe verwendet werden. <code>system version</code> ist
        wie bereits geschrieben kein gültiger Bezeichner. Außerdem fehlt der Adress-Operator <code>&amp;</code> vor der einzugebenden Variable.<br/>
        <pre>
<mark>printf("Enter system version number: ");</mark>
scanf(<mark>"%d"</mark>, <mark>&amp;</mark>systemVersion);</pre>
    </li>

    <li>Zeile 4: Eine Zeile 4 wird eine Zahl eingelesen und der Variable <code>currentOccupancy</code> zugewiesen. Die Zeile enthält zunächst
        die gleichen Fehler wie Zeile 3: <code>scanf</code> kann keine Werte ausgeben und der Adress-Operator <code>&amp;</code> fehlt
        bei der einzugebenen Variable.
        Außerdem soll ein Prozent-Zeichen ausgegeben (&quot;Current occupancy in %&quot;). Da das Prozent-Zeichen aber für Format-Anweisungen
        verwendet wird, muss es doppelt angegeben werden, um tatsächlich das Prozent-Zeichen auszugeben: <code>%%</code>. Der Format-Platzhalter
        <code>%d</code> ist ebenfalls falsch. Hier ist ein <code>%f</code> zu verwenden, da <code>currentOccupancy</code> vom Typ
        <code>float</code> ist.<br/>
        <pre>
<mark>printf("Enter current occupancy in %%: ");</mark>
scanf(<mark>"%f"</mark>, <mark>&amp;</mark>currentOccupancy);</pre>
    </li>

    <li>Zeile 5: Mit der Funktion <code>printf</code> sollen beide Variablen ausgegeben werden. <code>currentOccupancy</code> ist
        aber mit einem Adress-Operator angegeben, sodass die Speicheradresse anstelle des Wertes ausgegeben wird. Im Namen der
        Variablen <code>system version</code> dürfen wie oben beschrieben keine Leerzeichen verwendet werden.<br/>
<pre>
printf("Version number: %d.\nCurrent occupancy: %f", <mark>systemVersion</mark>, <mark>currentOccupancy</mark>);</pre>
    </li>
</ul>

<p>Der korrigierte Code sieht insgesamt wie folgt aus:</p>

<pre>
int systemVersion;
float currentOccupancy;

printf("Enter system version number: ");
scanf("%d", &amp;systemVersion);

printf("Enter current occupancy in %%: ");
scanf("%f", &amp;currentOccupancy);

printf("Version number: %d.\nCurrent occupancy: %f", systemVersion, currentOccupancy);
</pre>