<p>Welches Ergebnis liefert der folgende C-Ausdruck?</p>

<pre>
[[${leftOperand}]] [[${operator}]] [[${rightOperand}]]
</pre>

<p>Hinweis: Im Binärsystem werden die genannten Zahlen wie folgt dargestellt.</p>
<ul>
    <li>[[${leftOperand}]]<sub>10</sub> = [[${leftOperandBinary}]]<sub>2</sub></li>
    <li>[[${rightOperand}]]<sub>10</sub> = [[${rightOperandBinary}]]<sub>2</sub></li>
</ul>