<p>Zunächst betrachten wir die beiden Zahlen ([[${leftOperand}]])<sub>10</sub> und ([[${rightOperand}]])<sub>10</sub> als [[${numBits}]]-Bit-Zahl im Binärformat:</p>
<table class="equationTable">
    <tr>
        <td th:each="char : ${leftOperandBinary.toCharArray()}" th:text="${char}"/></td><td class="ms-2 text-muted">([[${leftOperand}]] im Binärformat)</td>
    </tr>
    <tr>
        <td th:each="char : ${rightOperandBinary.toCharArray()}" th:text="${char}"/></td><td class="ms-2 text-muted">([[${rightOperand}]] im Binärformat)</td>
    </tr>
</table>

<div th:if="${operator == '|'}">
    <p><code>|</code> entspricht dem binären Oder-Operator. Das bedeutet:</p>
    <ul>
        <li>Für jede Stelle beider Binärzahlen wird im Ergebnis eine 1 eingetragen, wenn mindestens eine der beiden Ziffern einer 1 entspricht.</li>
        <li>Ansonsten wird 0 eingetragen.</li>
    </ul>
</div>
<div th:if="${operator == '&'}">
    <p><code>|</code> entspricht dem binären Und-Operator. Das bedeutet:</p>
    <ul>
        <li>Für jede Stelle beider Binärzahlen wird im Ergebnis eine 1 eingetragen, wenn beide Ziffern einer 1 entsprechen.</li>
        <li>Ansonsten wird 0 eingetragen.</li>
    </ul>
</div>
<div th:if="${operator == '^'}">
    <p><code>^</code> entspricht dem binären XOR-Operator (exklusives Oder). Das bedeutet:</p>
    <ul>
        <li>Für jede Stelle beider Binärzahlen wird im Ergebnis eine 1 eingetragen, wenn genau eine der beiden Ziffern einer 1 entspricht.</li>
        <li>Ansonsten wird 0 eingetragen.</li>
    </ul>
</div>

<p>Wir erhalten entsprechend:</p>

<div th:replace="common/binaryComputationTable :: binaryComputationTable(table = ${computationTable})"></div>

<p>Dies entspricht im Dezimalsystem der Zahl ([[${result}]])<sub>10</sub>.</p>