<p>In dieser Aufgabe sollen einfache Statistiken auf Strings berechnet werden, z.B. die Anzahl
    der Leerzeichen im String, und über eine generische Ausgabefunktion ausgegeben werden.</p>

<ol type="a">
    <li>
        <p>Definieren Sie zunächst einen strukturierten Datentyp <b>StringStatistic</b> für String-Statistiken.</p>
        <p>Der Datentyp soll den Namen einer Statistik (z.B. "Anzahl der Leerzeichen") und den Wert einer Statistik
        als Ganzzahl enthalten.</p>
    </li>
    <li>
        <p>Entwickeln Sie drei statistische String-Funktionen:</p>
        <ul>
            <li><b>numberOfSpaces</b> erhält einen String und gibt eine String-Statistik zurück, die
            die Anzahl der Leerzeichen des Strings repräsentiert.</li>
            <li><b>numberOfDigits</b> erhält einen String und gibt eine String-Statistik zurück, die
                die Anzahl der Ziffern des Strings repräsentiert.</li>
            <li><b>numberOfAlphaNumerics</b> erhält einen String und gibt eine String-Statistik
                zurück, die die Anzahl der alphanumerischen Zeichen des Strings
                repräsentiert.</li>
        </ul>
        <p>Jede statistische Funktion enthält einen String als einzigen Parameter und gibt eine
            Statistik vom Typ <b>StringStatistic</b> zurück (siehe a).
        </p>
    </li>
    <li>
        <p>Schreiben Sie eine Funktion <b>printStatistic</b>. Sie erhält einen String und einen
        Funktionszeiger auf eine statistische String-Funktion (siehe b).</p>

        <p>Die Funktion berechnet die Statistik des übergebenen Strings durch Aufruf des
        Funktionszeigers und gibt das Ergebnis auf dem Bildschirm aus.</p>
    </li>
</ol>