<h5>a)</h5>

<p>Wir definieren zunächst den strukturieren Typen, der den Namen als String und den ganzzahligen Wert einer Statistik gespeichert.
Für den ganzzahligen Wert verwenden wir den vorzeichenlosen Datentyp <code>size_t</code>, allerdings wären auch
<code>unsigned long</code> oder <code>unsigned int</code> denkbar.</p>

<pre>
typedef struct {
    char statisticName[64];
    size_t value;
} StringStatistic;</pre>

<h5>b)</h5>

<p>Für diese Teilaufgabe müssen wir zunächst zwei Header-Dateien einbinden:</p>

<pre>
#include &lt;string.h&gt;
#include &lt;ctype.h&gt;
</pre>

<p>Die Headerdatei <code>string.h</code> erlaubt uns den Zugriff auf <code>strcpy</code>. Die Datei
<code>ctype.h</code> bietet uns die <code>isdigit</code>- und die <code>isalnum</code>-Funktion.</p>

<p>Wir schreiben zuerst die Funktion <code>numberOfSpaces</code>. Sie erhält einen String und gibt den in Aufgabenteil a) definierten
    Datentyp SpringStatistic zurück.</p>

<pre>
StringStatistic numberOfSpaces(const char* string) {
</pre>

<p>Die Funktion durchläuft nun den String bzw. das Charakter-Array hinter dem <code>string</code>-Zeiger bis
    zum abschließenden Null-Byte <code>\0</code>. Entspricht das Zeichen an der aktuellen Speicheradresse
    (<code>*p</code>) einem Leerzeichen, wird ein Zähler inkrementiert, den wir initial auf 0 gesetzt haben.</p>

<pre>
    size_t count = 0;
    for(const char* p = string; *p != '\0'; p++) {
        if(*p == ' ') {
            count++;
        }
    }
</pre>

<p>Alternativ kann man hier auch mit der <code>strlen</code> aus der Standard-Bibliothek und direkter Indizierung
arbeiten. Das ist allerdings etwas ineffizienter:</p>

<pre>
    size_t count = 0;
    for(int i = 0; i < strlen(string); i++) {
        if(string[i] == ' ') {
            count++;
        }
    }
</pre>

<p>Das Ergebnis speichern wir als String-Statistik mit dem Namen &quot;Anzahl der Leerzeichen&quot; und geben es zurück.</p>

<pre>
    StringStatistic result;
    strcpy(result.statisticName, "Anzahl der Leerzeichen");
    result.value = count;
    return result;
}</pre>

<p>Insgesamt sieht das Ergebnis wie folgt aus:</p>

<pre>
StringStatistic numberOfSpaces(const char* string) {
    size_t count = 0;
    for(const char* p = string; *p != '\0'; p++) {
        if(*p == ' ') {
            count++;
        }
    }

    StringStatistic result;
    strcpy(result.statisticName, "Anzahl der Leerzeichen");
    result.value = count;
    return result;
}</pre>

<p>Die anderen beiden Funktion <code>numberOfDigits</code> und <code>numberOfAlphaNumerics</code> sind
analog aufgebaut. Sie weichen nur durch die Funktionen aus der Standardbibliothek ab, mit denen wir
prüfen, ob sich bei einem Zeichen um eine Ziffer (<code>isdigit</code>) bzw. ein alphanummerisches Zeichen
(<code>isalnum</code>) handelt.</p>

<pre>
StringStatistic numberOfDigits(const char* string) {
    size_t count = 0;
    for(const char* p = string; *p != '\0'; p++) {
        if(isdigit(*p)) {
            count++;
        }
    }

    StringStatistic result;
    strcpy(result.statisticName, "Anzahl der Ziffern");
    result.value = count;
    return result;
}

StringStatistic numberOfAlphaNumerics(const char* string) {
    size_t count = 0;
    for(const char* p = string; *p != 0; p++) {
        if(isalnum(*p)) {
            count++;
        }
    }

    StringStatistic result;
    strcpy(result.statisticName, "Anzahl der alphanumerischen Zeichen");
    result.value = count;
    return result;
}</pre>

<h5>c)</h5>

<p>Da wir in dieser Teilaufgabe Bildschirmausgaben tätigen werden, binden wir die Headerdatei <code>stdio.h</code> ein,
die uns den Zugriff auf <code>printf</code> ermöglicht. Die folgende Zeile sollte oben im Quelltext hinzugefügt werden:</p>

<pre>
#include &lt;stdio.h&gt;
</pre>

<p>Die Funktion <code>printStatistic</code> erhält einen String, für den eine Statistik berechnet werden soll,
    und einen Funktionszeiger auf eine Funktion, die die Statistik berechnet. Die Funktion ruft die
    als Zeiger übergebene statistische Funktion auf und gibt das Ergebnis formattiert auf der Konsole aus.</p>

<pre>
void printStatistic(const char* string, StringStatistic(*statisticFunc)(const char*)) {
    StringStatistic s = statisticFunc(string);
    printf("%s: %ld\n", s.statisticName, s.value);
}</pre>

<p>Über das folgendes Hauptprogramm können die verschiedenen statistischen Funktionen getestet werden:</p>

<pre>
int main(int argc, const char * argv[]) {

    const char* testString = "Hello world! 1234";

    printStatistic(testString, numberOfSpaces);
    printStatistic(testString, numberOfDigits);
    printStatistic(testString, numberOfAlphaNumerics);

    return 0;
}</pre>