<p>Schreiben Sie eine Funktion <b>encryptText</b>, die einen Text als <code>char-Array</code>
    übergeben bekommt. Auf jedes Zeichen des übergebenen Textes wird jetzt der
    geheime Ganzzahl-Schlüssel 13 addiert. Der verschlüsselte Text wird zurückgegeben (<code>return</code>).</p>

<p>Würde ein verschlüsselter Buchstabe über das Ende des Alphabets hinausgehen, so wird wieder beim Beginn
    des Alphabets begonnen.</p>

<p>Stellen Sie sicher, dass die Verschlüsselung für Groß- und Kleinbuchstaben von A bis Z
    sowie von a bis z funktioniert.</p>