<p>Im Folgenden ist eine Datenstruktur für ein Lebensmittel dargestellt:</p>

<pre>
typedef struct s_Food {
    char name[128];
    double calories;
} Food;
</pre>

<p>Schreiben Sie eine Funktion <b>sortFood</b>, welche ein Array von Lebensmitteln aufsteigend anhand der
Kalorien (<code>calories</code>) sortiert.</p>

<p>Geben Sie anschließend das sortierte Array mit einer Funktion <b>printFoodArray</b> aus.</p>