<p>Schreiben Sie eine Funktion <b>sortValues</b>. Die Funktion erhält als Übergabeparameter ein Array von
Werten, die jeweils vom Typ int sind. Die Funktion sortiert die übergebenen Werte in
aufsteigender Reihenfolge. Die Werte werden dann in sortierter Reihenfolge auf dem Bildschirm ausgegeben.</p>

<p>Hinweis: Die Sortierung soll hier selbst implementiert werden. Es darf hierfür keine Funktion aus der
    Standardbibliothek genutzt werden.</p>