Schreiben Sie ein C-Programm mit Funktionen zur Berechnung von n-dimensionalen Vektoren für <b>Addition</b>,
<b>Subtraktion</b> und <b>Skalarprodukt</b>. Die Funktionen sollen jeweils die Eingabevektoren als Eingabeparameter
(Array) erhalten und das Ergebnis in einem ebenfalls als Parameter übergebenem Array ablegen.
Mit weiteren Funktionen sollen Ein- und Ausgabe der Vektoren ermöglicht werden. Im Hauptprogramm sollen alle
Funktionen getestet werden. Beachten Sie bitte, dass die Zahl n (Anzahl der Komponenten im Vektor) bei jeder Funktion
übergeben werden muss.