<h5>addVector</h5>

Zunächst implementieren wir den Funktionskopf. Die Funktion erhält Eingabevektoren und einen Ergebnisvektor als Arrays
vom Typ <code>double</code>. Die Anzahl der Elemente wird ebenfalls übergeben mit einer Variable vom Typ <code>int</code>.

<pre>void addVector(double v1[], double v2[], double v3[], int size) {
</pre>

<p>Mit einer Schleife iterieren wir durch die übergebenen Arrays. Um zwei Vektoren miteinander zu addieren, werden die
    beiden jeweiligen Elemente der Eingabevektoren in jeder Wiederholung addiert und in einem Ergebnisvektor gespeichert.</p>

<pre>
    for (int i = 0; i &lt; size; i++) {
        v3[i] = v1[i] + v2[i];
    }
}</pre>

<h5>subVector</h5>

<p>Die Funktion wird analog zu addVector implementiert, nur dass einzelne Komponenten subtrahiert werden:</p>

<pre>void subVector(double v1[], double v2[], double v3[], int size){
    for (int i = 0; i &lt; size; i++) {
        v3[i] = v1[i] - v2[i];
    }
}</pre>

<h5>scalarProduct</h5>

Zunächst implementieren wir den Funktionskopf. Die Funktion erhält die Eingabevektoren als Arrays
vom Typ <code>double</code>. Die Anzahl der Elemente wird ebenfalls übergeben mit einer Variable vom Typ <code>int</code>.

<pre>int subVector(double v1[], double v2[], int size) {
</pre>

<p>Für die Berechnung des Skalarprodukts deklarieren wir zuerst eine Ergebnisvariable <code>result</code> vom
    Typ <code>int</code>. Mit einer Schleife iterieren wir durch die übergebenen Arrays. Bei jeder Wiederholung multiplizieren
    wir die zwei Komponenten der beiden Vektoren an der Stelle des Laufindex <code>i</code> und addieren das Produkt auf die
    Ergebnisvariable <code>result</code>. Am Ende geben wir das Ergebnis mit dem Rückgabetyp <code>double</code> zurück,
    da das Skalarprodukt eine reelle Zahl ergibt.</p>

<pre>
    double result = 0;
    for (int i = 0; i &lt; size; i++) {
        result += v1[i] * v2[i];
    }
    return result;
}</pre>

<h5>readVector</h5>

<p>Die Hilfsfunktion <code>readVector</code> erhält ein aufzufüllendes Array und die Größe <code>size</code> als
    Übergabeparameter. Mit einer Schleife iterieren wir durch das übergebene Array. In jeder Wiederholung lesen wir mit
    der Funktion <code>scanf</code> ein Element ein und fügen es in das Array ein. Da das übergebene Array den
    Typ <code>double</code> hat, erhält die Funktion <code>scanf</code> den Formatbezeichner "%lf". Um das eingelesene
    Element in das Array einzufügen, übergeben wir der Funktion <code>scanf</code> die Position des Arrays am aktuellen
    Laufindex <code>i</code> mit dem Referenz-Operator "&".</p>

<pre>
void readVector(double v[], int size){
    for (int i = 0; i &lt; size; i++) {
        printf("%d: ", i);
        scanf("%lf", &(v[i]));
    }
}
</pre>

<h5>printVector</h5>

<p>Die Hilfsfunktion <code>printVector</code> erhält ein aufzufüllendes Array und die Größe <code>size</code> als
    Übergabeparameter. Mit einer Schleife iterieren wir durch das übergebene Array. In jeder Wiederholung geben wir das
    Element an der Position des Laufindex <code>i</code> aus. Da das übergebene Array den Typ <code>double</code> hat,
    erhält die Funktion <code>printf</code> den Formatbezeichner "%lf.</p>

<pre>
void printVector(double v[], int size){
    for (int i = 0; i &lt; size; i++) {
        printf("%lf\n", v[i]);
    }
}
</pre>

<p>In einem Hauptprogramm testen wir die Funktionen <code>addVector</code>, <code>subVector</code> und
    <code>scalarProduct</code>. Zuerst weisen wir der Variable <code>size</code> die Anzahl der Elemente der Vektoren mit
    der Funktion <code>scanf</code> zu. Dann werden die Eingabe- und Ergebnisvektoren erstellt, als Arrays vom Typ
    <code>double</code>, und erhalten die eingegebene Anzahl der Elemente (<code>size</code>) als ihre Größe. Mit der
    Hilfsfunktion <code>readVector</code> werden die Arrays mit Werten vom Typ <code>double</code> aufgefüllt.
    Anschließend werden die Funktionen <code>addVector</code>, <code>subVector</code> und <code>scalarProduct</code>
    aufgerufen. Die Ergebnisse werden mit der Hilfsfunktion <code>printVector</code> ausgegeben.</p>

<pre>int main() {
    int size;
    printf("Wie viele Elemente sollen die Vektoren haben? ");
    scanf("%d", &size);

    double v1[size], v2[size], v3[size];

    printf("Bitte Vektor 1 eingeben:\n");
    readVector(v1, size);
    printf("\nBitte Vektor 2 eingeben:\n");
    readVector(v2, size);

    printf("\nSumme:\n");
    addVector(v1, v2, v3, size);
    printVector(v3, size);

    printf("\nDifferenz:\n");
    subVector(v1, v2, v3, size);
    printVector(v3, size);

    printf("\nSkalarprodukt:\n");
    double p = scalarProduct(v1, v2, size);
    printf("%lf\n", p);

    return 0;
}</pre>



<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>void addVector(double v1[], double v2[], double v3[], int size){
    for (int i = 0; i &lt; size; i++)
    {
        v3[i] = v1[i] + v2[i];
    }
}

void subVector(double v1[], double v2[], double v3[], int size){
    for (int i = 0; i &lt; size; i++)
    {
        v3[i] = v1[i] - v2[i];
    }
}

double scalarProduct(double v1[], double v2[], int size){
    int result = 0;

    for (int i = 0; i &lt; size; i++)
    {
        result += v1[i] * v2[i];
    }

    return result;
}

void readVector(double v[], int size){
    int i;
    for (i = 0; i &lt; size; i++)
    {
        printf("%d: ", i);
        scanf("%lf", &(v[i]));
    }
}

void printVector(double v[], int size){
    int i;
    for (i = 0; i &lt; size; i++)
    {
        printf("%lf\n", v[i]);
    }
}

int main()
{
    int size;
    printf("Wieviele Elemente sollen die Vektoren haben? ");
    scanf("%d", &size);

    double v1[size], v2[size], v3[size];

    printf("Bitte Vektor 1 eingeben:\n");
    readVector(v1, size);
    printf("\nBitte Vektor 2 eingeben:\n");
    readVector(v2, size);

    printf("\nSumme:\n");
    addVector(v1, v2, v3, size);
    printVector(v3, size);

    printf("\nDifferenz:\n");
    subVector(v1, v2, v3, size);
    printVector(v3, size);

    printf("\nSkalarprodukt:\n");
    double p = scalarProduct(v1, v2, size);
    printf("%lf\n", p);

    return 0;
}</pre>