<p>Zunächst implementieren wir den Funktionskopf. Die Funktion <code>encryptText</code> erhält ein char-Array, welches
    einen zu verschlüsselnden Text beinhaltet.</p>

<pre>char *encryptText(char text[]) {
</pre>

<p>Wir erstellen ein char-Array <code>encrypt</code>. Mit der Funktion <code>malloc</code> aus der
    C-Standard-Bibliothek <code>stdlib.h</code> allokieren wir dynamisch Speicher für das Array <code>encrypt</code>.
    Dieser Speicher sollte genauso groß sein wie der des übergebenen Texts. Dafür brauchen wir die Länge des übergebenen
    Texts, welche wir mit der Funktion <code>strlen</code> aus der C-Standard-Bibliothek <code>string.h</code> erhalten.</p>

<pre>
    char *encrypt = malloc(strlen(text));
</pre>

<p>Mit einer for-Schleife iterieren wir durch alle Elemente im übergebenen Text. In einer Bedingung wird geprüft, ob es sich
    bei dem Zeichen im übergebenen Text an der Position des Laufindex <code>i</code>, um einen Kleinbuchstaben handelt. Wenn
    dies der Fall ist, wird geprüft, ob das Zeichen nach der Addition des geheimen Ganzzahl-Schlüssels 13 über 'z' hinausgeht.
    Denn dann wird der Überlauf auf den Anfang des Intervalls zwischen 'a' und 'z' addiert und dem Array <code>encrypt</code> an
    der richtigen Position zugewiesen. Ansonsten, wenn das Zeichen nach der Addition nicht über 'z' hinausgeht, wird die
    Geheimzahl 13 lediglich auf das Zeichen addiert und dem Array <code>encrypt</code> zugewiesen.</p>

<pre>
    for (int i = 0; i &lt; strlen(text); i++) {
        if (text[i] &gt;= 'a' && text[i] &lt;= 'z') {
            if (text[i] + 13 &gt; 'z') {
                encrypt[i] = 'a' - 1 + text[i] + 13 - 'z';
            }
            else encrypt[i] = text[i]+13;
        }
</pre>

<p>Nun prüfen wir, ob es sich bei dem Zeichen um einen Großbuchstaben handelt, und verschlüsseln analog zum obigen Fall:</p>

<pre>
        else if (text[i] &gt;= 'A' && text[i] &lt;= 'Z') {
            if (text[i] + 13 &gt; 'Z') {
                encrypt[i] = 'A' - 1 + (text[i] + 13 - 'Z');
            }
            else encrypt[i] = text[i]+13;
        }
</pre>

<p>Wenn das Zeichen kein Groß- oder Kleinbuchstabe ist, wird das Zeichen nicht verschlüsselt. Am Ende der Funktion
    wird der verschlüsselte Text zurückgegeben.</p>
<pre>
        else {
            encrypt[i] = text[i];
        }
    }
    return encrypt;
}
</pre>

<p>In einem Hauptprogramm können wir die Funktion <code>encryptText</code> testen. Wir erstellen ein Array vom Typ
    <code>char</code> und weisen ihm den Text "Hallo Welt!" zu. Diesen übergeben wir dann an die Funktion
    <code>encryptText</code> und geben den Rückgabewert mit der Funktion <code>printf</code> aus. In diesem Fall
    sollte der Text "Unyyb Jryg!" ausgegeben werden.</p>

<pre>
int main(int argc, const char *argv[]) {
    char str[] = "Hallo Welt!";
    printf("%s\n", encryptText(str));
    printf("%s\n", str);

    return 0;
}
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>char *encryptText(char text[]) {
    char *encrypt = malloc(strlen(text));

    for (int i = 0; i &lt; strlen(text); i++) {
        if (text[i] &gt;= 'a' && text[i] &lt;= 'z') {
            if (text[i] + 13 &gt; 'z'){
                encrypt[i] = 'a' - 1 + text[i] + 13 - 'z';
            }
            else encrypt[i] = text[i]+13;
        } else if (text[i] &gt;= 'A' && text[i] &lt;= 'Z') {
            if (text[i] + 13 &gt; 'Z') {
                encrypt[i] = 'A' - 1 + (text[i] + 13 - 'Z');
            }
            else encrypt[i] = text[i]+13;
        } else {
            encrypt[i] = text[i];
        }
    }
    return encrypt;
}

int main(int argc, const char *argv[]) {
    char str[] = "Hallo Welt!";
    printf("%s\n", encryptText(str));
    printf("%s\n", str);
    return 0;
}
</pre>