<p>Zunächst implementieren wir den Funktionskopf der Funktion <code>sortValues</code>. Die Funktion erhält
ein Array (<code>values</code>) vom Typ <code>int</code> und eine Größe (<code>size</code>) vom
Typ <code>int</code>.</p>

<pre>void sortValues(int values[], int size) {</pre>

<p>Wir deklarieren eine temporäre Variable (<code>temp</code>) vom Typ <code>int</code>. Mit einer Schleife
iterieren wir durch die Zahlen in dem übergebenen Array. In einer weiteren inneren Schleife iterieren wir für jede
Stelle im Array, jeweils immer durch die darauffolgenden Stellen. Wenn der aktuelle Wert (<code>values[i]</code>) größer ist,
als einer der darauffolgenden Werte (<code>values[i]</code>), dann werden diese miteinander ausgewechselt, sodass die größere
Zahl weiter nach hinten rückt und das Array auf diese Art und Weise aufsteigend sortiert wird. Es wird Gebrauch von unserer
temporären Variable <code>temp</code> gemacht. Diese speichert nämlich den Wert unserer aktuellen Zahl (<code>values[i]</code>), sodass
dieser nicht verloren geht, sobald wir ihn mit der kleineren Zahl ersetzen. Der zu ersetzende kleinere Wert (<code>values[i)</code>) erhält
dann den von <code>temp</code> zwischengespeicherten Wert. Diesen Algorithmus nennt man Bubble-Sort.</p>

<pre>
    int temp;
    for (int i = 0; i &lt; length - 1; i++)
    {
        for (int j = i + 1; j &lt; length; j++)
        {
            if (values[i] &gt; values[j])
            {
                temp = values[i];
                values[i] = values[j];
                values[j] = temp;
            }
        }
    }
}</pre>

<p>Im Hauptprogramm wird ein Array mit Werten definiert. Dieses Array wird an die Funktion <code>sortValues</code> übergeben.
Nachdem das Array von der Funktion <code>sortValues</code> sortiert wurde, geben wir alle Werte des Arrays mit
einer Schleife aus, um zu prüfen, ob das Array tatsächlich aufsteigend sortiert wurde. In jeder Iteration
der Schleife geben wir mit der Funktion <code>printf</code> den Wert des aktuellen Index (<code>numberArray[i]</code>) aus.</p>

<pre>int main() {
    int numberArray[4] = {5,1,8,6};

    sortValues(s, 4);

    printf("Array in ascending order is:\n");
    for (int i = 0; i &lt; 4; i++) {
        printf("%d\t", numberArray[i]);
    }
    return 0;
}
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>
void sortValues(int values[], int size) {
    int temp;
    for (int i = 0; i &lt; length - 1; i++) {
        for (int j = i + 1; j &lt; length; j++) {
            if (values[i] &gt; values[j]) {
                temp = values[i];
                values[i] = values[j];
                values[j] = temp;
            }
        }
    }
}

int main() {
    int s[4] = {5,1,6,8};

    sortValues(s, 4);

    printf("Array in ascending order is:\n");
    for (int i = 0; i &lt; 4; i++) {
        printf("%d\t", s[i]);
    }
    return 0;
}
</pre>