<p>Wir implementieren zunächst den Funktionskopf gemäß Aufgabenstellung. Die Funktion erhält ein Array vom strukturierten
Typ <code>Food</code> und die Größe des Arrays:</p>

<pre>void sortFood(Food foodArray[], int size) {</pre>

<p>Es wird eine Variable <code>lowestCal</code> angelegt. Diese wird benötigt, um das Array sortieren zu können.
In einer Schleife iterieren wir durch jedes Element im übergebenen Array <code>foodArray</code>. <code>lowestCal</code>
nimmt dabei immer Wert des aktuellen Index an. Während einer Iteration greifen wir bereits, mit einer weiteren
verschachtelten Schleife auf die jeweiligen nächsten Elemente zu. So kann immer das aktuell kalorienärmste Element
mit den nächsten Elementen verglichen werden. Wenn eines dieser Elemente weniger Kalorien hat, nimmt <code>lowestCal</code>
den Wert des Index dieses Elements an. Mit der Hilfsfunktion <code>switchFoods</code> wird das aktuelle Element,
mit dem Element ausgetauscht, das die wenigsten Kalorien hat.</p>

<pre>int lowestCal;
    for (int i = 0; i &lt; size; i++) {
        lowestCal = i;
        for (int j = i + 1; j &lt; size; j++) {
            if (foodArray[j].calories &lt; foodArray[lowestCal].calories) {
                lowestCal = j;
            }
        }
        switchFoods(&foodArray[lowestCal], &foodArray[i]);
    }
}</pre>

<p>Die Funktion <code>switchFoods</code> erwartet zwei Zeiger für zwei auszuwechselnde Objekte vom strukturierten Typen
<code>Food</code>. Es wird ein temporäres <code>Food</code>-Objekt erzeugt, welches den Wert des ersten übergebenen
Zeigers erhält, um diesen temporär zu speichern. So können die beiden übergebenen Elemente nun ausgewechselt werden,
indem der erste übergebene Zeiger dereferenziert wird und den deferenzierten Wert des zweiten Zeigers erhält. Für den
zweiten Zweiger gehen wir genau so vor, jedoch wird diesem der Wert des zuvor erzeugten Objekts <code>temp</code> zugewiesen.</p>

<pre>
void switchFoods(Food *f1, Food *f2) {
    Food temp = *f1;
    *f1 = *f2;
    *f2 = temp;
}
</pre>

<p>Die Funktion <code>printFoodArray</code> erhält ein auszugebendes Array vom strukturierten Typ <code>Food</code> und
die entsprechende Größe des Arrays. Mit einer Schleife wird durch jedes <code>Food</code>-Element im übergebenen Array
iteriert und der jeweilige Name und die Kalorien des strukturierten Typen ausgegeben.</p>

<pre>void printFoodArray(Food foodArray[], int size){
    for (int i = 0; i &lt; size; i++) {
        printf("%d. Lebensmittel:\n  Name: %s\n  Kalorien: %.2f\n", i + 1, foodArray[i].name, foodArray[i].calories);
    }
    printf("\n");
}
</pre>

<p>In einem Hauptprogramm werden <code>Food</code>-Objekte und ein entsprechendes Array erzeugt, damit die Funktionen
<code>sortFood</code> und <code>printFoodArray</code> getestet werden können:</p>

<pre>
int main(int argc, const char *argv[]) {
    Food apple;
    strcpy(apple.name, "Apfel");
    apple.calories = 60;

    Food banana;
    strcpy(banana.name, "Banane");
    banana.calories = 70;

    Food orange;
    strcpy(orange.name, "Orange");
    orange.calories = 50;

    Food foodArray[] = {apple, banana, orange};

    sortFood(foodArray, 3);
    printFoodArray(foodArray, 3);

    return 0;
}
</pre>