<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand mb-0 h1">Aufgaben-Generator</span>
    </div>
  </nav>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>

<footer>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <p class="text-white my-auto">Entwickelt von Malte Weiß &copy; 2023 &ndash; <a class="text-white" routerLink="/imprint">Impressum</a></p>
      <p class="text-white my-auto ms-auto text-dark">build {{buildId}}</p>
    </div>
  </nav>
</footer>
