<p>Stellen Sie die Dezimalzahl (<span>[[${number}]]</span>)<sub>[[${10}]]</sub> als Binärzahl im IEEE-754/854-Format dar.</p>

<p>Geben Sie alle Rechen- und Umwandlungsschritte an. Weisen Sie das Vorzeichen, den Biased Exponent und die Mantisse explizit aus.</p>