<hr/>
<h3>Schritt 1: Vorzeichen extrahieren</h3>

<p th:if="${isNegative}">Die gegebene Zahl ist <span class="ieeeSign">negativ</span>. Daraus ergibt sich das erste Bit der IEEE-Darstellung: <span class="ieeeSign">1</span>.
    Wir merken uns das für später, rechnen aber mit dem Betrag der Zahl weiter: (<span>[[${positiveQuestionNumber}]]</span>)<sub>[[${10}]]</sub></p>
<p th:unless="${isNegative}">Die gegebene Zahl ist <span class="ieeeSign">positiv</span>. Daraus ergibt sich bereits das erste Bit der IEEE-Darstellung: <span class="ieeeSign">0</span>.</p>

<hr/>
<h3>Schritt 2: Binärzahl in Normalform darstellen</h3>

<p>Zunächst konvertieren wir die Dezimalzahl ins Binärsystem.</p>

<div th:replace="common/decimalToBinOctHex :: decimalToBinOctHex(result = ${conversionToBinaryResult})"></div>

<div th:if="${conversionToBinaryResult.hasRepetend} == true">
    <p>Das Ergebnis ist periodisch. Da wir aber nur endlich viele Stellen im IEEE-Format darstellen können, geben wir das
        Ergebnis hier mit endlich vielen Stellen an:</p>
    <table class="equationTable">
        <tr>
            <td>([(${conversionToBinaryResult.maxDigitResult})])<sub>[(${conversionToBinaryResult.targetBase})]</sub></td>
        </tr>
    </table>
</div>

<p>Wir normalisieren die Zahl nun, so dass nur eine 1 vor dem Komma steht:</p>

<table class="equationTable">
    <tr th:if="${conversionToBinaryResult.hasRepetend} == false">
        <td></td><td>([(${conversionToBinaryResult.integerConversionResult.result})],[(${conversionToBinaryResult.decimalResult})])<sub>[(${conversionToBinaryResult.targetBase})]</sub></td>
    </tr>
    <tr th:if="${conversionToBinaryResult.hasRepetend} == false">
        <td></td><td>([(${conversionToBinaryResult.integerConversionResult.result})],[(${conversionToBinaryResult.decimalResult})])<sub>[(${conversionToBinaryResult.targetBase})]</sub> &middot; 2<sup>0</sup></td>
    </tr>
    <tr th:if="${conversionToBinaryResult.hasRepetend} == true">
        <td></td><td>([(${conversionToBinaryResult.maxDigitResult})])<sub>[(${conversionToBinaryResult.targetBase})]</sub></td>
    </tr>
    <tr th:if="${conversionToBinaryResult.hasRepetend} == true">
        <td></td><td>([(${conversionToBinaryResult.maxDigitResult})])<sub>[(${conversionToBinaryResult.targetBase})]</sub> &middot; 2<sup>0</sup></td>
    </tr>
    <tr>
        <td>=</td><td>([(${normalizationResult.normalizedNumberIntegerPart})],<span class="ieeeMantissa">[(${normalizationResult.normalizedNumberDecimalPart})]</span>)<sub>2</sub> &middot; 2<sup><span class="ieeeActualExponent">[(${normalizationResult.exponent})]</span></sup></td>
    </tr>
</table>

<hr/>
<h3>Schritt 3: Biased Exponent extrahieren</h3>

<p>Wir haben nun die normalisierte Form der Zahl gegeben, aus der wir die IEEE-Darstellung erzeugen können. Dazu bilden wir zunächst den <span class="ieeeBiasedExponent">Biased Exponent</span> durch Addition von 127 auf den echten Exponenten.</p>

<table class="equationTable">
    <tr>
        <td>Biased Exponent</td><td>=</td><td><span class="ieeeActualExponent">[(${normalizationResult.exponent})]</span> + 127</td><td>=</td><td><span class="ieeeBiasedExponent">[(${biasedExponent})]</span></td>
    </tr>
</table>

<p>Den Biased Exponent benötigen wir jetzt noch in Binärform. Dazu verwenden wir den bekannten Divisions-Algorithmus:</p>

<div th:replace="common/integerDivisionAlgorithm :: integerDivisionAlgorithm(result = ${biasedExponentIntegerConversionResult})"></div>

<p>Unser 8-Bit Biased Exponent lautet also ([(${biasedExponentBinaryString})])<sub>2</sub>.</p>

<hr/>
<h3>Schritt 4: Zusammenfügen zur IEEE-Darstellung</h3>

<p>Jetzt fügen wir alles zusammen: 1 Bit für das <span class="ieeeSign">Vorzeichen</span>, 8 Bit für den <span class="ieeeBiasedExponent">Biased Exponent</span> und 23 Bit für die <span class="ieeeMantissa">Mantisse</span>:</p>

<table class="equationTable">
    <tr>
        <td><span class="ieeeSign">[(${signBit})]</span></td><td><span class="ieeeBiasedExponent">[(${biasedExponentBinaryString})]</span></td><td><span class="ieeeMantissa">[(${mantissaBits})]</span></td></tr>
    </tr>
</table>

<p>Die Mantisse wurde bis 23 Bit mit Nullen aufgefüllt. Angefügte Nullen haben keine Auswirkung auf den Wert.</p>

<p>Die Dezimalzahl (<span>[[${questionNumber}]]</span>)<sub>[[${10}]]</sub> lautet im binären IEEE-754/854-Format somit:

<table class="equationTable">
    <tr>
        <td><b>([(${signBit})][(${biasedExponentBinaryString})][(${mantissaBits})])<sub>2</sub></b></td>
    </tr>
</table>