<div [class]="'alert ' + alertClass" role="alert" *ngIf="alertMessage">
    {{alertMessage}}
</div>

<p>Dieses Tool erlaubt es, zufällige Übungsaufgaben zusammen mit ihren Musterlösungen zu generieren.</p>

<!-- Loading configuration -->
<ng-container *ngIf="isInitialLoading">
    <div class="d-flex align-items-center justify-content-center mt-4">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
        </div>
        <strong class="ms-2">Lade Konfiguration...</strong>
    </div>
</ng-container>

<!-- Enter submission data -->
<ng-container *ngIf="!isInitialLoading">
    <p>Derzeit lassen sich {{totalVariantCount | number : '1.0-0'}} Varianten aus {{totalExerciseCount | number : '1.0-0'}} Aufgaben generieren.</p>
    <p>Feedback, Fehler, Ideen gerne an <a href="mailto:malte.weiss@hs-ruhrwest.de">malte.weiss@hs-ruhrwest.de</a>.</p>
    <div class="row">
        <div class="col">
            <div *ngFor="let generatorGroup of generatorGroups">
                <h1 class="my-3">{{generatorGroup.name}}</h1>
                <ul class="ms-3">
                    <li class="mt-2" *ngFor="let generator of generatorGroup.exercises">
                        <a [routerLink]="['/exercise/', generator.id]" [innerHtml]="generator.name"></a>
                        <span class="badge rounded-pill bg-light text-dark ms-1"
                            data-toggle="tooltip" data-placement="top" [title]="(generator.numVariants | number : '1.0-0') + ' Varianten'"
                            *ngIf="generator.numVariants > 1">
                            {{generator.numVariants | number : '1.0-0'}}
                        </span>
                        <small *ngIf="showViews" class="text-muted">
                            {{generator.numViews | number : '1.0-0'}}
                            {{generator.numViews == 1 ? ' view' : ' views'}}
                        </small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-container>
