<p>In dieser Aufgabe geht es darum, Inhaltsverzeichnisse aus Dateien in eine Datenstruktur
    einzulesen und auf dem Bildschirm auszugeben. Eine solche Datei sieht z.B. so aus:</p>

<pre>Kapitel,Titel,Seite
0,Vorwort,5
1.0,Einleitung,19
1.1,Idee dieses Buches,30
1.2,Beispiele Uebungen und Raetsel,31
1.3,Begleitmaterial zu diesem Buch,32</pre>

<p>Es handelt sich um eine tabellarische Datei im CSV-Format (Comma Separated Value), in der
    Spalten durch ein Komma getrennt sind. Die obige Beispieldatei stellt demnach die folgende
    Tabelle dar:</p>

<p>
<table class="table table-striped w-50">
    <thead>
        <tr><td>Kapitel</td><td>Titel</td><td>Seite</td></tr>
    </thead>
    <tbody>
        <tr><td>0</td><td>Vorwort</td><td>5</td></tr>
        <tr><td>1.0</td><td>Einleitung</td><td>19</td></tr>
        <tr><td>1.1</td><td>Idee dieses Buch</td><td>30</td></tr>
        <tr><td>1.2</td><td>Beispiele Uebungen und Raetsel</td><td>31</td></tr>
        <tr><td>1.3</td><td>Begleitmaterial zu diesem Buch</td><td>32</td></tr>
    </tbody>
</table>
</p>

<p>Bearbeiten Sie die folgenden Teilaufgaben:</p>

<ol type="a">
    <li>Definieren Sie mit <code>typedef</code> einen strukturierten Datentyp <b>Chapter</b>, der einen Eintrag in
        einem Inhaltsverzeichnis repräsentiert.<br/><br/>Kapitel und Titel sollen als Strings (char-Arrays)
        umgesetzt werden, die Seitenzahl als <code>long</code>-Wert.</li>
    <li>Definieren Sie mit <code>typedef</code> einen strukturierten Datentyp <b>TableOfContents</b>, der ein
        Inhaltsverzeichnis repräsentiert. Er enthält einen Zeiger auf ein Array von Kapiteln
        (Typ <code>Chapter*</code>) sowie ein Attribut, das die Anzahl der Kapitel darstellt.</li>
    <li>Schreiben Sie eine Funktion <b>countDataLines</b>, die als <b>Parameter</b> einen <b>Dateinamen</b> einer
        CSV-Datei in der obigen Form erhält. Die Funktion liest die zum Dateinamen zugehörige
        Datei ein und zählt die Anzahl der Kapitelzeilen ohne die Kopfzeile. Für das obige Beispiel
        würde die Funktion die Zahl 5 zurückgegeben.
        <br/><br/>
        Tritt ein Fehler auf, wird eine Fehlermeldung ausgegeben und -1 zurückgegeben.</li>
    <li><p>Schreiben Sie eine Funktion <b>createTableOfContents</b>. Sie erhält als Parameter eine
        Anzahl von Kapiteleinträgen und gibt ein <b>TableOfContents</b>-Wert zurück:</p>
        <pre>TableOfContents createTableOfContents(size_t numChapters)</pre>
        Die Funktion füllt eine TableOfContents-Struktur aus und gibt sie zurück. Dabei setzt sie
        den Zeiger der Struktur auf ein dynamisch allokiertes Array (Typ <code>Chapter*</code>), dessen
        Größe dem Wert des Parameters <b>numChapters</b> entspricht. Das Attribut für die Anzahl
        der Kapitel wird ebenfalls gesetzt.
        <p>Tritt ein Fehler auf (z.B. wenn Speicherreservierung nicht möglich ist), wird eine
        Fehlermeldung ausgegeben und eine Struktur zurückgegeben, bei dem der enthaltene
        Zeiger auf NULL gesetzt wurde.</p></li>
    <li><p>Schreiben Sie eine Funktion <b>readTableOfContents</b>. Sie erhält als ersten Parameter den
        Dateinamen einer CSV-Datei und als zweiten Parameter einen Zeiger auf eine
        TableOfContents-Struktur, der von der Funktion gesetzt werden soll. Die Funktion soll
        das Inhaltsverzeichnis aus der übergebenen CSV-Datei einlesen und im Parameter toc
        eintragen.</p>
        <pre>int readTableOfContents(const char* filename, TableOfContents* toc)</pre>
        <p>Im Erfolgsfall gibt die Funktion 1 zurück, sonst 0.</p>
        <p>Die Funktion macht folgendes:</p>
        <ol>
            <li>Sie zählt die Anzahl der Kapiteleinträge der Datei. Nutzen Sie dafür die bereits
                implementierte Funktion <b>countDataLines</b> (siehe Teilaufgabe c).</li>
            <li>Sie erzeugt ein Inhaltsverzeichnis vom Typ <b>TableOfContents</b> an und setzt den
                obigen <code>toc</code> Parameter. Dafür kann die obigen Funktion <b>createTableOfContents</b>
                genutzt werden (siehe Teilaufgabe d).</li>
            <li>Sie liest die CSV-Datei gemäß dem oben vorgestellten Format ein und füllt das
                angelegte Inhaltsverzeichnis auf.</li>
        </ol></li>
    <li>Schreiben Sie eine Funktion <b>outputTableOfContents</b>. Als Parameter erhält Sie ein
        Inhaltsverzeichnis (Typ <code>TableOfContents</code>) und gibt es formatiert aus. Das Kapitel soll
        rechtsbündig, der Titel linksbündig und die Seitenzahl wiederum rechtsbündig
        ausgegeben werden, so dass eine Tabellenform entsteht.
        <p>Für das obige Beispiel würde die Ausgabe wie folgt aussehen:</p>
        <pre>
Kapitel | Titel                                              | Seite
--------+----------------------------------------------------+-------
0       | Vorwort                                            |     5
1.0     | Einleitung                                         |    19
1.1     | Idee dieses Buches                                 |    30
1.2     | Beispiele Uebungen und Raetsel                     |    31
1.3     | Begleitmaterial zu diesem Buch                     |    32</pre>
        </li>
    <li> Schreiben Sie eine Methode <b>safeClearToc</b>. Sie erhält einen Zeiger auf ein
        Inhaltsverzeichnis, gibt den Speicher des enthaltenen Kapitel-Arrays frei und setzt die
        Anzahl der Einträge auf 0.<br/><br/>
        Hinweis: Stellen Sie sicher, dass ein erneuter Aufruf von safeClearToc mit demselben
        Zeiger nicht zu einem Absturz führt.</li>
    <li>Schreiben Sie ein Hauptprogramm, das eine Beispieldatei einliest und ausgibt, so dass
        alle oben beschriebenen Funktionen mindestens einmal aufgerufen werden.</li>
</ol>