<h5>a)</h5>

<p>Mit dem <code>struct</code>-Schlüsselwort wird eine Struktur definiert. Über <code>typedef</code> wird diese als Typ definiert.
    Der strukturierte Typ verfügt über einen Namen (char-Array), einen Titel (char-Array) und eine Seitenzahl (long).</p>
<pre>
typedef struct {
    char chapterID[64];
    char title[64];
    long page;
} Chapter;</pre>

<h5>b)</h5>

<p>Wir definieren den strukturierten Datentyp gemäß Aufgabenstellung als Zeiger auf ein Array von Kapiteln
    (<code>Chapter*</code>) und die Anzahl an Kapiteln (<code>size_t</code>).</p>
<pre>
typedef struct {
    Chapter* chapters;
    size_t numChapters;
} TableOfContents;</pre>

<h5>c)</h5>

<p>In dieser Aufgabe geht es darum, die Anzahl der Kapitel aus einer angegebenen CSV-Datei zu lesen.
Diese entspricht der Anzahl der Zeilen abzüglich der ersten Kopfzeile.</p>

<pre>
int countDataLines(const char* filename) {
</pre>

<p>Die angegebene Datei wird zunächst mit der <code>fopen</code>-Funktion geöffnet. Dabei wird der Dateiname und der Modus zum Öffnen
    übergeben. Die Datei wird als Textdatei zum Lesen geöffnet, was den Modus &quot;rt&quot; ergibt. Kommt es zu
    einem Fehler beim Öffnen, gibt <code>fopen</code> NULL zurück. Wir fangen diesen Fall ab und geben eine
    Fehlermeldung über <code>fprintf</code> in den Standard-Fehlerkanal <code>stderr</code> aus.</p>

<pre>
    // Open file
    FILE* file = fopen(filename, "rt");
    if(file == NULL) {
        fprintf(stderr, "ERROR: Cannot open file '%s'.", filename);
        return -1;
    }
</pre>

<p>Nach dem Öffnen lesen wir die Datei Zeichen für Zeichen von Anfang bis Ende über eine while-Schleife.
    Jedes Mal, wenn wir auf einen Zeilenumbruch (<code>\n</code>) stoßen, erhöhen wir einen Zähler,
    den wir vor der Schleife mit 0 initialisiert haben. Die Funktion <code>getc</code> liefert uns jeweils das
    nächste Zeichen. Am Ende der Datei gibt <code>getc</code> -1 zurück und wir brechen die Schleife ab
    (es gibt dann keine weiteren Zeichen).</p>

<pre>
    // Count number of newline characters
    int ch;
    int numLines = 0;
    while(-1 != (ch = getc(file))) {
        numLines += (ch == '\n');
    }
</pre>

    <p>Nach Verlassen der Schleife schließen wir die Datei mit der <code>fclose</code>-Funktion.
    Am Ende geben wir die Anzahl Zeilen zurück, wobei wir 1 abziehen, da die Kopfzeile nicht gezählt werden soll.
    Der zurückgegebene Wert entspricht der Anzahl der Kapitel.</p>

<pre>
    // Close file
    fclose(file);

    // Return number of lines without header
    return numLines - 1;
}
</pre>

<p>Insgesamt sieht die Lösung wie folgt aus:</p>

<pre>
int countDataLines(const char* filename) {
    // Open file
    FILE* file = fopen(filename, "rt");
    if(file == NULL) {
        fprintf(stderr, "ERROR: Cannot open file '%s'.", filename);
        return -1;
    }

    // Count number of newline characters
    int ch;
    int numLines = 0;
    while(-1 != (ch = getc(file))) {
        numLines += (ch == '\n');
    }

    // Close file
    fclose(file);

    // Return number of lines without header
    return numLines - 1;
}
</pre>

<h5>d)</h5>

<p>Die zu schreibende Funktion erhält die Anzahl der Kapitel und soll eine TableOfContents-Struktur zurückgeben.</p>

<pre>
TableOfContents createTableOfContents(size_t numChapters) {
</pre>

<p>Mit der <code>calloc</code>-Funktion wird ein Array von Kapiteln dynamisch allokiert. Schlägt dies fehl, wird <code>NULL</code>
    zurückgegeben und wir geben eine Fehlermeldung aus (wiederum mit <code>fprintf</code> in den Fehlerkanal <code>stderr</code>).
    Außerdem setzen wir gemäß Aufgabenstellung Fehlerwerte für eine TableOfContents-Variable (chapters-Attribut
    ist <code>NULL</code>) und geben diese zurück.</p>

<pre>
    Chapter* chapters = (Chapter*) calloc(numChapters, sizeof(Chapter));
    if(chapters == NULL) {
        fprintf(stderr, "Cannot allocate chapter array.\n");
        TableOfContents toc;
        toc.chapters = NULL;
        toc.numChapters = 0;
        return toc;
    }
</pre>

<p>Nach erfolgreichen Aufruf von <code>calloc</code> wird eine Variable des zuvor definiert strukturierten Datentyps TableOfContents
    erstellt. Der Zeiger auf das Array sowie die Anzahl der Kapitel wird der Variable zugewiesen.
    Anschließend wird die Variable zurückgegeben.</p>

<pre>
    TableOfContents toc;
    toc.chapters = chapters;
    toc.numChapters = numChapters;
    return toc;
}
</pre>

<p>Insgesamt sieht die Lösung wie folgt aus:</p>

<pre>
TableOfContents createTableOfContents(size_t numChapters) {
    Chapter* chapters = (Chapter*) calloc(numChapters, sizeof(Chapter));
    if(chapters == NULL) {
        fprintf(stderr, "Cannot allocate chapter array.\n");
        TableOfContents toc;
        toc.chapters = NULL;
        toc.numChapters = 0;
        return toc;
    }

    TableOfContents toc;
    toc.chapters = chapters;
    toc.numChapters = numChapters;
    return toc;
}
</pre>

<h5>e)</h5>

<p>In dieser Teilaufgabe setzen wir alles zusammen. Die Funktion bekommt einen Dateinamen übergeben und einen
Zeiger auf eine zu füllende TableOfContents-Struktur (Call-by-reference).</p>

<pre>
int readTableOfContents(const char* filename, TableOfContents* toc) {
</pre>

<p>Mit der countDataLines-Funktion (in Teilaufgabe c implementiert) ermitteln wir zunächst die Anzahl der Zeilen.
    Wenn die Anzahl weniger oder gleich 0 beträgt, verlassen wir die Funktion direkt und geben 0 zurück.</p>

<pre>
    // Count number of lines
    size_t numEntries = countDataLines(filename);
    if(numEntries <= 0) {
        return 0;
    }
</pre>

<p>Mit der createTableOfContents-Funktion (in Teilaufgabe d implementiert) wird nun ein leeres Inhaltsverzeichnis
    generiert. Das erzeugte Inhaltsverzeichnis wird in den zweiten Parameter geschrieben - dies entspricht einer
    Rückgabe über Call-by-reference. Wir besorgen uns noch einen Zeiger auf die Kapitel, den wir später benötigen.</p>

<pre>
    // Allocate chapter array
    *toc = createTableOfContents(numEntries);
    Chapter* chapters = toc->chapters;
</pre>

<p>Nun wird die Datei über <code>fopen</code> geöffnet (im Lesemodus für Textdatei &quot;rt&quot;). Schlägt dies
    Fehler (Rückgabe NULL), geben wir eine Fehlermeldung aus und geben 0 zurück.</p>

<pre>
    // Open file
    FILE* file = fopen(filename, "rt");
    if(file == NULL) {
        fprintf(stderr, "ERROR: Cannot open file '%s'.", filename);
        return 0;
    }
</pre>

<p>Die Datei soll gelesen und anschließend in das übergebene Inhaltsverzeichnis (Typ TableOfContends)
geschrieben werden. Die erste Zeile enthält die Kopfzeilen und wird deswegen übersprungen.</p>

<pre>
    // Skip header
    char buf[256];
    fgets(buf, 256, file);
</pre>

<p>Nun iterieren wir über eine Schleife durch jede Zeile der Datei, bis das Dateiende erreicht ist. In diesem Fall
gibt die <code>feof</code>-Funktion 0 (false) zurück. Wir definieren zuvor noch drei lokale Strings und einen Zähler
für die aktuelle Zeile:</p>

<pre>
    // Read all lines
    char chapterID[64], title[64], page[64];
    int row = 0;
    while(!feof(file)) {
</pre>

<p>Wir lesen mit der fgets-Funktion die nächste Zeile in den Puffer <code>buf</code>. Da diese auch Zeilenumbrüch mitliest,
    entfernen wir die Zeichen mit Ascii-Codes 13 (&quot;\n&quot;) bzw. 10 (&quot;\r&quot;) am Ende der Zeile. Dazu
    ermitteln wir den Index, bei dem diese Zeichen zu ersten Mal auftreten und setzen den Puffer an dieser Position auf 0.</p>

<pre>
        // Read line
        fgets(buf, 256, file);
        int i = 0;
        for(; i < strlen(buf) && buf[i] != 10 && buf[i] != 13; i++) {
        }
        buf[i] = 0;
</pre>

<p>Wir lesen erst das Kapitel ein. Dazu kopieren wir den gesamten Puffer in die Kapitelbezeichnung, suchen dann nach
dem trennenden Komma (zwischen Kapitel und Titel) und schneiden den String an dieser Stelle ab. Finden wir kein
Komma, stimmt etwas mit dem Dateiformat nicht. Dann geben wir eine Fehlermeldung aus und 0 zurück.</p>

<pre>
        // Read chapter
        strcpy(chapterID, buf);
        char* p = strchr(chapterID, ',');
        if(p == 0) {
            fprintf(stderr, "ERROR: Invalid file format.");
            return 0;
        }
        *p = 0;
</pre>

<p>Beim Titel gehen wir analog vor. Wir beginnen die Suche aber nach der Stelle hinter dem ersten Komma, indem wir
auf den <code>buf</code>-Zeiger die Länge des Kapitels und 1 (für das Komma) addieren.</p>

<pre>
        // Read title
        strcpy(title, buf + strlen(chapterID) + 1);
        p = strchr(title, ',');
        if(p == 0) {
            fprintf(stderr, "ERROR: Invalid file format.");
            return 0;
        }
        *p = 0;
</pre>

<p>Danach lesen wir die Seite aus. Es handelt sich um den Reststring, der hinter dem zweiten Komma nach dem Kapitel und
    dem Titel beginnt:</p>

<pre>
        // Read page
        strcpy(page, buf + strlen(chapterID) + strlen(title) + 2);
</pre>

<p>Der Wert 2 wird hier aufaddiert, da zwei Kommas berücksichtigt werden. Wir schreiben die drei ausgelesenen Werte
an die aktuelle Position im Ergebnis-Array, wobei wir die Seitenzahl noch über die Funktion <code>atol</code>
(&quot;alphanumeric to long&quot;) in einen <code>long</code>-Wert umwandeln. Anschließend erhöhen wir den
Zeilenzähler.</p>

<pre>
        // Fill array
        strcpy(chapters[row].chapterID, chapterID);
        strcpy(chapters[row].title, title);
        chapters[row].page = atol(page);

        row++;
    }
</pre>

<p>Am Ende der Funktion schließen wir die Datei und geben für den Erfolgsfall 1 zurück.</p>

<pre>
    fclose(file);
    return 1;
}
</pre>

<p>Insgesamt sieht die Lösung wie folgt aus:</p>

<pre>
int readTableOfContents(const char* filename, TableOfContents* toc) {
    // Count number of lines
    size_t numEntries = countDataLines(filename);
    if(numEntries <= 0) {
        return 0;
    }

    // Allocate chapter array
    *toc = createTableOfContents(numEntries);
    Chapter* chapters = toc->chapters;

    // Open file
    FILE* file = fopen(filename, "rt");
    if(file == NULL) {
        fprintf(stderr, "ERROR: Cannot open file '%s'.", filename);
        return 0;
    }

    // Skip header
    char buf[256];
    fgets(buf, 256, file);

    // Read all lines
    char chapterID[64], title[64], page[64];
    int row = 0;
    while(!feof(file)) {
        // Read line
        fgets(buf, 256, file);
        int i = 0;
        for(; i < strlen(buf) && buf[i] != 10 && buf[i] != 13; i++) {
        }
        buf[i] = 0;

        // Read chapter
        strcpy(chapterID, buf);
        char* p = strchr(chapterID, ',');
        if(p == 0) {
            fprintf(stderr, "ERROR: Invalid file format.");
            return 0;
        }
        *p = 0;

        // Read title
        strcpy(title, buf + strlen(chapterID) + 1);
        p = strchr(title, ',');
        if(p == 0) {
            fprintf(stderr, "ERROR: Invalid file format.");
            return 0;
        }
        *p = 0;

        // Read page
        strcpy(page, buf + strlen(chapterID) + strlen(title) + 2);

        // Fill array
        strcpy(chapters[row].chapterID, chapterID);
        strcpy(chapters[row].title, title);
        chapters[row].page = atol(page);

        row++;
    }

    fclose(file);
    return 1;
}
</pre>

<h5>f)</h5>

<p>Ein übergebenes Inhaltsverzeichnis (Typ TableOfContents) soll formatiert ausgegeben werden.
Eine Schleife iteriert durch alle Kapitel im Inhaltsverzeichnis und gibt in jeder Iteration die entsprechende Zeile mit der
<code>printf</code>-Funktion aus.</p>
<pre>
void outputTableOfContents(TableOfContents toc) {
    Chapter* chapter = toc.chapters;
    printf("Kapitel | Titel                                              | Seite\n");
    printf("--------+----------------------------------------------------+-------\n");
    for(int i = 0; i < toc.numChapters; i++, chapter++) {
        printf("%-7s | %-50s | %-5ld\n", chapter->chapterID, chapter->title, chapter->page);
    }
}
</pre>
<p>Die Formatierbezeichner werden hier den Typen entsprechend definiert, enthalten aber zusätzlich Anweisungen zur
    Ausrichtung. <code>%-7s</code> füllt einen String bei der Ausgabe mit Leerzeichen auf, bis er 7 Zeichen ergibt.
    Analog dazu funktioniert <code>%-50s</code>. Die Seitenzahl (long-Wert) wird rechtsbündig mit bis zu 5 Leerzeichen
    ausgegeben. Dazu wird der Format-Bezeichner <code>% 5ld</code> verwendet.</p>

<h5>g)</h5>

<p>Mit der <code>safeClearToc</code>-Funktion wird der Speicher des erhaltenen Kapitel-Arrays mit der <code>free</code>-Funktion
    freigegeben. Die Speicheradresse des Arrays wird anschließend auf NULL gesetzt. Die Anzahl der Kapitelzeilen wird
    auf 0 gesetzt.</p>
<pre>
void safeClearToc(TableOfContents* toc) {
    if(toc->chapters) {
        free(toc->chapters);
        toc->chapters = NULL;
        toc->numChapters = 0;
    }
}</pre>
<p>Vor der Freigabe wird geprüft, ob das <code>chapters</code>-Attribut gesetzt ist, d.h. nicht <code>NULL</code> ist.
    Nach der Freigabe wird es auf <code>NULL</code> gesetzt. Dadurch wird sichergestellt, dass bei einem erneuten Aufruf
    der Funktion nicht erneut <code>free</code> aufgerufen wird. Die Funktion verhindert also fehlerhafte Doppelfreigaben
    des Speichers.</p>

<h5>h)</h5>

<p>In einer Hauptfunktion werden alle Methoden mit einer Beispieldatei getestet.</p>
<pre>
int main(int argc, const char * argv[]) {
    TableOfContents toc;
    if(readTableOfContents("contents.txt", &toc)) {
        outputTableOfContents(toc);
    }

    safeFreeToc(&toc);
    return 0;
}
</pre>