<p>Stellen Sie die Zahl (<span>[[${number}]]</span>)<sub>10</sub> als [[${bitCount}]]-Bit-Binärzahl im
<span th:if="${complement.name() == 'ONE'}">Einer-Komplement</span>
<span th:if="${complement.name() == 'TWO'}">Zweier-Komplement</span>
dar.</p>
