<p>Zunächst einmal wandeln wir den Betrag der Zahl (+[(${-number})])<sub>10</sub> ins Binärformat um:</p>

<div th:replace="common/integerDivisionAlgorithm :: integerDivisionAlgorithm(result = ${integerConversionResult})"></div>

<p>Die [(${bitCount})]-Bit-Zahl im Binärformat ergibt sich durch Hinzufügen von führenden Nullen:</p>

<table class="equationTable">
    <tr>
        <td><b>([(${binaryIntegerFullBit})])<sub>2</sub></b></td>
    </tr>
</table>

<p><span th:if="${complement.name() == 'TWO'}">Berechnen wir zunächst das Einer-Komplement. </span>Das Einer-Komplement erhält man einfach durch &quot;Kippen&quot; aller (Nullen werden durch Einsen getauscht und umgekehrt):</p>

<table class="equationTable">
    <tr>
        <td th:each="char : ${binaryIntegerFullBit.toCharArray()}" th:text="${char}"/></td><td class="ms-2 text-muted">(originale Zahl)</td>
    </tr>
    <tr>
        <td th:each="char : ${oneComplementResult.toCharArray()}" th:text="${char}"/></td><td class="ms-2 text-muted">(Einer-Komplement)</td>
    </tr>
</table>

<div th:if="${complement.name() == 'ONE'}">
    <p>Die Zahl ([(${number})])<sub>10</sub> wird somit im binären [(${bitCount})]-Bit-Einer-Komplement wie folgt dargestellt:</p>
    <table class="equationTable">
        <tr>
            <td><b>([(${oneComplementResult})])<sub>2</sub></b></td>
        </tr>
    </table>
</div>

<div th:if="${complement.name() == 'TWO'}">
    <p>Das Zweier-Komplement wird nun dadurch gebildet, dass wir noch 1 auf das Einer-Komplement aufaddieren:</p>

    <div th:replace="common/binaryComputationTable :: binaryComputationTable(table = ${twoComplementAdditionTable})"></div>

    <p>Das Zahl ([(${number})])<sub>10</sub> wird somit im binären [(${bitCount})]-Bit-Zweier-Komplement wie folgt dargestellt:</p>
    <table class="equationTable">
        <tr>
            <td><b>([(${twoComplementResult})])<sub>2</sub></b></td>
        </tr>
    </table>
</div>