<p>Schreiben Sie eine Funktion <b>writeArrayToFile</b>.</p>

<p>Die Funktion erhält einen String sowie einen Dateinamen. Der String wird als Text in die angegebene Datei
geschrieben. Existiert die Datei schon, wird der Text angehängt.</p>

<p>Kann die Datei nicht geöffnet werden, wird eine Fehlermeldung ausgegeben.</p>

