<p>Wir definieren zunächst den Funktionskopf gemäß Aufgabenstellung:</p>

<pre>void writeArrayToFile(const char* str, const char* filename) {</pre>

<p>Nun Öffnen wir die Datei mit der <code>fopen</code>-Funktion aus der Standardbibliothek. Als Parameter werden der
    Dateiname und der Modus für den Zugriff auf die Datei angegeben. Für den Modus verwenden wir den String &quot;at&quot;,
    welcher erlaubt, am Ende der Datei weiterzuschreiben, falls die Datei schon existiert. Existiert die Datei noch nicht,
    wird sie angelegt.</p>

<pre>    FILE* file = fopen(filename, "at");</pre>

<p>Wenn beim Öffnen der Datei ein Fehler auftritt, wird mit der <code>fprintf</code>-Funktion eine Fehlermeldung ausgegeben.
Der Parameter <code>stderr</code> schreibt dabei in den Standard-Fehlerkanal. In der Fehlermeldung wird der Dateiname
(String) mit dem Formatbezeichner <code>%s</code> eingefügt. Mit dem <code>return</code>-Statement verlassen wir dann die Funktion vorzeitig.</p>

<pre>
    if(file == NULL) {
        fprintf(stderr, "ERROR: Cannot open file '%s' for appending.\n", filename);
        return;
    }
</pre>

<p>Ansonsten dürfen wir nun in die Datei schreiben. Dafür verwenden wir die <code>fprintf</code>-Funktion.</p>

<pre>
    fprintf(file, "%s", str);
</pre>

<p>Der erste Parameter ist der Datei-Zeiger der geöffneten Datei. Für den zweiten Parameter wird der Formatbezeichner "%s"
übergeben, da wir einen String in die Datei schreiben möchten. Für den dritten Parameter übergeben wir den String <code>str</code>,
der in die Datei geschrieben werden soll. Diesen hat unsere Funktion als Parameter erhalten.</p>

Anschließend sollte die Datei mit der fclose-Funktion geschlossen werden.</p>

<pre>
    fclose(file);
}</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>void writeArrayToFile(const char* str, const char* filename) {
    FILE* file = fopen(filename, "at");

    if(file == NULL) {
        fprintf(stderr, "ERROR: Cannot open file '%s' for appending.\n", filename);
        return;
    }

    fprintf(file, "%s", str);

    fclose(file);
}</pre>