<p>Gegeben ist die folgende binäre Folge:</p>

<table class="equationTable">
    <tr>
        <td>(<span>[[${number}]]</span>)<sub>[[${2}]]</sub></td>
    </tr>
</table>

<p>Es handelt sich dabei um eine Gleitpunktzahl, die im IEEE 754/854-Format dargestellt ist. Dekodieren Sie die Zahl und stellen Sie sie als Dezimalzahl dar.</p>

<p>Geben Sie alle Rechen- und Umwandlungsschritte an. Weisen Sie das Vorzeichen, den Biased Exponent und die Mantisse explizit aus.</p>
