<p>Hier ist eine 32-Bit-Zahl im IEEE 754/854-Format gegeben. Die Zahl setzt sich aus drei Teilen zusammen. Um dies zu verdeutlichen, gruppieren wir die Bits der Zahl:</p>

<table class="equationTable">
    <tr>
        <td class="text-center ieeeSign">[[${signBit}]]</td>
        <td class="text-center ieeeBiasedExponent">[[${biasedExponentString}]]</td>
        <td class="text-center ieeeMantissa">[[${originalFractionString}]]</td>
    </tr>
    <tr>
        <td class="text-center smallDescription">Vorzeichen</td>
        <td class="text-center smallDescription">Biased exponent</td>
        <td class="text-center smallDescription">Mantisse</td>
    </tr>
    <tr>
        <td class="text-center smallDescription">(1 Bit)</td>
        <td class="text-center smallDescription">(8 Bit)</td>
        <td class="text-center smallDescription">(23 Bit)</td>
    </tr>
</table>

<!-- Sign -->
<p>
Das erste Bit kodiert das <span class="ieeeSign"><b>Vorzeichen</b></span>. In diesem Fall ist das Vorzeichen [[${signBit}]] und
steht für eine<b>
<span class="ieeeSign" th:if="${signBit} == '0'"><b>positive Zahl</b></span>
<span class="ieeeSign" th:if="${signBit} == '1'"><b>negative Zahl</b></span>
</b>
<span th:if="${signBit} == '0'"> (1 würde für eine negative Zahl stehen).</span>
<span th:if="${signBit} == '1'"> (0 würde für eine positive Zahl stehen).</span>
</p>

<!-- Biased Exponent -->
<p>Die 8 Bits auf den Positionen 2 bis 9 stellen den <span class="ieeeBiasedExponent"><b>Biased Exponent</b></span> dar. In diesem Fall
ist das die Binärzahl ([[${biasedExponentString}]])<sub>2</sub>. Die wandeln wir nun in eine Dezimalzahl um:</p>

<div th:replace="common/anyNumberSystemToDecimalFormula :: anyNumberSystemToDecimalFormularTable(table = ${biasedExponentToDecTable})"></div>

<p>Wir erhalten den tatsächlichen Exponenten bei Float-Zahlen durch Einsetzen des Biased Exponent in diese Formel:</p>

<table class="equationTable">
    <tr>
        <td>Tatsächlicher Exponent</td><td>=</td><td>Biased Exponent</td><td>&ndash;</td><td>127</td>
    </tr>
</table>

<p>Also:</p>

<table class="equationTable">
    <tr>
        <td>Tatsächlicher Exponent</td>
        <td>=</td>
        <td>[[${biasedExponentToDecTable.result}]]</td>
        <td>&ndash;</td>
        <td>127</td>
        <td>=</td>
        <td><span class="ieeeActualExponent"><b>[[${actualExponent}]]</b></span></td>
    </tr>
</table>

<p>Jetzt haben wir alle Werte, um sie in die Formel aus der Vorlesung einzusetzen:</p>

<table class="equationTable">
    <tr>
        <td>Ergebnis</td>
        <td>=</td>
        <td>[[${resultSign}]](1,<span class="ieeeMantissa">Mantisse</span>)<sub>2</sub> &middot; (2<sup><span class="ieeeActualExponent">Exponent</span></sup>)<sub>10</sub></td>
    </tr>
</table>

<p>Dann setzen wir das ein:</p>

<table class="equationTable">
    <tr>
        <td>Ergebnis</td>
        <td>=</td>
        <td>[[${resultSign}]](1,<span class="ieeeMantissa">[[${originalFractionString}]]</span>)<sub>2</sub> &middot; (2<sup><span class="ieeeActualExponent">[[${actualExponent}]]</span></sup>)<sub>10</sub></td>
    </tr>
</table>

<p>Durch Verschieben des Kommas werden wir den Faktor 2<sup>x</sup> los, d.h. er wird zum Faktor 1 und damit irrelevant.</p>

<table class="equationTable">
    <tr>
        <td>Ergebnis</td>
        <td>=</td>
        <td>[[${resultSign}]](1,<span class="ieeeMantissa">[[${originalFractionString}]]</span>)<sub>2</sub> &middot; (2<sup><span class="ieeeActualExponent">[[${actualExponent}]]</span></sup>)<sub>10</sub></td>
    </tr>
    <tr>
        <td></td>
        <td>=</td>
        <td>[[${resultSign}]](<span class="ieeeMantissa">[[${binaryResult}]]</span>)<sub>2</sub> &middot; (2<sup><span class="ieeeActualExponent">0</span></sup>)<sub>10</sub>
    </tr>
    <tr>
        <td></td>
        <td>=</td>
        <td>[[${resultSign}]](<span class="ieeeMantissa">[[${binaryResult}]]</span>)<sub>2</sub>
    </tr>
</table>

<p th:if="${signBit} == '0'">Wir überführen die Zahl nach dem üblichen Algorithmus ins Dezimalsystem:</p>
<p th:if="${signBit} == '1'">Wir überführen nun den Betrag der Zahl nach dem üblichen Algorithmus ins Dezimalsystem:</p>

<div th:replace="common/anyNumberSystemToDecimalFormula :: anyNumberSystemToDecimalFormularTable(table = ${binaryResultToDecTable})"></div>

<p th:if="${signBit} == '0'">Das Endergebnis ist demnach:</p>
<p th:if="${signBit} == '1'">Unter Berücksichtigung des negativen Vorzeichens ist das Endergebnis:</p>

<table class="equationTable">
    <tr>
        <td th:if="${signBit} == '0'"><b>[[${binaryResultToDecTable.result}]]</b></td>
        <td th:if="${signBit} == '1'"><b>-[[${binaryResultToDecTable.result}]]</b></td>
    </tr>
</table>