<p>Schreiben Sie eine Funktion <b>readFileContentToMemory</b>.</p>

<p>Die Funktion erhält einen Dateinamen als Parameter. Die Aufgabe der Funktion ist es, den Inhalt der Datei in ein
    dynamisch allokiertes <b>char-Array</b> einzulesen: </p>

<p>Die Funktion soll dabei den Datentyp <code>FileContent</code> zurückgeben, der wie folgt definiert ist:</p>

<pre>
typedef struct {
    char* content;      // Content of file
    size_t fileSize;    // Size of file
} FileContent;
</pre>

<p>Wenn beim Einlesen ein Fehler auftritt, erscheint eine Fehlermeldung und ein
    <code>FileContent</code>-Objekt wird zurückgeben, bei dem <code>array</code> auf <code>NULL</code> und fileSize auf <code>0</code> gesetzt
    sind.</p>