<p>Der strukturierte Datentyp <code>FileContent</code> ist bereits vorgegeben. Er beinhaltet einen String für den Inhalt
der Datei und die Dateigröße:</p>

<pre>
typedef struct {
    char* content;      // Content of file
    size_t fileSize;    // Size of file
} FileContent;
</pre>

<p>Wir legen nun die Funktion <code>readFileContentToMemory</code> an. Der Dateiname wird als konstanter Zeiger auf einen String übergeben.</p>

<pre>FileContent readFileContentToMemory(const char* filename) {</pre>

<p>Wir legen die lokale Variable <code>result</code> an, in der wir das Ergebnis speichern werden:</p>

<pre>
    FileContent result;
</pre>

<p>Die zu lesende Datei wird mit der Funktion <code>fopen</code> geöffnet. Dabei wird der Parameter <code>"rb"</code>
    angegeben. Dieser steht für &quot;read binary&quot;, d.h. für das Lesen im Binärmodus.</p>

<pre>
    FILE* file = fopen(filename, "rb");
</pre>

<p>Wenn ein Fehler beim Öffnen auftritt, gibt <code>fopen</code> den Wert <code>NULL</code> zurück. Wir fangen diesen
Fall ab, geben eine Fehlermeldung aus und setzen das Ergebnisobjekt entsprechend der Aufgabenstellung auf <code>NULL</code>
(content) bzw. <code>0</code> (fileSize). Das Objekt wird dann zurückgegeben.</p>

<pre>
    if(file == NULL) {
        fprintf(stderr, "ERROR: Cannot open file '%s'.\n", filename);
        result.content = NULL;
        result.fileSize = 0;
        return result;
    }
</pre>

<p>Wenn kein Fehler auftritt, wird die Funktion weiter ausgeführt.</p>

<p>Wir benötigen die Größe der Datei, um entsprechend Speicher reservieren zu können. Um diese zu erhalten,
setzen wir den Dateizeiger mit der Funktion <code>fseek</code> auf das Ende der Datei und holen uns die aktuelle
Position &ndash; und damit die Dateigröße &ndash; durch einen Aufruf der Funktion <code>ftell</code>.</p>

<pre>
    // Get file size
    fseek(file, 0, SEEK_END);
    result.fileSize = ftell(file);
</pre>

<p>Nun setzen wir den Dateizeiger wieder auf den Anfang der Datei...</p>

<pre>
    fseek(file, 0, SEEK_SET);
</pre>

<p>...und allokieren anhand der Dateigröße dynamisch Speicher. Hier müssen wir davon ausgehen, dass die Allokierung
fehlschlagen kann.</p>

<pre>
    // Read content to array
    result.content = (char*) malloc(result.fileSize);
    if(result.content == NULL) {
        fprintf(stderr, "ERROR: Cannot allocate content for file '%s'.\n", filename);
        result.content = NULL;
        result.fileSize = 0;
        fclose(file);
        return result;
    }
</pre>

<p>Bitte beachten, dass im Fehlerfall sauber aufgeräumt werden muss, was auch ein Schließen der Datei mit
<code>fclose</code> umfasst.</p>

<p>Wenn keine Fehler auftreten, wird mit der Funktion <code>fread</code> der Inhalt der Datei in den von uns allokierten
Speicher eingelesen.</p>

<pre>
    // Read content to array
    fread(result.content, 1, result.fileSize, file);
</pre>

<p>Anschließend wird mit der Funktion <code>fclose</code> der Stream geschlossen und das Ergebnis wird zurückgegeben.</p>

<pre>
    // Close file
    fclose(file);

    return result;
}
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>
typedef struct {
    char* content;      // Content of file
    size_t fileSize;    // Size of file
} FileContent;

FileContent readFileContentToMemory(const char* filename) {
    FileContent result;

    FILE* file = fopen(filename, "rb");
    if(file == NULL) {
        fprintf(stderr, "ERROR: Cannot open file '%s'.\n", filename);
        result.content = NULL;
        result.fileSize = 0;
        return result;
    }

    // Get file size
    fseek(file, 0, SEEK_END);
    result.fileSize = ftell(file);

    fseek(file, 0, SEEK_SET);

    // Read content to array
    result.content = (char*) malloc(result.fileSize);
    if(result.content == NULL) {
        fprintf(stderr, "ERROR: Cannot allocate content for file '%s'.\n", filename);
        result.content = NULL;
        result.fileSize = 0;
        fclose(file);
        return result;
    }

    // Read content to array
    fread(result.content, 1, result.fileSize, file);

    // Close file
    fclose(file);

    return result;
}
</pre>