<div th:fragment="anyNumberSystemToDecimalFormularTable (table)">
    <table class="equationTable">
        <tr>
            <td>
                <span th:each="summand, iter: ${table.summands}"
                      th:attr="class=${summand.factor == 0 ? 'text-muted' : ''}">
                    [(${summand.factor})] &middot; [(${table.numericBase})] <sup>[(${summand.exponent})]</sup>
                    <span th:text="${iter.last} ? '' : ' + '"></span>
                </span>
            </td>
            <td>=</td>
            <td>[[${table.result}]]</td>
        </tr>
    </table>
</div>