<div th:fragment="binaryComputationTable (table)">
    <table class="binaryComputationTable">
        <tr>
            <td></td><td th:each="char: ${table.summand1.toCharArray()}">[(${char})]</td>
        </tr>
        <tr>
            <td>[(${operator})]</td><td th:each="char: ${table.summand2.toCharArray()}">[(${char})]</td>
        </tr>
        <tr>
            <td></td><td th:each='char: ${table.carryOver.toCharArray()}' class="carryOverDigit">[(${char})]</td>
        </tr>
        <tr>
            <td class="sumLineRow">=</td><td th:each="char: ${table.result.toCharArray()}" class="sumLineRow">[(${char})]</td>
        </tr>
    </table>
</div>