<div th:fragment="decimalToBinOctHex (result)">
    <p th:if="${result.decimalPart}">
        Es ist ein gebrochene rationale Zahl gegeben, also eine Zahl, die sowohl einen ganzzahigen Teil ([(${result.integerPart})])
        als auch einen Teil hinter dem Komma beinhaltet (0,[(${result.decimalPart})]). Diese beiden Teile müssen wir getrennt betrachten und
        am Ende wieder zusammenführen.
    </p>

    <!-- Integer part is 0 -->
    <div th:if='${result.integerPart.equals("0")}'>
        Der ganzzahlige Teil ist 0, daher können wir den Teil vor dem Komma direkt als <b>(0)<sub>[(${result.targetBase})]</sub></b> aufschreiben.
    </div>
    <!-- Integer part is not 0 -->
    <div th:unless='${result.integerPart.equals("0")}'>
        <p>Für die Umwandlung der Ganzzahl nehmen wir den Divisionsalgorithmus:</p>
        <div th:replace="common/integerDivisionAlgorithm :: integerDivisionAlgorithm(result = ${result.integerConversionResult})"></div>
    </div>

    <div th:if="${result.decimalPart}">
        <p>Kommen wir nun zum echt gebrochenen Teil. Hier nehmen wir den Multiplikationsalgorithmus aus der Vorlesung.</p>

        <table class="equationTable">
            <tr th:each="row: ${result.decimalConversionRows}">
                <td>[(${row.currentNumber})]</td><td>&middot;</td><td>[(${row.base})]</td><td>=</td><td>[(${row.decimalResult})]</td>
                <td>Überlauf [(${row.overflow})]</td>
                <td class="ms-2">&rarr; Ziffer <b>[(${row.digit})]</b></td>
                <td class="ms-2 text-muted" th:if="${row.beginOfRecursion}">(hier beginnt der periodische Teil)</td>
                <td class="ms-2 text-muted" th:if="${row.endByRecursionHint}">(das Ergebnis ist periodisch, denn die nächste Zahl [(${row.nextNumber})] hatten wir schon mal)</td>
                <td class="ms-2 text-muted" th:if="${row.endByZeroHint}">(wir können hier aufhören, weil das Ergebnis [(${row.decimalResult})] keine Nachkommastellen enthält)</td>
                <td class="ms-2 text-muted" th:if="${row.lastDigitHint}">(hier hören wir auf, da die maximal geforderte Stellenanzahl erreicht ist)</td>
            </tr>
        </table>

        <p>Schreibt man nun die Ziffern der Überlaufe von oben nach unten auf und setzt &quot;0,&quot; davor, erhält man das Ergebnis für den echt gebrochenen Teil:</p>

        <table class="equationTable">
            <tr>
                <td><b>(0,[(${result.decimalResult})])<sub>[(${result.targetBase})]</sub></b></td>
            </tr>
        </table>

        <p>Nun setzen wir den ganzzahligen und den echt gebrochenen Teil der Zahl zusammen und erhalten das Endergebnis:</p>

        <table class="equationTable">
            <tr>
                <td><b>([(${result.integerConversionResult.result})],[(${result.decimalResult})])<sub>[(${result.targetBase})]</sub></b></td>
            </tr>
        </table>
    </div>
</div>