<div th:fragment="integerDivisionAlgorithm (result)">
    <table class="equationTable">
        <tr th:each="row: ${result.conversionRows}">
            <td>[(${row.currentNumber})]</td><td>:</td><td>[(${row.base})]</td>
            <td>=</td><td>[(${row.integerResult})]</td>
            <td>Rest [(${row.residual})]</td>
            <td class="ms-2">&rarr; Ziffer <b>[(${row.digit})]</b></td>
        </tr>
    </table>

    <p>Schreibt man nun die Restwerte von unten nach oben auf, erhält man das Ergebnis für die Ganzzahl:</p>

    <table class="equationTable">
        <tr>
            <td><b>([(${result.result})])<sub>[(${result.resultBase})]</sub></b></td>
        </tr>
    </table>
</div>