<p>Ersetzen Sie die folgenden Funktionen <b>getSquare</b> und <b>printFactorial</b> durch Makro-Implementierungen.</p>

<p>Passen Sie außerdem das Hauptprogramm entsprechend an.</p>

<pre>#include &lt;stdio.h&gt;

/**
 * Returns square of number.
 * @param x number
 * @return x*x
 */
long getSquare(long x) {
    return x * x;
}

/**
 * Prints factorial of number.
 * @param x number
 */
void printFactorial(long x) {
    long result = 1;
    for(int i = 1; i &lt= x; i++) {
        result *= i;
    }
    printf("Factorial: %ld\n", result);
}

/**
 * Main program
 */
int main(int argc, const char * argv[]) {
    long x;
    printf("Please enter a value: ");
    scanf("%ld", &x);

    printf("%ld^2 = %ld\n", x, getSquare(x));

    printFactorial(x);

    return 0;
}
</pre>


