<p>Betrachten Sie die im Folgenden definierte Formel zur Berechnung des Volumens eines Quaders:</p>

<table class="equationTable">
    <tr>
        <td>V = a ∗ b ∗ h (Einheit: cm<sup>3</sup>)</td>
    </tr>
</table>

<p>Wobei a der ersten Seitenlänge in cm entspricht und b der zweiten Seitenlänge in cm entspricht.
    Für die Höhe in cm wird h verwendet.</p>

<p>Schreiben Sie einen Präprozessor-Makro, welches das Volumen eines Quaders anhand von
drei Werten a, b und h berechnet. Schreiben Sie ein zugehöriges Hauptprogramm. Die Werte für a, b und h werden vom
Nutzer eingegeben, anschließend wird das Makro aufgerufen und das Ergebnis
ausgegeben. Bei Eingabe negativer Werte wird auf dem Bildschirm eine Fehlermeldung
ausgegeben.</p>

<p>Eine mögliche Bildschirmausgabe könnte wie folgt aussehen:</p>

<pre>Für die Berechnung des Volumens eines Quaders geben Sie bitte die Längen der Seiten a, b und h ein:
a: 5
b: -10
h: 15
Fehler bei der Berechnung des Volumens – ungültiger Wertebereich.
Für die Berechnung des Volumens eines Quaders geben Sie bitte die Länge der Seite a, b und h ein:
a: 5
b: 10
h: 15
Das Volumen des eingegebenen Quaders beträgt V = 750.
</pre>