<p>Makros werden wie folgt definiert:</p>

<pre>#define <i>name</i> [(<i>Parameterliste</i>)][(<i>wert</i>)]</pre>

<h5>1. getSquare</h5>

<p>Wir ersetzen zunächst die Funktion <code>getSquare</code> durch ein Makro:</p>

<pre>
#define SQUARE(x) ((x)*(x))
</pre>

<p>Da es sich bei Makros im Prinzip um eine Textersetzung handelt, haben wir den Parameter x in Klammern
gefasst. Dies verhindert, dass es beim Einsetzen des Makros zu semantischen Fehlern kommt. Würde das Makro
stattdessen als <code>#define SQUARE(x) (x*x)</code> definiert, würde der Aufruf <code>SQUARE(1+2)</code>
den Term <code>(1+2*1+2)</code>, also 5 ergeben (statt 9). Mit unserer Definition ergibt der Aufruf
hingegen <code>((1+2)*(1+2))</code>, also was dem Wert 9 entspricht.</p>

<h5>2. printFactorial</h5>

<p>Um die Funktion <code>printFactorial</code> zu ersetzen, benötigen wir ein mehrzeiliges Makro:</p>

<pre>
#define PRINT_FACTORIAL(x) { \
    long result = 1; \
    for(int i = 1; i &lt= x; i++) { \
        result *= i; \
    } \
    printf("Factorial: %ld\n", result); \
}</pre>

<p>Bei der mehrzeiligen Umsetzung eines Makros signalisiert ein Backslash (\), dass eine weitere Zeile
folgen wird.</p>

<p>Wir müssen nun nur noch das Hauptprogramm anpassen, um statt der ursprünglichen Funktionen unsere
Makros aufzurufen.</p>

<pre>
/**
 Main program
 */
int main(int argc, const char * argv[]) {
    long x;
    printf("Please enter a value: ");
    scanf("%ld", &ampx);

    printf("%ld^2 = %ld\n", x, SQUARE(x));

    PRINT_FACTORIAL(x);

    return 0;
}
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>
#include &lt;stdio.h&gt;

#define SQUARE(x) ((x)*(x))

#define PRINT_FACTORIAL(x) { \
    long result = 1; \
    for(int i = 1; i &lt;= x; i++) { \
        result *= i; \
    } \
    printf("Factorial: %ld\n", result); \
}

/**
 * Main program
 */
int main(int argc, const char * argv[]) {
    long x;
    printf("Please enter a value: ");
    scanf("%ld", &ampx);

    printf("%ld^2 = %ld\n", x, SQUARE(x));

    PRINT_FACTORIAL(x);

    return 0;
}
</pre>