<p>Makros werden wie folgt definiert:</p>

<pre>#define <i>name</i> [(<i>Parameterliste</i>)][(<i>wert</i>)]</pre>

<p>Wir schreiben ein mehrzeiliges Makro <code>PRINT_VOLUME</code> für die Berechnung des Volumens eines Quaders. Wir übergeben
Argumente, so wie bei einer üblichen Funktion. Da ein Makro die Argumente für eine Textersetzung benutzt, werden keine
Datentypen angegeben. Wenn einer der drei Argumente kleiner als 0 ist, wird ein Fehler ausgegeben. Ansonsten werden die
Argumente miteinander multipliziert und das Ergebnis wird ausgegeben.</p>

<pre>
#define PRINT_VOLUME(a,b,h) { \
    if(a &lt; 0 || b &lt; 0 || h &lt; 0){ \
        printf("Fehler bei der Berechnung des Volumens – ungültiger Wertebereich."); \
    } \
    else{ \
        long result = a * b * h; \
        printf("Volumen des Quaders: %ld\n", result); \
    } \
} \
</pre>

<p>Bei der mehrzeiligen Umsetzung eines Makros signalisiert ein Backslash (\), dass eine weitere Zeile
    folgen wird.</p>

<p>Wir schreiben noch das zugehörige Hauptprogramm und erfassen die Eingaben des Nutzers mit der Funktion <code>scanf</code>
    für die Werte a, b und h. Anschließend wird das Makro aufgerufen und die entsprechenden Werte werden als Argument übergeben.</p>

<pre>
/**
Main program
*/
int main(int argc, const char * argv[]) {
    long a;
    long b;
    long h;
    printf("Für die Berechnung des Volumens eines Quaders geben Sie bitte die Längen der Seiten a, b und die Höhe h ein: \n");
    scanf("%ld", &a);
    scanf("%ld", &b);
    scanf("%ld", &h);

    PRINT_VOLUME(a,b,h);

    return 0;
}
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>
#include &lt;stdio.h&gt;

#define PRINT_VOLUME(a,b,h) { \
    if(a &lt; 0 || b &lt; 0 || h &lt; 0){ \
        printf("Fehler bei der Berechnung des Volumens – ungültiger Wertebereich."); \
    } \
    else{ \
        long result = 0; \
        result = a * b * h; \
        printf("Volumen des Quaders: %ld\n", result); \
    } \
} \

/**
Main program
*/
int main(int argc, const char * argv[]) {
    long a;
    long b;
    long h;
    printf("Für die Berechnung des Volumens eines Quaders geben Sie bitte die Längen der Seiten a, b und die Höhe h ein: \n");
    scanf("%ld", &a);
    scanf("%ld", &b);
    scanf("%ld", &h);

    PRINT_VOLUME(a,b,h);

    return 0;
}
</pre>