<p>Schreiben Sie eine C-Funktion, die die Potenz x<sup>y</sup> auf rekursive Weise berechnet.
x soll dabei als double und y als int Wert in einem Hauptprogramm eingelesen werden. Der Ergebniswert
soll vom Typ double sein. Die Funktion soll für alle denkbaren Eingabewerte korrekt arbeiten.</p>

