<p>Schreiben Sie zwei Funktionen: Die erste berechnet den größten gemeinsamen Teiler (ggT)
  und die zweite das kleinste gemeinsame Vielfache (kgV) von zwei zu übergebenden int-Parametern.
  Das Ergebnis soll jeweils als int-Rückgabewert geliefert werden.
</p>

<p>Hinweis: Der ggT kann mittels des Euklidischen Algorithmus berechnet werden.
</p>