<p>Ein Palindrom ist ein Wort, welches vorwärts und rückwärts gelesen genau dasselbe Wort ergibt.</p>

<p>Schreiben Sie eine <b>rekursive</b> Funktion <code>isPalindromeRecursive</code>, welche eine Zeichenfolge übergeben
bekommt. <code>isPalindromeRecursive</code> überprüft nun, ob es sich bei der übergebenen Zeichenfolge um ein
Palindrom handelt und gibt entweder <code>true</code> oder <code>false</code> zurück.</p>

<p>Hinweis: "ReNtNeR" und "reNTNeR" sind ebenfalls Palindrome.</p>