<p>Zunächst implementieren wir den Funktionskopf. Die Funktion erhält einen Wert vom Typ <code>double</code> für
die Basis und einen Wert vom Typ <code>int</code> für den Exponenten.</p>

<pre>double potenz(double basis, int exponent) {</pre>

<p>Wenn der Exponent den Wert 1 besitzt, kann direkt die Basis zurückgegeben werden, da in dem Fall die Potenz identisch zu der Basis ist.</p>

<pre>
    if (exponent == 1) {
        return basis;
    }
</pre>

<p>Für den Exponenten 0 ergibt die Potenz 1:</p>

<pre>
    else if (exponent == 0) {
        return 1.0;
    }
</pre>

<p>Ansonsten wird die Potenz berechnet, indem die Funktion rekursiv aufgerufen wird. Die Funktion erhält als Übergabeparameter
die Basis und den Exponenten verringert um 1. Die Funktion wird so lange aufgerufen bis der Exponent den Wert 1
annimmt (Abbruchbedingungen). Der Rückgabewert wird dann mit der Basis multipliziert und zurückgegeben.</p>

<pre>
    else
    {
        return basis * potenz(basis, exponent - 1);
    }
}
</pre>

<p>Wir testen die Funktion <code>potenz</code> in einem Hauptprogramm. Wir legen zuerst Variablen für die Basis und
den Exponenten an. Mit der Funktion <code>scanf</code> lesen wir die Nutzereingaben ein. Für die Basis vom Typ <code>double</code>
verwenden wir hier den Formatbezeichner <code>"%lg"</code> und für den Exponenten vom Typ <code>int</code> verwenden wir
<code>"%d"</code>. Die Funktion <code>scanf</code> erwartet außerdem einen Zeiger, deswegen übergeben wir die Variablen
mit dem Referenz-Operator (<code>&</code>). Anschließend rufen wir die Funktion <code>potenz</code> auf und übergeben ihr
die Basis und den Exponenten als Parameter.</p>

<pre>
int main()
{
    double basis;
    int exponent;
    printf("Geben Sie die Basis an: ");
    scanf("%lg", &basis);
    printf("Geben Sie die Basis an: ");
    scanf("%d", &exponent);
    printf("Das Ergbnis: %g^%d = %g ", basis, exponent, potenz(basis, exponent));
    return 0;
}
</pre>


<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>double potenz(double basis, int exponent) {
    if (exponent == 1) {
        return basis;
    } else if (exponent == 0) {
        return 1.0;
    } else {
        return basis * potenz(basis, exponent - 1);
    }
}

int main()
{
    double basis;
    int exponent;
    printf("Geben Sie die Basis an: ");
    scanf("%lg", &basis);
    printf("Geben Sie die Basis an: ");
    scanf("%d", &exponent);
    printf("Das Ergbnis: %g^%d = %g ", basis, exponent, potenz(basis, exponent));
    return 0;
}
</pre>