<p>Wir implementieren zunächst den Funktionskopf gemäß Aufgabenstellung. Dieser enthält als Parameter einen
String (<code>str</code>), und jeweils einen <code>Integer</code> für den Index des Anfangsbuchstaben und den Index
des Endbuchstaben.</p>

<pre>bool isPalindromeRecursive(char str[], int left, int right) {
</pre>

<p>Die C-Funktion <code>tolower</code> konvertiert einen Wert zu Kleinbuchstaben. Dadurch können die Buchstaben unabhängig
von der Groß- und Kleinschreibung miteinander verglichen werden. Das Ziel ist es, zunächst den Anfangsbuchstaben und den
Endbuchstaben miteinander zu vergleichen. Wenn diese identisch sind, wird die Funktion <code>isPalindromeRecursive</code>
rekursiv aufgerufen, jedoch wird der übergebene Parameter <code>left</code> inkrementiert und <code>right</code>
dekrementiert. So rücken die Indizes (<code>left</code> und <code>right</code>) bei den folgenden rekursiven Aufrufen der
Funktion immer um eine Einheit näher. Wenn die beiden zu vergleichenden Buchstaben stets identisch sind
und wir am Ende angelangt sind, was der Fall ist, sobald <code>left</code> größer oder gleich <code>right</code> ist, dann
handelt es sich bei dem übergebenen Wort um ein Palindrom und es wird <code>true</code> zurückgegeben. Sollten die beiden
zu vergleichenden Buchstaben zu irgendeinem gegebenen Zeitpunkt nicht identisch gewesen sein, so wird <code>false</code>
zurückgegeben.</p>

<pre>
    if (tolower(str[left]) == tolower(str[right])) {
        if (left &gt;= right) {
            return true;
        }
        return isPalindromeRecursive(str, left + 1, right - 1);
    }
    return false;
}</pre>

<h3>Beispiel</h3>

<h3>1. Funktionsaufruf</h3>

<p>Gehen wir das Ganze an einem Beispielwort "Uhu" durch:</p>

<p>Zu Beginn hat <code>left</code> den Wert 0 (Anfangsbuchstabe) und <code>right</code> den Wert 2 (Endbuchstabe).</p>

<ul>
    <li>left = 0</li>
    <li>right = 2</li>
</ul>

<p>Die zu vergleichenden Buchstaben: <mark>U</mark>h<mark>u</mark></p>

<p>Die Bedingung der folgenden Zeile trifft also zu, da die zu vergleichenden Buchstaben identisch sind:</p>

<pre>bool isPalindromeRecursive(char str[], int left, int right) {
    <mark>if (tolower(str[left]) == tolower(str[right])) {</mark> // true
        if (left &gt;= right) {
            return true;
        }
        return isPalindromeRecursive(str, left + 1, right - 1);
    }
    return false;
}
</pre>

<p>Jedoch ist <code>left</code> (0) noch nicht größer oder gleich <code>right</code> (2):</p>

<pre>bool isPalindromeRecursive(char str[], int left, int right) {
    if (tolower(str[left]) == tolower(str[right])) {  // wahr
        <mark>if (left &gt;= right) {</mark>                  // nicht wahr
            return true;
        }
        return isPalindromeRecursive(str, left + 1, right - 1);
    }
    return false;
}
</pre>

<p>Dementsprechend wird die Funktion rekursiv aufgerufen und <code>left</code> (0) wird um 1 erhöht und <code>right</code> (2) um 1 gesenkt:</p>

<pre>bool isPalindromeRecursive(char str[], int left, int right) {
    if (tolower(str[left]) == tolower(str[right])) { // wahr
        if (left &gt;= right) {             // nicht wahr
            return true;
        }
        <mark>return isPalindromeRecursive(str, left + 1, right - 1);</mark>
    }
    return false;
}
</pre>

<h3>2. Funktionsaufruf (rekursiv)</h3>

<p>Im nächsten Funktionsaufruf haben sowohl <code>left</code> als auch <code>right</code> den Wert 1:</p>

<p><ul>
    <li>left = 1</li>
    <li>right = 1</li>
</ul></p>

<p>Die zu vergleichenden Buchstaben: U<mark>h</mark>u</p>

<p>Die Bedingung der folgenden Zeile trifft zu, da die zu vergleichenden Buchstaben identisch sind:</p>

<pre>bool isPalindromeRecursive(char str[], int left, int right) {
    <mark>if (tolower(str[left]) == tolower(str[right])) {</mark> // wahr
        if (left &gt;= right) {
            return true;
        }
        return isPalindromeRecursive(str, left + 1, right - 1);
    }
    return false;
}
</pre>

<p>Nun ist außerdem <code>left</code> (1) gleich <code>right</code> (1) und die Abbruchbedingung ist somit erfüllt:</p>

<pre>bool isPalindromeRecursive(char str[], int left, int right) {
    if (tolower(str[left]) == tolower(str[right])) { // wahr
        <mark>if (left &gt;= right) {</mark>                      // wahr
            return true;
        }
        return isPalindromeRecursive(str, left + 1, right - 1);
    }
    return false;
}
</pre>

<p>Somit handelt es sich bei dem Wort "Uhu" um ein Palindrom und es wird entsprechend <code>true</code> zurückgegeben.</p>

<p>Wir fügen noch eine Funktion hinzu, die die rekursive Funktion initial mit den korrekten Intervallgrenzen aufruft.
Die Länge des Strings erhalten wir über die Funktion <code>strlen</code> aus der Standardbibliothek.</p>

<pre>
bool isPalindrome(char str[]) {
    return isPalindromeRecursive(str, 0, strlen(str) - 1);
}
</pre>

<p>In einem Hauptprogramm lassen sich die Funktionen nun testen:</p>

<pre>int main()
{
    char str[64];
    printf("Eingabe eines Wortes: ");
    scanf("%s", &str);
    isPalindrome(str, 0, strlen(str) - 1);
}
</pre>