<h5>ggT</h5>

<p>Zunächst implementieren wir den Funktionskopf der ggT-Funktion. Die Funktion erhält als Übergabeparameter eine Zahl
    <code>a</code> und eine Zahl <code>b</code> vom Typ <code>int</code>.</p>

<pre>int ggT(int a, int b) {</pre>

<p>Wenn einer der beiden übergebenen Zahlen den Wert 0 hat, dann wird die jeweils andere Zahl zurückgegeben, weil diese
    in dem Fall der größte gemeinsame Teiler ist. Wenn dies nicht der Fall ist, fahren wir mit der Berechnung des größten
    gemeinsamen Teilers fort.</p>

<pre>
    if (a == 0) {
        return b;
    } else if (b == 0) {
        return a;
    }
</pre>

<p>Es wird erstmal der Betrag der beiden Zahlen <code>a</code> und <code>b</code> gebildet, um mit diesen weiterzuarbeiten.
    Dafür verwenden wir die Funktion <code>abs</code> aus der C-Standard-Bibliothek (<code>stdlib.h</code>).</p>

<pre>
    a = abs(a);
    b = abs(b);
</pre>

<p>Der größter gemeinsame Teiler lässt sich mit einer rekursiven Variante des Euklidischen Algorithmus berechnen.
Den Divisionsrest zwischen <code>a</code> und <code>b</code> erhalten wir mithilfe des Modulo-Operators (<code>%</code>).
Die Funktion <code>ggt</code> wird rekursiv aufgerufen und erhält den Divisionsrest als Übergabeparameter.
Dies wird solange wiederholt, bis der Divisonsrest 0 ergibt, denn dann erhalten wir den größten gemeinsamen Teiler.
Beim nächsten (und letzten) rekursiven Aufruf der Funktion erhält <code>b</code> dann den Wert 0 und
<code>a</code> den größten gemeinsamen Teiler, sodass dieser dann zurückgegeben werden kann.</p>

<pre>
    return ggT(b, a % b);
}
</pre>

<h5>kgV</h5>

<p>Um das kleinste gemeinsame Vielfache zu berechnen muss lediglich das Produkt der beiden übergebenen Zahlen
<code>a</code> und <code>b</code> durch den größten gemeinsamen Teiler dividiert werden. Den größten gemeinsamen
Teiler erhalten wir durch den Aufruf der zuvor implementierten Funktion <code>ggT</code>.</p>

<pre>
int kgV(int a, int b) {
    return (a * b) / ggT(a, b);
}
</pre>

<p>In einem Hauptprogramm können wir die beiden Funktionen <code>ggT</code> und kgV testen. Mit der Funktion <code>scanf</code>
    werden Nutzereingaben für zwei Werte <code>a</code> und <code>b</code> entgegengenommen. Diese übergeben wir jeweils
    an die Funktionen <code>ggT</code> und <code>kgV</code>. Den Rückgabewert der Funktionen geben wir mit der Funktion
    <code>printf</code> aus.</p>

<pre>
int main()
{
    int a, b;
    printf("\n a eingeben: ");
    scanf("%d", &a);
    printf(" b eingeben: ");
    scanf("%d", &b);
    printf("\n");
    printf("ggT(%d, %d) = %d\n", a, b, ggT(a, b));
    printf("kgV(%d, %d) = %d\n", a, b, kgV(a, b));
    return 0;
}
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>
int ggT(int a, int b) {
    if (a == 0) {
        return b;
    } else if (b == 0) {
        return a;
    }

    a = abs(a);
    b = abs(b);

    return ggT(b, a % b);
}

int kgV(int a, int b) {
    return (a * b) / ggT(a, b);
}

int main()
{
    int a, b;
    printf("\n a eingeben: ");
    scanf("%d", &a);
    printf(" b eingeben: ");
    scanf("%d", &b);
    printf("\n");
    printf("ggT(%d, %d) = %d\n", a, b, ggT(a, b));
    printf("kgV(%d, %d) = %d\n", a, b, kgV(a, b));
    return 0;
}
</pre>