<p>Schreiben Sie ein einfaches Ratespiel in C.</p>

<p>Ein Nutzer soll dabei eine zufällig generierte Zahl raten. Ist die geratene Zahl zu groß oder zu klein,
    wird eine entsprechende Meldung auf dem Bildschirm ausgegeben. Ist die geratene Zahl korrekt, wird das Spiel mit
    einer Erfolgsmeldung beendet.</p>

<p>Die Zufallszahl soll aus einem Zahlenbereich von 1 bis n stammen, wobei n über die Tastatur angegeben werden soll.
    Zusätzlich soll die maximale Anzahl an Rateversuchen eingegeben werden können. Rät ein Nutzer häufiger
    als diese Anzahl, erscheint eine Fehlermeldung und das Spiel wird beeendet.</p>
