<p>Wir binden zunächst verschiedene Header-Dateien ein, die wir für die Ein- und Ausgabe (<code>printf</code>, <code>scanf</code>) sowohl für die
Generierung von Zufallswerten (<code>srand</code>, <code>rand</code>, <code>time</code>) benötigen:</p>
<pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;time.h&gt;
</pre>
<p>
Nun beginnen wir mit dem Hauptprogramm. Wir lassen Nutzer zunächst die maximale Anzahl an Versuchen und
    die Obergrenze der Zufallszahl eingeben:
</p>

<pre>
int main() {
    int maxNumGuesses;
    printf("Bitte geben Sie die maximale Anzahl an Versuchen ein: ");
    scanf("%d", &maxNumGuesses);

    int maxNumber;
    printf("Zahlen werden geraten zwischen 1 und n. Wie groß soll n sein? ");
    scanf("%d", &maxNumber);
</pre>

<p>Nun generieren wir eine Zufallszahl:</p>

<pre>
    srand((unsigned int) time(NULL));
    int number = rand() % maxNumber + 1;
</pre>

<p>
Zunächst wird der Zufallsgenerator mit dem aktuellen Zeitstempel <code>time(NULL)</code> initialisiert. Dadurch stellen
wir sicher, dass bei jedem Programmstart eine andere Zufallszahl generiert wird. <code>rand()</code> liefert uns dann
einen Zufallswert zwischen 0 und RAND_MAX. Durch die Modulo-Berechnung und die Addition mit 1 erhalten wir einen
Zufallswert von 1 bis <code>maxNumber</code>.
</p>

<p>
Nun starten wir das Spiel in einer Schleife, die erst endet, wenn die korrekte Zahl geraten wurde:
</p>

<pre>
    int numGuesses = 0;
    int guess;
    do {
        // ...

        numGuesses++;
    } while(guess != number);
</pre>

<p>
Wir verwenden eine do-while-Schleife, da mindestens einmal geraten werden soll. <code>numGuesses</code> zählt die Anzahl
    der Rateversuche mit. <code>guess</code> ist eine lokale Variable, die die aktuell geratene Zahl enthalten soll.
</p>

<p>In der Schleife lassen wir den Nutzer nun eine Zahl eingeben und prüfen, ob sie der gesuchten Zahl entspricht oder
    zu groß oder zu klein ist. Je nach Fall geben wir eine entsprechende Meldung aus:</p>

<pre>
        printf("Raten Sie eine Zahl: ");
        scanf("%d", &guess);

        if(guess > number) {
            printf("Geratene Nummer war zu hoch!\n");
        } else if(number > guess) {
            printf("Geratene Nummer war zu klein!\n");
        } else {
            printf("Richtig geraten nach %d Versuche(n)!\n", numGuesses + 1);
        }
</pre>

<p>Ist die eingegebene Zahl korrekt (<code>guess == number</code>), wird die Schleifenbedingung verletzt, wodurch
    keine weitere Iteration der Schleife stattfindet.</p>

<p>In der Schleife prüfen wir zusätzlich noch, ob die Anzahl der Versuche überschritten wurde:</p>

<pre>
        if(guess != number && numGuesses+1 == maxNumGuesses) {
            printf("Verloren! Sie haben zu viele Versuche gebraucht.\n");
            break;
        }
</pre>

<p>Ist dies der Fall, geben wir eine Meldung aus und verlassen die Schleife mit <code>break</code>. Bitte beachte die Prüfung
    <code>guess != number</code> in der if-Anweisung, da es sein kann, dass wir im letzten Versuch richtig
raten &ndash; dann wollen wir die Meldung natürlich nicht sehen. Auf <code>numGuesses</code> haben wir 1 aufaddiert,
    da die Prüfung ja <i>nach</i> einem Versuch stattfindet.</p>

<p>Insgesamt sieht die Lösung wie folgt aus:</p>

<pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;time.h&gt;

int main() {
    int maxNumGuesses;
    printf("Bitte geben Sie die maximale Anzahl an Versuchen ein: ");
    scanf("%d", &maxNumGuesses);

    int maxNumber;
    printf("Zahlen werden geraten zwischen 1 und n. Wie groß soll n sein? ");
    scanf("%d", &maxNumber);

    srand((unsigned int) time(NULL));
    int number = rand() % maxNumber + 1;

    int numGuesses = 0;
    int guess;
    do {
        printf("Raten Sie eine Zahl: ");
        scanf("%d", &guess);

        if(guess > number) {
            printf("Geratene Nummer war zu hoch!\n");
        } else if(number > guess) {
            printf("Geratene Nummer war zu klein!\n");
        } else {
            printf("Richtig geraten nach %d Versuche(n)!\n", numGuesses + 1);
        }

        if(guess != number && numGuesses+1 == maxNumGuesses) {
            printf("Verloren! Sie haben zu viele Versuche gebraucht.\n");
            break;
        }

        numGuesses++;
    } while(guess != number);
}
</pre>