<p>Schreiben Sie ein C-Programm, welches die folgende umgekehrte Pyramide in der Konsole erzeugt:</p>

<pre>
Geben Sie die maximale Anzahl an Reihen ein: 5
#   #   #   #   #
  #   #   #   #
    #   #   #
      #   #
        #
</pre>

<p>
Die Höhe der #-Zeichen, also die Anzahl an Reihen die erstellt werden, soll von einer einzulesenden Variable <code>rows</code> abhängen.
Es gibt jeweils drei Leerzeichen zwischen zwei #-Zeichen. Für die Lösung müssen Schleifen verwendet werden. Bildschirmausgaben
ohne Einsatz von Schleifen werden <b>nicht</b> bewertet.
</p>

