<p>Betrachten Sie die folgende aussagenlogischen Formel:</p>

<p class="ms-3">(A ∨ B ∨ ¬C) ⨁ (C ↔ A)</p>

<p>Schreiben Sie ein C-Programm, welches nachweist oder widerlegt, ob die genannte Formel erfüllbar ist oder nicht.</p>

<p>Das Programm soll dazu eine Wahrheitstabelle ausgeben, d.h. für alle möglichen Belegungen von A, B und C den Wahrheitswert
der Formel ermitteln. Dabei sollen drei verschachtelte <b>while-Schleifen</b> genutzt werden.</p>

<p>Für die Belegung <code>wahr</code> soll jeweils <code>w</code> ausgegeben, für <code>falsch</code> soll <code>f</code> ausgegeben werden.</p>