<p>Schreiben Sie eine Funktion <b>fillArrayWithRandomNumbers</b>.</p>

<p>Sie füllt ein Array mit randomisierten Ganzzahlen. Als Übergabeparameter erhält die Funktion ein
    Array vom Typ <b>int</b>, die Größe des Arrays sowie ein Intervall [a, b], das bestimmt, in
    welchem Bereich die Zufallszahlen generiert werden.
</p>

<p>
    Beispiel: Ein Array mit fünf Elementen und einem Intervall [3, 8] enthält im Anschluss fünf
    Zufallszahlen von 3 und 8.
</p>