<p>Schreiben Sie ein Programm, welches die folgende Ausgabe in der Konsole erzeugt:</p>

<pre>Geben Sie die maximale Breite ein: 10
Die maximale Breite liegt bei breite = 10
##########
#########
########
#######
######
#####
####
###
##
#
</pre>

<p>Die Breite der dargestellten #-Zeichen, also die maximale Anzahl von #-Zeichen in der größten Reihe,
soll von einer einzulesenden Variable <code>breite</code> abhängen.
</p>