<p>In dieser Aufgabe soll die Fakultät einer einzugebenden Zahl iterativ berechnet werden.</p>

<p>Entwickeln Sie einen Algorithmus zur Berechnung der Fakultät in drei Versionen, unter
Verwendung der <b>for-schleife</b>, <b>while-Schleife</b> und <b>do-Schleife</b>. Implementieren Sie
anschließend die drei Varianten in C.</p>