<p>Schreiben Sie eine Funktion <b>generateDiagram</b>, welche ein Array von Ganzzahlen
    übergeben bekommt.</p>

<p>Auf dem Bildschirm wird nun ein zweidimensionales kartesisches Koordinatensystem mit
    einer X- und einer Y-Komponente inklusive Achsenbeschriftung ausgegeben. In diesem Koordinatensystem
    werden die Elemente des übergebenen Arrays angezeigt.</p>

<p>Die Orientierung der X- und Y-Achsen muss der im folgenden Beispiel entsprechen:</p>

<p>Ausgabe für Beispiel-Array mit den Werten 7, 9, 0, 3, 5:</p>

<pre>
y +
  |       |
  |       |
  |   |   |
  |   |   |
  |   |   |           |
  |   |   |           |
  |   |   |       |   |
  |   |   |       |   |
  |   |   |       |   |
  +---+---+---+---+---+---+ x</pre>