<p>Schreiben Sie eine Funktion <b>printASCIICharacters</b>, welche als Übergabeparameter zwei
Buchstaben erhält. Nun sollen alle ASCII-Zeichen zwischen diesen beiden Buchstaben
ausgegeben werden.</p>

<p>Die Funktion soll keinen Rückgabewert besitzen. Testen Sie die Funktion durch Aufruf im Hauptprogramm.</p>

<p>Hinweis: Die Eingabe sollte robust sein. Somit soll es möglich sein, dass der erste eingegebene Buchstabe in der
ASCII-Tabelle <emph>hinter</emph> dem zweiten liegt und trotzdem alle Zeichen zwischen den beiden ausgegeben werden.</p>