<p>Schreiben Sie ein Programm, bei dem ein Nutzer eine Dezimalzahl von 1 bis 2000 eingibt, und das
Programm sie als römische Zahl anzeigt.</p>

<p>Beispiel: 1984 als römische Zahl lautet MCMLXXXIV.</p>