<p>Um das Arbeiten mit römischen Zahlen zu vereinfachen, erstellen wir zunächst einen strukturierten
Typ <code>RomanNumeral</code>. Der strukturierte Typ enthält eine Variable vom Typ <code>int</code>, um eine Dezimalzahl
zu speichern, und eine Variable vom Typ <code>char</code>, um das entsprechende Zeichen aus der römischen Zahlschrift
zu speichern.</p>

<pre>typedef struct{
    int value;
    char *character;
}RomanNumeral;
</pre>

<p>Wir implementieren eine Funktion <code>printRomanNumeral</code>. Die Funktion erhält als Übergabeparameter eine
    Zahl vom Typ <code>int</code>. Diese Zahl soll in die römische Zahlschrift konvertiert werden.</p>

<pre>
void printRomanNumeral(int number) {
</pre>

<p>Wir erstellen ein Array <code>romanNum</code> und füllen es mit Objekten vom strukturierten Typ <code>RomanNumeral</code>.
    Dabei legen wir für jedes einzigartige Zeichen in der römischen Zahlschrift, also für jedes nächstgrößere Zahlzeichen, ein
    Objekt im Array an (bis 1000). Die Objekte vom strukturierten Typ <code>RomanNumeral</code> enthalten immer jeweils eine
    Zahl und das entsprechende Zeichen der römischen Zahlschrift. Die sog. Subtraktionsregel besagt, dass die Zeichen "I",
    "X" und "C" dem nächstgrößeren Zahlzeichen vorangestellt werden können. Für diese Fälle müssen ebenfalls
    <code>RomanNumeral</code>-Objekte im Array angelegt werden.</p>
<pre>
    RomanNumeral romanNum[13] = {{1,"I"},{4,"IV"},{5,"V"},{9,"IX"}, {10,"X"},{40,"XL"},{50,"L"},{90,"XC"}, {100,"C"},{400,"CD"},{500,"D"},{900,"CM"},{1000,"M"}};
</pre>

<p>Wir erstellen eine Zählvariable <code>i</code>. Mit dieser Variable wollen wir - anfangend mit der Anzahl der Elemente
    im Array - <code>romanNum</code>, runterzählen, bis wir bei 0 angelangt sind.</p>

<pre>
    int i = 12;
</pre>

<p>
    Eine nun folgende while-Schleife wiederholt sich, solange bis <code>i</code> kleiner als 0 ist. Wenn die übergebene Zahl <code>number</code>
    größer ist als der Wert des <code>RomanNumeral</code>-Objekts an der Position <code>i</code> im Array <code>romanNum</code>,
    geben wir das entsprechende Zeichen der römischen Zahlschrift mit der Funktion <code>printf</code> aus. Außerdem subtrahieren
    wir die Zahl <code>number</code> mit dem Wert des entsprechenden <code>RomanNumeral</code>-Objekts. Wenn die übergebene
    Zahl <code>number</code> jedoch kleiner ist, als der Wert des <code>RomanNumeral</code>-Objekts an der aktuellen Position
    im Array <code>romanNum</code>, dann wird stattdessen die Zählvariable <code>i</code> um 1 verringert, sodass wir anfangen
    können, die nächstkleineren Zahlzeichen auszugeben.
</p>

<pre>
    while (i &gt;= 0) {
        if (number &gt;= romanNum[i].value) {
           printf("%s", romanNum[i].character);
           number -= romanNum[i].value;
        }
        else i--;
    }
}
</pre>

<p>In einem Hauptprogramm können wir die Funktion <code>printRomanNumeral</code> testen. Wir deklarieren zuerst eine Variable
    <code>number</code> vom Typ <code>int</code>. Wir übergeben an die Funktion <code>scanf</code> den Formatbezeichner "%d",
    da es sich um eine Zahl vom Typ <code>int</code> handelt, und die Variable <code>number</code> mit dem Adressoperator "&",
    um ihr einen eingegeben Wert zuweisen zu können. Wenn sich die Zahl im vorgegebenen Intervall von 1 bis 2000 befindet, geben
    wir mit der Funktion <code>printRomanNumeral</code> die entsprechende römische Zahl aus. Wenn die Zahl außerhalb des
    Intervalls liegt, geben wir eine Fehlermeldung aus.</p>

<pre>
int main() {
    int number;

    printf("Gebe eine Zahl zwischen 1 und 2000 ein: ");
    scanf("%d", &number);
    if(number &gt; 0 && number &lt;= 2000) {
        printf("Die Zahl lautet in römischer Zahlschrift: ");
        printRomanNumeral(number);
    } else {
        printf("Die Zahl muss zwischen 1 und 2000 sein!");
    }
}</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>typedef struct{
    int value;
    char *character;
}RomanNumeral;

void printRomanNumeral(int number) {
    RomanNumeral romanNum[13] = {{1,"I"},{4,"IV"},{5,"V"},{9,"IX"}, {10,"X"},{40,"XL"},{50,"L"},{90,"XC"}, {100,"C"},{400,"CD"},{500,"D"},{900,"CM"},{1000,"M"}};

    int i = 12;
    while (i &gt;= 0) {
        if (number &gt;= romanNum[i].value) {
            printf("%s", romanNum[i].character);
            number -= romanNum[i].value;
        }
        else i--;
    }
}

int main() {
    int number;

    printf("Gebe eine Zahl zwischen 1 und 2000 ein: ");
    scanf("%d", &number);
    if(number &gt; 0 && number &lt;= 2000) {
        printf("Die Zahl lautet in römischer Zahlschrift: ");
        printRomanNumeral(number);
    } else {
        printf("Die Zahl muss zwischen 1 und 2000 sein!");
    }
}</pre>