<p>Wir implementieren zunächst den Funktionskopf gemäß Aufgabenstellung:</p>

<pre>void fillArrayWithRandomNumbers(int* array, size_t size, int a, int b) {</pre>

<p>Für die Zuweisung einer randomisierten Zahl muss zunächst ein Pseudo-Zufallszahlen-Generator
mit der <code>srand</code>-Funktion initialisiert werden.</p>

<pre>
    srand((unsigned int) time(NULL));
</pre>

<p>Hier wird der Zufallsgenerator mit der Zeit initialisiert (genau gesagt: mit der Anzahl der Sekunden, die seit dem
    1.1.1970 verstrichen sind). Das hat den Vorteil, dass sich die Zufallswerte in der Regel bei jedem Programmstart
    ändern. In der Regel wird srand aber nur ein einziges Mal im gesamten Programm aufgerufen, z.B. direkt nach dem
    Start im Hauptprogramm.</p>

<p>In einer nun folgenden Schleife durchlaufen wir das aufzufüllende Array. In jeder Iteration wird dem Array
für jeden Index i eine neue zufällige Zahl im Intervall [a, b] zugeordnet.</p>

<pre>
    for(size_t i = 0; i < size; i++) {
        array[i] = a + rand() % (b - a + 1);
    }
}
</pre>

<p><code>rand()</code> berechnet eine Zufallszahl von <code>0</code> bis <code>MAX_INT</code>. Da wir einen Wert
benötigen, der die Intervallgröße nicht überschreitet, rechnen wir das Ergebnis modulo <code>(b - a + 1)</code>.
Anschließend addieren wir noch den Start des Intervalls (<code>a</code>) auf.</p>

<h3>Beispiel-Rechnung</h3>

<p>Nehmen wir an, wir verwenden für die Erstellung der zufälligen Zahl im Intervall [a, b]:</p>

<table class="equationTable">
    <tr>
        <td>a</td><td>=</td><td>3</td>
    </tr>
    <tr>
        <td>b</td><td>=</td><td>8</td>
    </tr>
</table>

<p>Das Einsetzen von a und b liefert eine zufällige Zahl zwischen 3 und 8:</p>

<table class="equationTable">
    <tr>
        <td></td><td>3 + <code>rand()</code> % (8 - 3 + 1)</td>
    </tr>
    <tr>
        <td>=</td><td>3 + <code>rand()</code> % 6</td>
    </tr>
    <tr>
        <td>&isinv;</td><td>[3, 8]</td>
    </tr>
</table>

<h3 class="mt-3">Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>void fillArrayWithRandomNumbers(int* array, size_t size, int a, int b) {
    srand((unsigned int) time(NULL));

    for(size_t i = 0; i < size; i++) {
        array[i] = a + rand() % (b - a + 1);
    }
}
</pre>