<p>Wir implementieren eine Variante für jeden Schleifentyp.</p>

<h5>for-Schleife</h5>

<p>Zunächst implementieren wir den Funktionskopf. Die Funktion hat den Rückgabetyp <code>int</code> und erhält als
Übergabeparameter eine Zahl, deren Fakultät berechnet werden soll.</p>

<pre>
int factorialForLoop(int num) {
</pre>

<p>Wir deklarieren eine Variable (<code>result</code>), die das Ergebnis temporär speichern soll. In einer for-Schleife initialisieren
wir innerhalb der Initialisierungsklausel (in den runden Klammern) eine Laufvariable (<code>int i = num</code>), eine
Abbruchbedingung (<code>i > 0</code>) und eine Anweisung, die nach jedem Durchgang der Schleife ausgeführt wird (<code>i--</code>). In dem
Anweisungsblock (<code>{ ... }</code>) der for-Schleife multiplizieren wir in jedem Durchgang der Schleife den Wert der
Laufvariable (<code>i</code>) mit der Ergebnisvariable (<code>result</code>) und weisen ihr den neuen Wert zu. Nach jedem Durchgang
wird die Laufvariable (<code>i</code>) um 1 verringert. Am Ende jedes Schleifendurchgangs wird die Abbruchbedingung <code>(i > 0)</code> geprüft.
Sobald die Laufvariable <code>i</code> den Wert 0 erreicht hat, wird die Schleife verlassen.
Anschließend wird das Ergebnis zurückgegeben.</p>

<pre>
    int result = 1;
    for (int i = num; i > 0; i--){
        result = result * i;
    }
    return result;
}
</pre>

<h5>while-Schleife</h5>

<p>Zunächst implementieren wir wieder den Funktionskopf.</p>

<pre>
int factorialWhileLoop(int num) {
</pre>

<p>Wir deklarieren eine Variable (<code>result</code>), die das Ergebnis temporär speichern soll. In while-Schleifen wird im
Gegensatz zu for-Schleifen keine Laufvariable in den abgerundeten Klammern (Bedingung) initialisiert. Deshalb definieren wir
im Voraus eine Zählvariable (<code>i</code>) und weisen ihr den Wert unserer übergebenen Zahl (<code>num</code>) zu.
In der while-Schleife definieren wir dann eine Bedingung <code>(i > 0)</code>. Solange diese Bedingung wahr ist, wird der
Schleifeninhalt im Anweisungsblock (<code>{ ... }</code>) wiederholt. In dem Anweisungsblock multiplizieren wir bei jeder
Wiederholung den Wert der Variable <code>i</code> mit dem Ergebnis (<code>result</code>) und weisen dem Ergebnis den neuen
Wert zu. Es wird außerdem die Variable <code>i</code> bei jeder Wiederholung um 1 verringert. Am Anfang jedes Schleifendurchgangs
wird die Abbruchbedingung <code>(i < 0)</code> geprüft. Sobald die Variable <code>i</code> den Wert 0 erreicht hat, wird die
Schleife verlassen, da die Bedingung <code>(i > 0)</code> nicht mehr wahr ist. Anschließend wird das Ergebnis zurückgegeben.</p>

<pre>
    int result = 1;
    int i = num;

    while (i &gt; 0){
        result = result * i;
        i--;
    }
    return result;
}
</pre>

<h5>do-while-Schleife</h5>

<p>Zunächst implementieren wir den Funktionskopf.</p>

<pre>
int factorialDoWhileLoop(int num) {
</pre>

<p>Wir deklarieren eine Variable (<code>result</code>), die das Ergebnis temporär speichern soll. In do-while-Schleifen
(und while-Schleifen) wird im Gegensatz zu for-Schleifen keine Laufvariable in den abgerundeten Klammern (Bedingung)
initialisiert. Deshalb definieren wir im Voraus eine Zählvariable (<code>i</code>) und weisen ihr den Wert unserer
übergebenen Zahl (<code>num</code>) zu. Der Unterschied zwischen einer do-while-Schleife und einer while-Schleife liegt
darin, dass bei einer while-Schleife die Bedingung (in den runden Klammern) am Anfang geprüft wird und bei einer
do-while-Schleife am Ende. So wird der Anweisungsblock bei do-while-Schleifen am Anfang immer mindestens einmal ausgeführt.
Die Fakultät von 0 sollte per Definition den Wert 1 annehmen. Um dies auch bei einer do-while-Schleife sicherzustellen,
prüfen wir, ob der übergebene Wert 0 ist und geben in dem Fall 1 zurück, noch bevor der Anweisungsblock der
do-while-Schleife ausgeführt werden kann. Ansonsten wird die do-while-Schleife ausgeführt. Wir geben also entsprechend
zuerst den Anweisungsblock (<code>{ ... }</code>) an. In dem Anweisungsblock multiplizieren wir bei jeder Wiederholung
der Schleife den Wert der Variable <code>i</code> mit der Ergebnisvariable (<code>result</code>) und weisen dem Ergebnis
den neuen Wert zu. Außerdem wird die Variable <code>i</code> bei jeder Wiederholung um 1 verringert. Daraufhin legen wir
die Bedingung fest <code>(i > 0)</code>. Solange diese Bedingung wahr ist, wird der Schleifeninhalt im Anweisungsblock
(<code>{ ... }</code>) wiederholt. Sobald die Variable <code>i</code> den Wert 0 erreicht hat, wird die Schleife verlassen,
da die Bedingung <code>(i > 0)</code> nicht mehr wahr ist. Anschließend wird das Ergebnis zurückgegeben. <br>
</p>

<pre>
    int result = 1;
    int i = num;

    if (i == 0) return 1;

    do {
        result = result * i;
        i--;
    } while (i &gt; 0)

    return result;
}
</pre>

<p>In einem Hauptprogramm testen wir die Funktionen zur Berechnung der Fakultät. Mit der Funktion <code>printf</code> geben wir die Rückgabewerte
der Funktionen aus. In diesem Fall sollten alle drei Funktionen den Wert 6 zurückgeben:</p>

<pre>int main() {
    int number = 5;
    printf("Fakultät mit for-Schleife: %d\n", factorialForLoop(number));
    printf("Fakultät mit while-Schleife: %d\n", factorialWhileLoop(number));
    printf("Fakultät mit do-while-Schleife: %d\n", factorialDoWhileLoop(number));
    return 0;
}</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>
int factorialForLoop(int num) {
    int result = 1;
    for (int i = num; i &gt; 0; i--){
        result = result * i;
    }
    return result;
}

int factorialWhileLoop(int num) {
    int result = 1;
    int i = num;

    while (i &gt; 0){
        result = result * i;
        i--;
    }
    return result;
}

int factorialDoWhileLoop(int num) {
    int result = 1;
    int i = num;

    if (i == 0) return 1;

    do {
        result = result * i;
        i--;
    } while (i &gt; 0)

    return result;
}

int main() {
    int number = 5;
    printf("Fakultät mit for-Schleife: %d\n", factorialForLoop(number));
    printf("Fakultät mit while-Schleife: %d\n", factorialWhileLoop(number));
    printf("Fakultät mit do-while-Schleife: %d\n", factorialDoWhileLoop(number));
    return 0;
}
</pre>