<p>Wir implementieren eine Funktion <code>printTriangle</code> für die Erzeugung der gewünschten
Ausgabe. Die Funktion erhält eine Übergabeparameter <code>breite</code> vom Typ <code>int</code>.</p>

<pre>void printTriangle(int breite) {
</pre>

<p>Mit einer äußeren Schleife iterieren wir von 0 bis zur übergebenen Breite. Diese äußere Schleife stellt im Prinzip
die abzubildenden Zeilen dar, deswegen geben wir hier mit der Funktion <code>printf</code> einen
Zeilenumbrüche <code>("\n")</code> aus. In einer inneren Schleife iterieren wir wieder, und geben <code>breite - i</code>
#-Zeichen aus. Dadurch wird die Anzahl der ausgegebenen Zeichen <code>("#")</code> mit jeder Zeile um 1 verringert.</p>

<pre>
    for (int i = 0; i &lt; breite; i++) {
        printf("\n");
        for (int j = 0; j &lt; breite - i; j++) {
            printf("#");
        }
    }
}
</pre>

<p>In der Hauptfunktion deklarieren wir eine Variable <code>breite</code> vom Typ <code>int</code>.
Mit der Funktion <code>scanf</code> lesen wir die Eingabe des Nutzers in die Variable ein. Für Variablen
vom Typ <code>int</code> wird der Formatbezeichner <code>"%d"</code> verwendet. Die Funktion <code>scanf</code> erwartet
außerdem die Adresse einer Variable, deswegen übergeben wir die Variable <code>breite</code> mit dem
Referenz-Operator (<code>&</code>). Anschließend rufen wir die Funktion <code>printTriangle</code> auf
und übergeben ihr die eingelesene Breite.</p>

<pre>
int main() {
    int breite;
    printf("Geben Sie die maximale Breite ein: ");
    scanf("%d", &breite);
    printf("Die maximale Breite liegt bei breite = %d", breite);
    printTriangle(breite);
    return 0;
}
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>void printTriangle(int breite){
    for (int i = 0; i &lt; breite; i++){
        printf("\n");
        for (int j = 0; j &lt; breite - i; j++){
            printf("#");
        }
    }
}

int main()
{
    int breite;
    printf("Geben Sie die maximale Breite ein: ");
    scanf("%d", &breite);
    printf("Die maximale Breite liegt bei breite = %d", breite);
    printTriangle(breite);
    return 0;
}
</pre>