<p>In einer <code>scanf</code>-Funktion wird dazu aufgefordert die Anzahl der einzulesenden Variable (<code>rows</code>)
einzugeben. Die <code>scanf</code>-Funktion erhält einen Formatbezeichner (<code>%d</code>) und eine Referenz auf die
einzulesende Variable (<code>rows</code>).
</p>

<pre>
int rows;
printf("Please enter the amount of rows: ");
scanf("%d", &rows);
</pre>

<p>Falls 0 oder ein negativer Wert eingegeben wird, wird eine Fehlermeldung ausgegeben und 1 zurückgegeben,
was einen Fehlercode darstellt.</p>

<pre>
if (rows &lt;= 0) {
    printf("Please enter a positive integer.\n");
    return 1;
}
</pre>

<p>
Eine äußere Schleife iteriert von <code>0</code> bis zum eingegebenen Wert von <code>rows</code>, also durch jede Zeile,
und gibt am Ende einen Zeilenumbruch aus. In einer inneren Schleife iterieren wir von <code>0</code> bis zur Anzahl der
bisherigen Zeilen und geben in jeder Iteration zwei Leerzeichen mehr aus. Diese erscheinen jeweils immer am Anfang der Zeile,
damit die <code>#</code>-Zeichen in jeder Zeile immer weiter eingerückt werden, für das Erscheinungsbild
einer umgekehrten Pyramide. In einer weiteren inneren Schleife werden pro Zeile <code>#</code>-Zeichen ausgegeben,
gleich der Anzahl aller gesamten Zeilen. In jeder Iteration wird jedoch immer ein <code>#</code>-Zeichen weniger
ausgegeben, als in der vorherigen. Nach jedem <code>#</code>-Zeichen werden drei Leerzeichen ausgegeben.
</p>

<pre>
for (int row = 0; row < rows; row++) {
    for (int space = 0; space < row * 2; space++) {
        printf(" ");
    }
    for (int hash = 0; hash < rows - row; hash++) {
        printf("#");
        printf("   ");
    }
    printf("\n");
}
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>
int main() {
    int rows;
    printf("Please enter the amount of rows: ");
    scanf("%d", &rows);
    if (rows &lt;= 0) {
        printf("Please enter a positive integer.\n");
        return 1;
    }
    for (int row = 0; row &lt rows; row++) {
        for (int space = 0; space &lt; row * 2; space++) {
            printf(" ");
        }
        for (int hash = 0; hash &lt; rows - row; hash++) {
            printf("#");
            printf("   ");
        }
        printf("\n");
    }
    return 0;
}
</pre>