<p>Wir implementieren zuerst eine Hilfsfunktion <code>findLargestNumber</code>. Diese hilft uns, um bei
  der Erstellung des Diagrams den größten Wert zu finden. Zuerst implementieren wir den Funktionskopf. Dieser
  erhält ein Element vom Typ <code>int</code> und ein Array vom Typ <code>int</code>.</p>

<pre>int findLargestNumber(int elementsInValues, int *values) {</pre>

<p>Die Variable <code>largestNumber</code> vom Typ <code>int</code> wird mit dem ersten Element des
  übergebenen Arrays <code>values</code> initialisiert. Eine Schleife iteriert durch jedes Element im
  übergebenen Array. Wenn das aktuelle Element größer ist als <code>largestNumber</code>, dann wird das
  Element in <code>largestNumber</code> gespeichert. Zum Schluss wird <code>largestNumber</code>
  zurückgegeben.</p>

<pre>    int largestNumber = values[0];

    for (int i = 1; i &lt; elementsInValues; i++) {
        if (values[i] &gt; largestNumber) {
            largestNumber = values[i];
        }
    }
    return largestNumber;
}</pre>

<p>Nun implementieren wir den Funktionskopf der Funktion <code>printDiagram</code>. Die Funktion erhält
  ein Array mit Zahlen vom Typ <code>int</code> und eine Variable <code>numValues</code> vom Typ <code>size_t</code>.
  Dieser Datentyp wird in der Regel für die Übergabe von Größen von Datenstrukturen verwendet.</p>

<pre>void printDiagram(int *values, size_t numValues) {</pre>

<p>
Wir geben mit der printf-Funktion die erste Zeile ("y +") des Diagrams aus.
Nun wird eine Variable <code>largestNumber></code> mit der größten Zahl im übergebenen Array initialisiert.
Hier verwenden wir unsere Hilfsfunktion <code>findLargestNumber</code>, um die größte Zahl im Array herauszufinden.
</p>

<pre>
    printf("\n\ny +\n");
    int largestNumber = findLargestNumber(numValues, values);
</pre>

<p>Wir verwenden eine äußere while-Schleife, die so lange aktiv ist, bis sie unterbrochen wird. Wir geben
am Anfang der Schleife mit der Funktion <code>printf</code> zeilenweise die y-Achse aus (" |").
</p>

<pre>
    while (1) {
        printf("  |");
</pre>

<p>In einer inneren for-Schleife iterieren wird durch das übergebene Array <code>values</code>. Wenn
  ein Wert im Array gleich der größten Zahl im Array und größer als 0 ist, dann wird für diesen Wert eine Linie
  ("   |") ausgegeben. Wir fangen also oben links im Diagramm an und zeichnen die Linien ("   |") nur für die Zahlen
  ein, deren Werte tatsächlich der aktuellen Höhe im Diagramm entsprechen. Für die Werte, die zu niedrig sind, werden
  Leerzeichen ("    ") ausgegeben.</p>

<pre>
        for (int x = 0; x &lt; numValues; x++) {
            if (values[x] &gt;= largestNumber && values[x] &gt;= 0) {
                printf("   |");
                values[x] -= 1;
            } else {
                printf("    ");
            }
        }
</pre>

<p>Wenn wir mit einer Zeile fertig sind, gehen wir in die nächste Zeile, indem wir einen Zeilenumbruch ("\n") ausgeben und
  <code>largestNumber</code> um 1 verringern. Dies sorgt dafür, dass wir in dem nächsten Ablauf der while-Schleife, die Linien ("    |)
  der nächsten Zeile einzeichnen können.</p>
<pre>
        printf("\n");
        largestNumber -= 1;
</pre>

<p>Sobald <code>biggestNummer</code> 0 ist, wir also am tiefsten Punkt des Diagramms angelangt sind, wird die x-Achse des Diagramms
  ausgegeben, indem eine Bildschirmausgabe ("+---") für die Anzahl der Werte im übergebenen Array erfolgt.</p>

<pre>
        if (largestNumber &lt;= 0) {
            printf("  ");
            for (int x = 0; x &lt;= numValues; x++) {
                printf("+---");
            }
            printf("+ x\n     ");
            break;
        }
    }
}
</pre>

<p>In einem Hauptprogramm testen wir die Funktion <code>printDiagram</code>. Wir initialisieren ein Array <code>y</code> vom
  Typ <code>int</code>. Dieses Array und die Größe des Arrays werden dann der Funktion <code>printDiagram</code> übergeben.</p>

<pre>
int main() {
    int array[] = {7, 9, 0, 3, 5};
    size_t size = sizeof(array) / sizeof(int);

    printDiagram(array, size);
    return 0;
}</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>void printDiagram(int *values, size_t numValues) {
    printf("\n\ny +\n");
    int largestNumber = findLargestNumber(numValues, values);

    while (1) {
        printf("  |");
        for (int x = 0; x &lt; numValues; x++) {
            if (values[x] == largestNumber && values[x] &gt;= 0) {
                printf("   |");
                values[x] -= 1;
            } else {
                printf("    ");
            }
        }
        printf("\n");
        largestNumber -= 1;
        if (largestNumber &lt;= 0) {
            printf("  ");
            for (int x = 0; x &lt;= numValues; x++) {
                printf("+---");
            }
            printf("+ x\n     ");
            break;
        }
    }
}

int main() {
    int array[] = {7, 9, 0, 3, 5};
    size_t size = sizeof(array) / sizeof(int);

    printDiagram(array, size);
    return 0;
}</pre>
