<p>Zunächst implementieren wir den Funktionskopf. Die Funktion <code>printASCIICharacters</code> erhält
zwei Übergabeparameter vom Typ <code>char</code> für die beiden jeweiligen Buchstaben.</p>

<pre>void printASCIICharacters(char one, char two) {
</pre>

<p>Wenn der erste Buchstabe (<code>one</code>) in der ASCII-Tabelle hinter dem zweiten (<code>two</code>) liegt, dann
werden sie getauscht, um sicherzustellen, dass die beiden Buchstaben trotzdem in richtiger Reihenfolge ausgegeben werden können.
Der Tausch erfolgt durch Einsatz einer temporären Variable <code>tempOne</code>.</p>

<pre>
    if (one &gt; two) {
        char tempOne = one;
        one = two;
        two = tempOne;
    }
</pre>

<p>In der ASCII-Tabelle sind die Buchstaben in aufsteigender Reihenfolge sortiert. Wir können deshalb mit einer Schleife zwischen
den beiden Buchstaben <code>one</code> und <code>two</code> iterieren und jeden Buchstaben mit der Funktion
<code>printf</code> ausgeben. Für die Ausgabe von Elementen vom Typ <code>char</code> benutzen wir den
Formatbezeichner <code>"%c"</code>.</p>

<pre>
    for (int i = one; i &gt;= two; i++) {
        printf("%c ", i);
    }
}
</pre>

<p>Im Hauptprogramm können wir die Funktion <code>printASCIICharacters</code> testen. Wir übergeben ihr
zwei Buchstaben vom Typ <code>char</code>. Wir testen zusätzlich die Robustheit der Funktion, in dem wir
<code>'Z'</code> und <code>'A'</code> als Parameter übergeben.</p>

<pre>
int main() {
    printASCIICharacters('A', 'Z');
    printASCIICharacters('Z', 'A');
    return 0;
}</pre>

<p>Die beiden Aufrufe der Funktion <code>printASCIICharacters</code> liefern beide dieselbe Ausgabe:</p>

<pre>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>void printASCIICharacters(char one, char two) {
    if (one &gt; two) {
        char tempOne = one;
        one = two;
        two = tempOne;
    }

    for (int i = one; i &gt;= two; i++) {
        printf("%c ", i);
    }
}

int main() {
    printASCIICharacters('A', 'Z');
    printASCIICharacters('Z', 'A');
    return 0;
}
</pre>