<p>Zuerst wird für die Ausgaben der Belegungen <code>wahr</code> (1) und <code>falsch</code> (0) ein Charakter-Array
angelegt (<code>f, w</code>).</p>
<pre>
char outputChars[] = {'f', 'w'};
</pre>

<p>Für die Belegungen von A, B und C werden entsprechende Variablen <code>a, b</code> und <code>c</code>
mit <code>0</code> initialisiert.</p></p>
<pre>
int a = 0, b = 0, c = 0;
printf(" a | b | c | F\n");
printf("---+---+---+---\n");
</pre>

<p>In drei verschachtelten Schleifen wird das Grundgerüst für die Wahrheitstabelle erzeugt. Sie ergeben alle möglichen
acht Belegungen der Wahrheitstabelle. In der innersten Schleife geben wir eine Belegung aus und schließen Sie mit einem
Zeilenumbruch ab:</p>

<pre>
while (a < 2) {
    while (b < 2) {
        while (c < 2) {
            printf(" %d | %d | %d\n", a, b, c);
            c++;
        }
        c = 0;
        b++;
    }
    b = 0;
    a++;
}
</pre>

<p>Das Grundgerüst der Wahrheitstabelle lässt sich direkt erkennen:</p>

<pre>
 a | b | c | F
---+---+---+---
 0 | 0 | 0
 0 | 0 | 1
 0 | 1 | 0
 0 | 1 | 1
 1 | 0 | 0
 1 | 0 | 1
 1 | 1 | 0
 1 | 1 | 1
</pre>

<p>Es muss noch nur das Ergebnis der Formel (A ∨ B ∨ ¬C) ⨁ (C ↔ A) berechnet werden:</p>
<pre>int result = (a || b || !c) ^ (c == a);</pre>

<p>Anstelle der Ausgabe von Zahlenwerten (<code>0, 1</code>) wird mit den Zahlenwerten auf das Charakter-Array
<code>outputChars</code> zugegriffen, damit entsprechend die Wahrheitswerte <code>f</code> und <code>w</code>
ausgegeben werden können.</p>

<pre>
while (a < 2) {
    while (b < 2) {
        while (c < 2) {
            int result = (a || b || !c) ^ (c == a);
            printf(" %c | %c | %c | %c\n", outputChars[a], outputChars[b], outputChars[c], outputChars[result]);
            c++;
        }
        c = 0;
        b++;
    }
    b = 0;
    a++;
}
</pre>

<p>In der Konsolenausgabe wird nun die folgende Wahrheitstabelle erzeugt:</p>

<pre>
 a | b | c | F
---+---+---+---
 f | f | f | f
 f | f | w | f
 f | w | f | f
 f | w | w | w
 w | f | f | w
 w | f | w | f
 w | w | f | w
 w | w | w | f
</pre>

<p>Die Wahrheitstabelle zeigt, dass die Formel erfüllbar ist, da F für mindestens eine Belegung <code>wahr</code> ergibt.</p>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>#include &lt;iostream&gt;

int main(int argc, const char * argv[]) {
    char outputChars[] = {'f', 'w'};
    int a = 0, b = 0, c = 0;
    printf(" a | b | c | F\n");
    printf("---+---+---+---\n");
    while (a < 2) {
        while (b < 2) {
            while (c < 2) {
                int result = (a || b || !c) ^ (c == a);
                printf(" %c | %c | %c | %c\n", outputChars[a], outputChars[b], outputChars[c], outputChars[result]);
                c++;
            }
            c = 0;
            b++;
        }
        b = 0;
        a++;
    }
    return 0;
}
</pre>