<p>Betrachten Sie das abgebildete Bitfeld:</p>

<pre>typedef struct {
  unsigned int sign: 1;
  unsigned int biasedExponent: 8;
  unsigned int significand: 23;
} Float32;
</pre>

<p>Schreiben Sie eine Funktion <b>assignValues</b>, die dem abgebildeten Bitfeld übergebene Werte zuweisen kann
und eine Funktion <b>printFloat32</b>, welche dem im abgebildeten Bitfeld alle Bits des Vorzeichens, des Biased
Exponenten und der Mantisse ordentlich formatiert auf dem Bildschirm in einer menschenlesbaren binären Repräsentation
ausgibt.</p>