<p>Definieren Sie ein Bitfeld, welches folgende Eigenschaften in der hier
gegebenen Reihenfolge beschreibt und maximal 4 Byte Speicherplatz belegt:</p>

<ul>
    <li>Vorzeichen: positiv oder negativ</li>
    <li>Biased Exponent: 0 bis 255</li>
    <li>Mantissen-Bits: Füllt den restlichen Speicherplatz aus</li>
</ul>
