<p>Betrachten Sie die folgende Struktur:</p>

<pre>
typedef struct {
    int isActive;   // kann 0 oder 1 sein
    long amount;    // ein Wert von 0 bis 15
    int state;      // einer von acht unterschiedlichen Zuständen
} SystemState;
</pre>

<p>Schreiben Sie den strukturierten Typ so in ein Bitfeld um, dass nur 1 Byte verbraucht wird,
    aber trotzdem alle fachlich sinnvollen Werte gespeichert werden können. Beachten Sie dazu
    die Kommentierung der Attribute.</p>