<h5>assignValues</h5>

<p>Um einem übergebenen Bitfeld Werte zuweisen zu können, wird ein entsprechender
strukturierte Datentyp vom Typ <code>Float32</code> als Referenz übergeben.
Die zuweisenden Werte werden ebenfalls übergeben und haben den Typen <code>unsigned int</code>.
Anschließend werden die übergebenen Werte der übergebenen Struktur zugewiesen.</p>

<pre>void assignValues(Float32 *value, unsigned int sign, unsigned int biasedExponent, unsigned int mantissa) {
    value->sign = sign;
    value->biasedExponent = biasedExponent;
    value->mantissa = mantissa;
}
</pre>

<h5>printFloat32</h5>

<p>Der strukturierte Datentyp <code>Float32</code> wird per Call-By-Value übergeben, da für die Ausgabe der Bits keine Änderung
an den ursprünglichen Werten notwendig ist. Für die ordentliche formatierte Ausgabe der Bits wird zunächst ein Charakter-Array
mit den beiden entsprechenden Vorzeichen erstellt. In einer <code>printf</code>-Funktion wird das entsprechende Bit des Vorzeichens
mithilfe des Formatbezeichners <code>%d</code> ausgegeben. Auf das Charakter-Array wird mit dem Bit (<code>0, 1</code>) zugegriffen,
sodass das entsprechende Vorzeichen (<code>+, -</code>) ordentlich formatiert ausgegeben werden kann. <br> Für die Ausgabe des Biased
Exponenten und der Mantisse, in einer menschenlesbaren binären Repräsentation, wird eine Hilfsfunktion <code>printBinary</code> verwendet.</p>

<pre>void printFloat32(Float32 value) {
    const char signs[] = {'+', '-'};
    printf("Float32:\n");
    printf("Sign: %d (%c)\n", value.sign, signs[value.sign]);
    printf("Biased Exponent: %d (0b", value.biasedExponent);
    printBinary(value.biasedExponent, 8);
    printf(")\n");
    printf("Mantissa: 0b");
    printBinary(value.mantissa, 23);
    printf("\n");
}</pre>

<p>Die Hilfsfunktion <code>printBinary</code> wird als separate Funktion angelegt. Es wird ein Wert und eine
entsprechende Anzahl von Binärstellen übergeben. In einer Schleife wird durch die Anzahl der Binärstellen iteriert. In jeder
Iteration wird der übergebene Wert eine Binärstelle nach rechts geschoben, mithilfe von Bit-Shifting. Mit dem
bitweisen AND-Operator (<code>&</code>) wird <code>1</code> ausgegeben, wann immer die letzte Stelle der binären Zeichenfolge
eine <code>1</code> ist, sodass am Ende der Schleife alle Binärstellen des übergebenen Wertes ausgegeben werden.</p>

<pre>void printBinary(int value, int digits) {
    for (int i = digits; i >= 0; i--)
    {
        printf("%d", value >> i & 1);
    }
}</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>typedef struct {
    unsigned int sign : 1;
    unsigned int biasedExponent : 8;
    unsigned int mantissa : 23;
} Float32;

void assignValues(Float32 *value, unsigned int sign, unsigned int biasedExponent, unsigned int mantissa) {
    value->sign = sign;
    value->biasedExponent = biasedExponent;
    value->mantissa = mantissa;
}

void printBinary(int value, int digits) {
    for (int i = digits; i >= 0; i--)
    {
        printf("%d", value >> i & 1);
    }
}

void printFloat32(Float32 value) {
    const char signs[] = {'+', '-'};
    printf("Float32:\n");
    printf("Sign: %d (%c)\n", value.sign, signs[value.sign]);
    printf("Biased Exponent: %d (0b", value.biasedExponent);
    printBinary(value.biasedExponent, 8);
    printf(")\n");
    printf("Mantissa/Significand: 0b");
    printBinary(value.mantissa, 23);
    printf("\n");
}

int main() {
    Float32 testValue;
    assignValues(&testValue, 1, 130, 0b110101);

    printFloat32(testValue);

    return 0;
}
</pre>