<p>Um aus der Struktur ein Bitfeld zu erstellen, werden die einzelnen Attribute um die Anzahl der Bits ergänzt,
die sie belegen dürfen. Die Anzahlen ergeben sich aus der fachlichen Definition:</p>

<ul>
    <li><b>isActive</b> besitzt zwei Zustände, die sich in <b>einem Bit</b> speichern lassen.
        <br/>Die 2 Zustände sind 0 und 1.</li>
    <li><b>amount</b> besitzt 15 Zustände, die sich in <b>4 Bits</b> darstellen lassen.
        <br/>Die 15 Zustände sind 0000, 0001, 0010, 0011, 0100, 0101, 0110, 0111, 1000, 1001, 1010, 1011, 1100, 1101 und 1111.</li>
    <li><b>state</b> besitzt 8 Zustände, die sich in <b>3 Bits</b> darstellen lassen.
        <br/>Die 8 Zustände sind 000, 001, 010, 011, 100, 101, 110 und 111.</li>
</ul>

<p>Das Bitfeld lässt sich damit wie folgt definieren:</p>

<pre>typedef struct {
    unsigned char isActive:1;
    unsigned char amount:4;
    unsigned char state:3;
} SystemState;</pre>

<p>Hierbei ist zu beachten, dass das Bitfeld immer mindestens so groß ist wie der größte enthaltene Datentyp. Daher
verwenden wir hier den Datentyp <code>unsigned char</code>, der genau ein Byte belegt. Würden wir die ursprünglichen Datentypen beibehalten
(int, long), wäre das Bitfeld so groß wie <code>sizeof(long)</code>, obwohl es nur 8 Bit benötigt. Benötigt ein
Attribut mehr als 8 Bit (weil es mehr als 256 Zustände abbilden soll), müssen wir natürlich einen größeren Datentyp verwenden.</p>

<p>Durch ein einfaches Programm lässt sich nachprüfen, ob das Bitfeld tatsächlich nur ein Byte belegt:</p>

<pre>
#include &lt;stdio.h&gt;

typedef struct {
    unsigned char isActive:1;
    unsigned char amount:4;
    unsigned char state:3;
} SystemState;

int main(int argc, const char * argv[]) {
    printf("Größe von SystemState: %zu Byte\n", sizeof(SystemState));
    return 0;
}</pre>

<p>Als Ausgabe wird hier erwartet:</p>

<pre>
Größe von SystemState: 1 Byte
</pre>