<p>Um aus der Eigenschaften ein Bitfeld zu erstellen, werden die einzelnen Eigenschaften um die Anzahl der Bits ergänzt,
die sie belegen dürfen. Die Anzahlen ergeben sich aus der fachlichen Definition:</p>

<ul>
    <li><b>Vorzeichen</b> hat zwei Zustände, die sich in <b>einem Bit</b> speichern lassen.
    <li><b>Biased Exponent</b> hat einen größtmöglichen Wert von 255, der sich in <b>8 Bits</b> darstellen lässt.
    <li><b>Mantissen-Bits</b> soll den restlichen Speicherplatz auffüllen. Von den 4 gegebenen Bytes sind noch <b>23 Bits</b> übrig.
</ul>

<p>Das Bitfeld lässt sich damit wie folgt definieren:</p>

<pre>typedef struct {
    unsigned int sign: 1;
    unsigned int biasedExponent: 8;
    unsigned int significand: 23;
} Float32;</pre>

<p>Durch ein einfaches Programm lässt sich nachprüfen, ob das Bitfeld tatsächlich 4 Byte belegt:</p>

<pre>typedef struct {
    unsigned int sign: 1;
    unsigned int biasedExponent: 8;
    unsigned int significand: 23;
} Float32;

int main(int argc, const char * argv[]) {
    printf("Größe von Float32: %zu Byte\n", sizeof(Float32));
    return 0;
}</pre>

<p>Als Ausgabe wird hier erwartet:</p>

<pre>Größe von Float32: 4 Byte</pre>