<p>Konvertieren Sie (<span>[[${number1}]]</span>)<sub>10</sub> und (<span>[[${number2}]]</span>)<sub>10</sub>
ins Binärsystem, addieren Sie die Binärzahlen und konvertieren Sie das Ergebnis zurück ins Dezimalsystem.</p>
