<p>Zuerst wandeln wir die erste Zahl ins Binärsystem um.</p>

<div th:replace="common/integerDivisionAlgorithm :: integerDivisionAlgorithm(result = ${conversionResultFirstOperand})"></div>

<p>Nun wandeln wir die zweite Zahl ins Binärsystem um.</p>

<div th:replace="common/integerDivisionAlgorithm :: integerDivisionAlgorithm(result = ${conversionResultSecondOperand})"></div>

<p>Als nächstes addieren wir die beiden Binärzahlen:</p>

<div th:replace="common/binaryComputationTable :: binaryComputationTable(table = ${twoComplementAdditionTable})"></div>

<p>Das Ergebnis ([(${resultBinary})])<sub>2</sub> wandeln wir nun zurück ins Dezimalsystem.</p>

<table class="binaryComputationTable">
    [(${resultConversionToDecimal})]
</table>

<p>Das Ergebnis der Addition ist demnach [(${result})].</p>