<p>Es werden drei Nutzereingaben durchgeführt und in den Speicherregistern a, b und c gespeichert. </p>

<pre>
in a            ; Eingabe von a
in b            ; Eingabe von b
in c            ; Eingabe von c
</pre>

<p>a wird geladen und mit b verglichen. Wenn a größer als b ist, springen wir zur Marke <code>agtb</code> (&quot;a greater than b&quot;).</p>

<pre>
ld a            ; a wird geladen
cmp b           ; a wird mit b verglichen
jgt agtb        ; wenn a &gt; b, springe zu agtb
</pre>

<p>Wenn a nicht größer als b ist, wird b geladen und mit c verglichen. Wenn b größer als c ist, springen wir zur Marke
<code>bhighest</code> (&quot;b is the highest value&quot;). Ansonsten springen wir zur Marke <code>chighest</code>
    (&quot;c is the highest value&quot;).</p>

<pre>
ld b            ; b wird geladen
cmp c           ; b wird mit c verglichen
jgt bhighest    ; wenn b &gt; c, springe zu bhighest
jmp chighest    ; sonst (a &lt;= b && b &lt;= c), springe zu chighest
</pre>

<p>Bei der Sprungmarke <code>agtb</code> (es gilt: a > b) wird c mit dem Inhalt des Akkumulators verglichen, in dem sich noch a befindet.
    Wenn a größer als c ist, ist a der größte Wert und wir springen zu <code>ahighest</code> (&quot;a is the highest value&quot;).
    Ansonsten bewegen wir uns zu <code>chighest</code> (&quot;c is the highest value&quot;).</p>

<pre>
cmp c :agtb     ; c wird mit dem Akkumulator, also mit a, verglichen
jgt ahighest    ; wenn a &gt; c, springe zu ahighest
jmp chighest    ; sonst (a &gt; b aber a &lt;= c), springe zu chighest
</pre>

<p>An der Sprungmarke <code>ahighest</code> gilt, dass a der größte Wert ist. Somit speichern wir a im Register d. Danach
    springen wir zur Marke, die das Programm beendet.</p>

<pre>
ld a :ahighest  ; a ist Maximum
st d            ; setze d = a
jmp end         ; beenden
</pre>

<p>Analog dazu wird bei den Marken <code>bhighest</code> und <code>chighest</code> vorgegangen.</p>

<pre>
ld b :bhighest  ; b ist Maximum,
st d            ; setze d = b
jmp end         ; beenden

ld c :chighest  ; c ist Maximum,
st d            ; setze d = c
jmp end         ; beenden
</pre>

<p>An der Marke <code>end</code> wird lediglich das Programm beendet. </code>end</code> muss der letzte Befehl
im Programm sein, daher benötigen wir eine eigene Marke für das Beenden der verschiedenen Programmpfade.</p>

<pre>
end :end
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>
in a            ; Eingabe von a
in b            ; Eingabe von b
in c            ; Eingabe von c

ld a            ; a wird geladen
cmp b           ; a wird mit b verglichen
jgt agtb        ; wenn a &gt; b, springe zu agtb

ld b            ; b wird geladen
cmp c           ; b wird mit c verglichen
jgt bhighest    ; wenn b &gt; c, springe zu bhighest
jmp chighest    ; sonst (a &lt;= b && b &lt;= c), springe zu chighest

cmp c :agtb     ; c wird mit dem Akkumulator, also mit a, verglichen
jgt ahighest    ; wenn a &gt; c, springe zu ahighest
jmp chighest    ; sonst (a &gt; b aber a &lt;= c), springe zu chighest

ld a :ahighest  ; a ist Maximum
st d            ; setze d = a
jmp end         ; beenden

ld b :bhighest  ; b ist Maximum,
st d            ; setze d = b
jmp end         ; beenden

ld c :chighest  ; c ist Maximum,
st d            ; setze d = c
jmp end         ; beenden

end :end
</pre>

