<p>Schreiben Sie eine Funktion <b>sinCosTan</b>.</p>

<p>Die Funktion erhält einen Winkel in <b>Grad</b> und gibt dessen Sinus-,
    Cosinus und Tangens-Wert aus.</p>

<p>Wichtig: Die Funktionen der Standardbibliothek erwarten den Winkel in <b>Bogenmaß</b>. Zur Umrechnung kann diese Formel verwendet werden.</p>

<table class="equationTable">
    <tr>
        <td>Bogenmaß</td>
        <td>=</td>
        <td>Winkelmaß / 180 &middot; PI</td>
    </tr>
</table>
