<p>Die Lösung sieht wie folgt aus:</p>

<pre>void sinCosTan(double degreeAngle) {
    double radiantAngle = degreeAngle / 180.0 * M_PI;

    printf("sin(%.1f) = %.1f\n", degreeAngle, sin(radiantAngle));
    printf("cos(%.1f) = %.1f\n", degreeAngle, cos(radiantAngle));
    printf("tan(%.1f) = %.1f\n", degreeAngle, tan(radiantAngle));
}</pre>

<p>Der übergebene Winkel wird zunächst von Winkelmaß in Bogenmaß umgerechnet
    und als <code>double</code>-Wert in der Variable <code>radiantAngle</code> gespeichert.</p>

<p>Anschließend werden Sinus, Kosinus und Tangenz mit Hilfe der jeweiligen Funktionen aus der Standardbibliothek
    (<code>sin</code>, <code>cos</code> und <code>tan</code>) berechnet und mit der printf-Funktion ausgegeben.</p>

<p>Bei Ausgabe verwenden wir den Formatparameter <code>%.1f</code>, um das Ergebnis mit einer Genauigkeit von einer Nachkommastelle auszugeben.</p>
