<p>Wir implementieren zunächst eine Hilfsfunktion <code>factorial</code>, die es uns ermöglicht, die Fakultät einer Zahl zu berechnen. Die
Funktion erhält eine Zahl x vom Typ <code>int</code> als Übergabeparameter. Wir deklarieren zuerst eine Variable (<code>result</code>),
die das Ergebnis temporär speichern wird. In einer for-Schleife multiplizieren wir in jedem Durchgang der Schleife den Wert der
Laufvariable (<code>i</code>) mit der Ergebnisvariable (<code>result</code>) und weisen dieser den neuen Wert zu. Nach jedem Durchgang
wird die Laufvariable (<code>i</code>) um 1 erhöht. Sobald die Laufvariable <code>i</code> den Wert der übergebenen Zahl <code>x</code>
erreicht hat, wird die Schleife verlassen. Anschließend wird das Ergebnis zurückgegeben.</p>

<pre>double factorial(int x){
    double result = 1;
    for (int i = 1; i &lt;= x; i++) {
        result = result * i;
    }
    return result;
}
</pre>

<p>Die Funktion <code>cosinusApproximation</code> erhält die beiden Variablen <code>x</code> und <code>N</code> als
Übergabeparameter mit dem Typ <code>double</code>. Die Funktion selber soll keinen Rückgabewert liefern und ist daher
mit dem Schlüsselwort <code>void</code> gekennzeichnet.</p>

<pre>
void cosinusApproximation(double x, double N) {
</pre>

<p>Wir deklarieren zunächst eine Variable <code>sum</code>, die am Ende der Funktion ausgegeben werden soll. Der übergebene
Winkel <code>x</code> wird von Winkelmaß in Bogenmaß umgerechnet. Dazu verwenden wir die Pi-Konstante <code>M_PI</code>
aus der Standardbibliothek für mathematische Funktionen und Konstanten (<code>math.h</code>).</p>

<pre>
    double sum = 0;
    x = x * M_PI / 180;
</pre>

<p>Mit einer for-Schleife iterieren wird von 0 bis <code>N</code> und berechnen die Cosinus Funktion unter Verwendung
der abgebrochenen Potenzreihe. Wir verwenden dabei die Funktion <code>pow</code> aus der Standard-Bibliothek zur
Bildung von Potenzen und unsere Hilfsfunktion <code>factorial</code> zur Berechnung von Fakultäten.</p>

<pre>
    for (int i = 0; i &lt;= N; i++) {
        sum = sum + pow(-1, i) * (pow(x, 2 * i) / factorial(2 * i));
    }
</pre>

<p>Wir geben mit der Funktion <code>printf</code> unser berechnetes Ergebnis <code>sum</code> aus. Um das Ergebnis mit der
Cosinus-Funktion <code>cos</code> aus der Standard-Bibliothek (<code>math.h</code>) zu vergleichen, geben wir zusätzlich
den Rückgabewert der Funktion <code>cos</code> aus.</p>

<pre>
    printf("\n\nThe value of cos(%f) using series = %f", x, sum);
    printf("\nThe value of cos(%f) using math.h = %f", x, cos(x));
}
</pre>

<p>In einem Hauptprogramm testen wir nun die Funktion <code>cosinusApproximation</code>. Zuerst deklarieren wir Variablen für
die beiden Zahlen <code>x</code> und <code>N</code>. Mit der Funktion <code>scanf</code> lesen wir Nutzereingaben ein
und weisen sie mit dem Adressoperator <code>&</code> den jeweiligen Variablen zu. Da es sich um Variablen vom Typ
<code>double</code> handelt, verwenden wir den Formatbezeichner <code>"%lf"</code>. Anschließend rufen wir die Funktion
<code>cosinusApproximation</code> auf und übergeben ihr die beiden Variablen.</p>

<pre>
int main() {
    double x, N;

    printf("Please enter x degrees to calculate cos(x) using series expansion =");
    scanf("%lf", &x);
    printf("Please enter N to calculate cos(x) using series expansion N = ");
    scanf("%lf", &N);

    cosinusApproximation(x, N);
    return 0;
}
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>
#include &lt;math.h&gt;

double factorial(int x) {
    double fac = 1;
    for (int i = 1; i &lt;= x; i++) {
        fac = fac * i;
    }
    return fac;
}

void cosinusApproximation(double x, double N) {
    double sum = 0;
    x = x * M_PI / 180;

    for (int i = 0; i &lt;= N; i++) {
        sum = sum + pow(-1, i) * (pow(x, 2 * i) / factorial(2 * i));
    }

    printf("\n\nThe value of cos(%f) using series = %f", x, sum);
    printf("\nThe value of cos(%f) using math.h = %f", x, cos(x));
}


int main() {
    double x, N;

    printf("Please enter x degrees to calculate cos(x) using series expansion =");
    scanf("%lf", &x);
    printf("Please enter N to calculate cos(x) using series expansion N = ");
    scanf("%lf", &N);

    cosinusApproximation(x, N);
    return 0;
}
</pre>