<h3>Ideale Lösung</h3>

<p>Die eleganteste Lösung arbeitet mit einem char-Zeiger, der auf das erste Zeichen im String zeigt und in jeder
Iteration auf das nächste Zeichen geschoben wird. Die Schleife endet, sobald das Null-Zeichen (\0) erreicht ist.
In jeder Iteration wird das aktuelle Zeichen durch Dereferenzierung (*p) ausgelesen und mit dem Leerzeichen
verglichen. Ist der Vergleich wahr (true), wird das Zeichen durch ein Dollarzeichen ersetzt.</p>

<pre>void formatText(char* str) {
    for(char* p = str; *p != '\0'; p++) {
        if(*p == ' ') {
            *p = '$';
        }
    }
}</pre>

<h3>Alternative Lösung</h3>

<p>Statt dem Zeiger kann man auch mit Array-Indizierung arbeiten. Dann benötigt man aber die strlen-Funktion
aus der Standardbibliothek, um die Länge des Strings zu bestimmen.</p>

<pre>#include &lt;string.h&gt;

void formatText(char* str) {
    for(int i = 0; i < strlen(str); i++) {
        if(str[i] == ' ') {
            str[i] = '$';
        }
    }
}</pre>

Die Lösung ist aus zwei Gründen ineffizienter als die oben genannte:

<ul>
    <li>In jeder Iteration wird strlen aufgerufen. Das führt dazu, dass in jeder Iteration der komplette String einmal
    durchlaufen wird, um die Länge zu bestimmen.</li>
    <li>Der Zugriff über den Index str[i] entspricht intern *(str+i). Die beiden Index-Zugriffe führen also zu zwei
    zusätzlichen Additionen pro Iteration.</li>
</ul>