<p>Schreiben Sie das folgende Programm im MOPS-Assembler.
</p>

<p>Ein:e Nutzer:in gibt die Werte a und b ein. Das Programm berechnet nun
</p>

<table class="equationTable">
    <tr>
        <td>2a<sup>2</sup> – 3b</td>
    </tr>
</table>

<p>und gibt das Ergebnis im Ausgaberegister aus.</p>
