<p>Es werden zwei Eingaben durchgeführt und in den Speicherregistern von a und b gespeichert. </p>

<pre>
in a    ; Eingabe von a
in b    ; Eingabe von b
</pre>

<p>a wird geladen. Anschließend werden Multiplikationen mit a durchgeführt und in den Speicherregister von f
gespeichert.
</p>

<pre>
ld a    ; a in den Akku laden
mul a   ; Akku <- a*a
mul 2   ; Akku <- 2*(a*a)
st f    ; Akku in f speichern
</pre>

<p>Zwischenergebnis: f = 2a<sup>2</sup></p>
<p>b wird geladen. Anschließend wird b mit 3 multipliziert und in den Speicherregister von g gespeichert.</p>

<pre>
ld b    ; b in den Akku laden
mul 3   ; Akku <- 3*b
st g    ; Akku in g speichern
</pre>

<p>Zwischenergebnis: g = 3b</p>
<p>f wird geladen. g wird von f subtrahiert. Das Ergebnis wird in den Speicherregister von h gespeichert.</p>

<pre>
ld f    ; f in den Akku laden
sub g   ; Akku <- f-g
st h    ; Akku in h speichern
</pre>

<p>Das Ergebnis lautet nun h = f - g = 2a<sup>2</sup> - 3b</p>
<p>h wird nun ausgegeben.</p>

<pre>
out h   ; h ausgeben
end     ; Ende des Programms
</pre>

<p>Das Programm wird beendet.</p>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>
in a    ; Eingabe von a
in b    ; Eingabe von b

ld a    ; a in den Akku laden
mul a   ; Akku <- a*a
mul 2   ; Akku <- 2*(a*a)
st f    ; Akku in f speichern

ld b    ; b in den Akku laden
mul 3   ; Akku <- 3*b
st g    ; Akku in f speichern

ld f    ; f in den Akku laden
sub g   ; Akku <- f-g
st h    ; Akku in h speichern

out h   ; h ausgeben
end     ; Ende des Programms
</pre>