<p>Sie die folgenden Variablen und deren Deklarationen.
    Entscheiden Sie, ob die jeweiligen Deklarationen und Wertezuweisungen korrekt sind oder nicht.
    Begründen Sie kurz Ihre Antwort.
</p>

<ol>
    <li><code>int xyz_;</code></li>
    <li><code>float _movementSpeed = 0.3105f;</code></li>
    <li><code>long double perimeter = 43,125f;</code></li>
    <li><code>int a = 5, int A = 5;</code></li>
    <li><code>char 2021 = 'F';</code></li>
    <li><code>int die Wahrheit = 42;</code></li>
</ol>

<p>Beispiel-Lösung:</p>

<ul>
    <li>Deklaration: <code>int variable;</code></li>
    <li>Gültig: <i>Ja.</i></li>
    <li>Begründung: <i>Bezeichner besteht nur aus zulässigen Elementen, den Buchstaben (a-z).</i></li>
</ul>