<table class="simpleBorderTable">
    <thead>
    <tr>
      <th>Deklaration</th>
      <th>Gültig?</th>
      <th>Begründung</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><code>int xyz;</code></td>
      <td>Ja</td> 
      <td>Bezeichner besteht aus zulässigen Zeichen: Buchstaben</td>
    </tr>
    <tr>
      <td><code>float _movementSpeed = 0.3105f;</code></td>
      <td>Ja</td> 
      <td>Bezeichner besteht aus zulässigen Zeichen: Buchstaben und Underscore (_)</td>
    </tr>
    <tr>
      <td><code>long double perimeter = 43,125f;</code></td>
      <td>Nein</td> 
      <td>Fließkomma-Literale werden in C nicht mit Komma, sondern Punkt gesetzt. Postfix f passt nicht zu Datentyp.</td>
      </td>
    </tr>
    <tr>
      <td><code>int a = 5, int A = 5;</code></td>
      <td>Nein</td> 
      <td>Es darf kein weiteres 'int' vor dem Variablennamen 'A' stehen.</td>
    </tr>
    <tr>
      <td><code>char 2021 = 'F';</code></td>
      <td>Nein</td> 
      <td>Ein Bezeichner (hier: &quot;2021&quot;) darf nicht mit einer Ziffer beginnen.</td>
    </tr>
    <tr>
      <td><code>int die Wahrheit = 42;</code></td>
      <td>Nein</td> 
      <td>Ein Bezeichner (hier: &quot;die Wahrheit&quot;) darf keine Leerzeichen enthalten.</td>
    </tr>
    </tbody>
</table>