<p>Es werden zunächst Variablen für das Wasser in der Flasche, das Wasser im Glas und der gesamten Menge erstellt.</p>

<pre>
float amountInBottle, amountInGlass, totalAmount;
</pre>

<p>Die Frage nach dem Wasser im Glas und in der Flasche wird mit der <code>printf</code>-Funktion umgesetzt.
    Die Werte werden mithilfe der <code>scanf</code>-Funktion über Tastatureingaben erfasst.
    Die <code>scanf</code>-Funktion benötigt für den ersten Parameter einen Formatbezeichner. Da für die Variablen der Typ <code>float</code>
    verwendet wurde, wird hier <code>"%f"</code> angegeben. Als zweiter Parameter benötigt die Funktion die Adresse der
    Variablen, deshalb verwenden wir den Referenz-Operator <code>&</code>.
</p>

<pre>
printf("How much water is in the bottle?"); scanf("%f", &amountInBottle);
printf("How much water is in the glass?"); scanf("%f", &amountInGlass);
</pre>

<p>Für die gesamte Menge wird die Menge des Wassers im Glas und in der Flasche aufsummiert.</p>

<pre>
totalAmount = amountInBottle + amountInGlass;
</pre>

<p>Wenn die gesamte Menge größer als 0 ist und das Glas nicht leer ist wird der Nutzer informiert,
wie viel Wasser insgesamt übrig ist. Ansonsten wird, wenn die gesamte Menge größer als 0 und das Glas
leer ist, der Nutzer informiert, mit wie viel Wasser das Glas aufgefüllt werden kann. Ansonsten wird
der Nutzer informiert, dass es kein Wasser mehr gibt.</p>

<pre>
if(totalAmount > 0 && amountInGlass != 0) {
    printf("\nPlease finish the drink. There are %f ml left.", totalAmount);
} else if(totalAmount > 0 && amountInGlass == 0) {
    printf("\nThe glass is empty. You have %f to refill", totalAmount);
} else {
    printf("\nNothing left to drink");
}
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>int main() {
    float amountInBottle, amountInGlass, totalAmount;

    printf("How much water is in the bottle?"); scanf("%f", &amountInBottle);
    printf("How much water is in the glass?"); scanf("%f", &amountInGlass);

    totalAmount = amountInBottle + amountInGlass;

    if(totalAmount > 0 && amountInGlass != 0) {
        printf("\nPlease finish the drink. There are %f ml left.", totalAmount);
    } else if(totalAmount > 0 && amountInGlass == 0) {
        printf("\nThe glass is empty. You have %f to refill", totalAmount);
    } else {
        printf("\nNothing left to drink");
    }

    return 0;
}
</pre>