<p>Wir implementieren zunächst den Funktionskopf:</p>

<pre>void drivingToVacation() {</pre>

<p>Es werden zunächst Variablen für die zurückzulegende Strecke in Kilometern, die Tankkapazität des Fahrzeugs
    in Liter und den Benzinverbrauch des Fahrzeugs pro 100 km erstellt.</p>

<pre>
    double distance;
    double fuelCapacity;
    double consumptionPer100km;
</pre>

<p>Die Werte werden mithilfe der <code>scanf</code>-Funktion über Tastatureingaben erfasst.
Die scanf-Funktion benötigt für den ersten Parameter einen Formatbezeichner. Da für die Variablen der Typ <code>double</code>
verwendet wurde, muss hier <code>"%lf"</code> angegeben werden. Der zweite Parameter benötigt die Adresse der
Variable, deshalb verwendet hier den Referenz-Operator <code>&</code>.
</p>

<pre>
    printf("Distance: ");
    scanf("%lf", &distance);

    printf("Fuel capacity: ");
    scanf("%lf", &fuelCapacity);

    printf("Consumption per 100 km: ");
    scanf("%lf", &consumptionPer100km);
</pre>

<p>Im nächsten Schritt wird eine Variable für die Reststrecke erstellt. Zunächst hat diese den gleichen Wert wie die Strecke
bis zum Urlaubsort.</p>

<pre>
    double remainingDistance = distance;
</pre>

<p>Das Auto wird vollgetankt, indem eine Variable für den aktuellen Tankinhalt erstellt und mit dem selben Wert wie die
Tankkapazität initialisiert wird.</p>

<pre>
    double remainingFuel = fuelCapacity;
    printf("Tanken\n");
</pre>

<p>In einer while-Schleife wird in jeder Iteration die Reststrecke und der aktuelle Tankinhalt ausgegeben.
Die Reststrecke wird um 1 km verringert. Der aktuelle Tankinhalt wird um den entsprechenden Benzinverbrauch reduziert.
Beträgt der aktuelle Tankinhalt weniger als die Tankkapazität dividiert durch 8, so wird getankt, indem der aktuelle Tankinhalt
wieder auf die Tankkapizität gesetzt wird. Die Schleife wird wiederholt, solange die Reststrecke größer als 0 ist.
</p>

<pre>
    while(remainingDistance > 0) {
        printf("Rest-Distanz: %.1f km, Rest-Benzin: %.1f l\n", remainingDistance, remainingFuel);

        remainingDistance -= 1;
        remainingFuel -= (consumptionPer100km / 100.0);

        if(remainingFuel < fuelCapacity / 8) {
            remainingFuel = fuelCapacity;
            printf("Tanken\n");
        }
    }
}</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>void drivingToVacation() {
    double distance;
    double fuelCapacity;
    double consumptionPer100km;

    printf("Distance: ");
    scanf("%lf", &distance);

    printf("Fuel capacity: ");
    scanf("%lf", &fuelCapacity);

    printf("Consumption per 100 km: ");
    scanf("%lf", &consumptionPer100km);

    double remainingDistance = distance;

    double remainingFuel = fuelCapacity;
    printf("Tanken\n");

    while(remainingDistance > 0) {
        printf("Rest-Distanz: %.1f km, Rest-Benzin: %.1f l\n", remainingDistance, remainingFuel);

        remainingDistance -= 1;
        remainingFuel -= (consumptionPer100km / 100.0);

        if(remainingFuel < fuelCapacity / 8) {
            remainingFuel = fuelCapacity;
            printf("Tanken\n");
        }
    }
}</pre>
