<p>Betrachten Sie den folgenden Code:</p>

<pre>
int a;
int b = 3;
</pre>

<p>Welchen Wert haben <code>a</code> und <code>b</code> nach der Auswertung des folgenden Ausdrucks?</p>

<pre>
a = b++
</pre>

