<p>Betrachten Sie den folgenden Code:</p>

<pre>
boolean isFast = true;
boolean isSlow = false;
boolean isSuperFast = false;
</pre>

<p>Welchen Wert ergibt der folgende Ausdruck?</p>

<pre>
isFast && !isSlow || isSuperFast
</pre>