<p>Betrachten Sie den folgenden Code:</p>

<pre>
int x;
int y = 3;
</pre>

<p>Welchen Wert haben <code>x</code> und <code>y</code> nach der Auswertung des folgenden Ausdrucks?</p>

<pre>
x = ++y
</pre>