<p>In dem Ausdruck</p>

<pre>
a = b++
</pre>

<p>erhält <code>a</code> den Wert 3. <code>b</code> wird inkrementiert und erhält den Wert 4.</p>

<p>Bei Postfix-Operatoren (<code>b++</code>) wird erst der Wert der Variable zurückgeben und dann wird die Variable
    erhöht. Deshalb erhält <code>a</code> den Wert der Variable <code>b</code> <emph>vor</emph> ihrer Inkrementierung.</p>

