<p>In dem Ausdruck wird <code>x</code> inkrementiert und erhält den Wert 4.
<code>y</code> erhält dann diesen Wert 4.</p>

<p>Bei Präfix-Operatoren (<code>++y</code>) wird erst die Variable erhöht und dann wird der Wert zurückgegeben.
    Deshalb erhält <code>x</code> den erhöhten Wert der Variable <code>y</code>.</p>



