<p>Der Ausdruck gibt den Wert 16 zurück.</p>

<p>Beachten Sie die Auswertungsreihenfolge von Ausdrücken:</p>

<ol>
    <li>geklammerte Teilausdrücke</li>
    <li>einstellige Postfix-Operatoren (<code>c++</code>)</li>
    <li>einstellige Präfix-Operatoren (<code>--b</code>)</li>
    <li>mehrstellige Operatoren gemäß Vorrangregeln (z.B. Punkt vor Strich)</li>
</ol>



