<p>Der Ausdruck</p>

<pre>
a > 3 || b < 5
</pre>

<p>gibt den booleschen Wert <code>true</code> zurück.</p>

<p><code>a > 3</code> ergibt falsch (0), jedoch ist <code>b < 5</code> wahr (1). Der logische OR-Operator (<code>||</code>) gibt den
    booleschen Wert <code>1</code> zurück, wenn einer der beiden Operanden wahr (ungleich 0) ist.</p>
