<p>In dem Ausdruck</p>

<pre>
a = b = c
</pre>

<p>erhält <code>a</code> den Wert 3.</p>

<p>Der Zuweisungsoperator (<code>=</code>) ist rechtsassoziativ. Es wird zuerst der Ausdruck auf der rechten Seite
    des Operators (<code>b = c</code>) ausgewertet. Das Ergebnis dieser Zuweisung ist der zugewiesene Wert 3.
    Anschließend erhält <code>a</code> diesen Wert.
</p>