<p>Durch den Ausdruck</p>

<pre>c = a / b</pre>

<p>erhält <code>c</code> den Wert 2.</p>

<p>Der Typ von <code>c</code> ist zwar <code>float</code>,
    bei der Division der Ganzzahlen (<code>a / b</code>) gehen die Nachkommastellen jedoch verloren, bevor
    der Wert <code>c</code> zugewiesen wird.</p>