<p>Durch die letzte Anweisung</p>

<pre>float c = a / b</pre>

<p>erhält <code>c</code> den Wert 2.5.</p>

<p>Bei der Division zwischen <code>a</code> (Typ <code>int</code>) und <code>b</code> (Typ <code>float</code>) erfolgt eine implizite
    Typkonvertierung in <code>float</code>.</p>