<p>Der Ausdruck gibt den booleschen Wert <code>true</code> zurück.</p>

<p>Beachten Sie:</p>

<ul>
    <li><code>!</code> bindet stärker als <code>&&</code></li>
    <li><code>&&</code> bindet stärker als <code>||</code></li>
</ul>