<p>Der Ausdruck gibt den Wert 7 zurück.</p>

<p>Zuerst wird die Klammer ausgewertet. Der Postfix-Operator (<code>b--</code>) gibt erst den Wert von <code>b</code> zurück (3) und dekrementiert dann den
Wert. Das heißt auf <code>a</code> wird 3 aufaddiert. Bei der anschließend erneuten Addition von <code>b</code> wird der zuvor dekrementierte Wert 2 addiert.</p>





















