<p>Der Ausdruck gibt den booleschen Wert 0 (falsch) zurück, da <code>b</code> 10 ist und der Ausdruck
<code>b < 10</code> entsprechend 0 (falsch) ergibt.</p>

<p>Der logische AND-Operator (<code>&&</code>) gibt genau dann den booleschen Wert <code>1</code> (wahr) zurück,
wenn beide Operanden wahr sind.</p>
