<button type="button" routerLink="/" class="btn btn-outline-secondary mb-4">< Zur Übersicht</button>

<h1 class="mb-4" [innerHtml]="exercise?.name"></h1>

<!-- Loading configuration -->
<ng-container *ngIf="isInitialLoading">
    <div class="d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
        </div>
        <strong class="ms-2">Lade Aufgabe...</strong>
    </div>
</ng-container>

<!-- Enter submission data -->
<ng-container *ngIf="!isInitialLoading && exercise">
    <div class="d-flex align-items-center justify-content-start mt-2">
        <h2 class="mt-3">Aufgabe</h2>
        <ng-container *ngIf="exerciseExam">
            <span class="ms-2 mt-2 icon-before info-icon" ngbTooltip="Die Aufgabe stammt aus der Klausur {{exerciseExam}}." placement="right"></span>
        </ng-container>
    </div>
    <p [innerHtml]="questionHtml"></p>

    <div class="d-flex align-items-center justify-content-start mt-2">
        <button class="btn btn-primary" [disabled]="showSolution" (click)="showSolution = true">Lösung&nbsp;anzeigen</button>
        <ng-container *ngIf="exerciseNumberOfVariants > 1; else noVariants">
            <button class="btn btn-outline-secondary ms-3" (click)="loadExercise()">Andere&nbsp;Aufgabe</button>
            <div class="text-muted ms-3 variantLabel">Es gibt {{exerciseNumberOfVariants | number : '1.0-0'}} Varianten dieser Aufgabe.</div>
        </ng-container>
        <ng-template #noVariants>
            <span class="text-muted ms-3 variantLabel">Es gibt nur eine Variante dieser Aufgabe.</span>
        </ng-template>
        <div class="spinner-border text-secondary ms-2 mt-1" role="status" *ngIf="isLoadingNewQuestion">
            <span class="sr-only"></span>
        </div>
    </div>

    <ng-container *ngIf="showSolution">
        <h2 class="mt-4">Lösung</h2>
        <p [innerHtml]="solutionHtml"></p>
    </ng-container>
</ng-container>