html, body
  height: 100%

main
  padding: 3rem
  min-height: calc(100% - 96px)
  overflow: hidden

p
  margin-top: 10pt
  margin-bottom: 10pt

h1
  font-size: 22pt

h2
  font-size: 18pt

h3
  font-size: 12pt
  font-weight: bold

li
  margin-top: 8px
  margin-bottom: 8px

pre
  background: #F0F0F0
  border: 1px solid #ddd
  border-left: 3px solid #3030ff
  color: #000
  page-break-inside: avoid
  font-family: monospace
  font-size: 15px
  line-height: 1.6
  margin-bottom: 1.6em
  max-width: 100%
  overflow: auto
  padding: 1em 1.5em
  display: block
  word-wrap: break-word

code
  color: black
  
.btn
  max-height: 40px

.format-requirement-list-item
  line-height: 1.6

.tooltip-inner
  max-width: none

.icon::before
  content: ""
  display: inline-block
  width: 1.5em
  height: 1.5em
  float: left
  background-repeat: no-repeat
  background-size: contain
  speak: none

.icon-before
  position: relative
  top: 0.1em

  &::before
    content: ""
    display: inline-block
    width: 1.5em
    height: 1.5em
    float: left
    margin-right: 0.5rem
    background-repeat: no-repeat
    background-size: 100% auto
    speak: none

.ok-icon::before
    background-image: url("assets/icons/check.svg")

.error-icon::before
    background-image: url("assets/icons/exclamation.svg")

.info-icon::before
    background-image: url("assets/icons/info.svg")

.simpleBorderTable
  border-collapse: collapse
  border-spacing: 10px 10px
  tr
    border: 1px solid #000
  th
    border: 1px solid #000
    padding: 5px 10px 5px 10px
  td
    border: 1px solid #000
    padding: 5px 10px 5px 10px

.errorDetailsCaption
  margin-bottom:4px
  font-size:10pt

.errorDetails
  padding: 15px
  margin: 0px
  background-color: #EEE
  font-family: monospace

.equationTable
  border-collapse: separate
  border-spacing: 10px 0

.truthTable
  border-collapse: collapse
  border-spacing: 10px 10px
  tr
    border: 1px solid #000
  td
    border: 1px solid #000
    padding: 5px 10px 5px 10px
    text-align: center

.infiniteNumberExpansion
  border-top: 1px solid #000

.binaryComputationTable
  tr .sumLineRow
    border-top: 1px solid #000

  td
    padding: 0 10px 0 10px

  .carryOverDigit
    font-size: 8pt
    text-align: center

.smallDescription
  font-size: 8pt
  color: #888

.ieeeSign
  color: #080
.ieeeBiasedExponent
  color: #008
.ieeeActualExponent
  color: #388
.ieeeMantissa
  color: #808