<p>Deklarieren Sie eine Variable (x) vom Typ int, welche über die Tastatur eingelesen wird. Deklarieren Sie einen Zeiger
(pointer), der auf die Variable x zeigt.</p>

<p>Erhöhen Sie über den Zeiger den Wert der Variable x um 5.</p>