<p>Deklarieren Sie einen Zeiger vom Typ <code>char</code> und einen Zeiger vom Typ <code>int</code>, welche
beide auf eine Variable y vom Typ <code>int</code> zeigen. Wählen Sie geeignete Bezeichner für die Zeiger.</p>

<p>Geben Sie den Inhalt der von den beiden Zeigern referenzierten Variable y auf dem Bildschirm aus.</p>