<p>Zunächst deklarieren wir die Variable x. Mit der Funktion <code>scanf</code> lassen wir den Nutzer einen Wert
eingeben, der in der Variable x gespeichert wird. Dafür wird die Speicheradresse von x über den Adress-Operator &
übergeben. Der Formatbezeichner (%d) bezeichnet eine Integer-Variable.</p>

<pre>int x;

printf("Geben sie einen Wert für x ein:");
scanf("%d", &x);
</pre>

<p>Es wird nun ein Zeiger vom Typ <code>int</code> erstellt. Dieser erhält mithilfe des Adress-Operators (&) eine Referenz auf die
Adresse der Variable x. Nun kann mithilfe des Dereferenzierungs-Operators (*) Zugriff auf die Integer-Zahl erhalten werden,
auf die der Zeiger verweist. Auf diese Art und Weise können wir den Wert der Variable x erhöhen, ohne x direkt zu erhöhen.</p>

<pre>int* pointer = &amp;x;
*pointer += 5;
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>
int main()
{
    int x;

    printf("Geben sie einen Wert für x ein:");
    scanf("%d", &x);

    int* pointer = &amp;x;
    *pointer += 5;

    printf("x: %d", x);
    return 0;
}
</pre>