<p>Zunächst definieren wir die Variable y und geben ihr als Beispielwert die Zahl 65. Anschließend wird ein Zeiger
vom Typ <code>int</code> deklariert. Dieser erhält mithilfe des Adress-Operators (&) die Speicheradresse der Variable y.</p>

<pre>
int y = 65;
int* intPointer = &amp;y;
</pre>

<p>Anschließend wird der vom Zeiger referenzierte Inhalt mit der Funktion <code>printf</code> ausgegeben.
Es werden Formatbezeichner für den Inhalt vom Typ <code>int</code> (%d) verwendet. Um den referenzierten Inhalt der
Zeiger ausgeben zu können, wird der Dereferenzierungs-Operator (*) benutzt.</p>

<pre>
printf("Wert von y über Zeiger vom Typ int: %d\n", *intPointer);
</pre>

<p>Wir erhalten folgende Ausgabe:</p>

<pre>
Wert von y über Zeiger vom Typ int: 65
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>int main()
{
    int y = 65;
    int* intPointer = &amp;y;

    printf("Wert von y über Zeiger vom Typ int: %d", *intPointer);
    return 0;
}
</pre>
