<p>Schreiben Sie eine Funktion <b>toggleLetterCase</b>, welche ein Zeichen als
Übergabeparameter erhält. Handelt es sich bei dem übergebenen Zeichen um einen
Großbuchstaben, so wandelt die Funktion das Zeichen in einen Kleinbuchstaben um und
gibt diesen zurück (<code>return</code>).</p>