<p>Schreiben Sie eine Funktion <b>moddedMaximum</b>, welche die größere von zwei übergebenen Zahlen
zurückgibt. Sind die Zahlen gleich groß, wird stattdessen der vierfache Wert der Zahl zurückgegeben.</p>

<p>Hinweis: Achten Sie auf eine sinnvolle Wahl der Datentypen und Rückgabewerte.</p>
