<p>Schreiben Sie eine Funktion <b>rollCustomDice</b>. Die Funktion simuliert das Rollen eines
oder mehrerer Würfel. Als Übergabeparameter erhält die Funktion eine Anzahl an Würfen
sowie die Anzahl der verschiedenen Seiten des Würfels. Die Funktion gibt die Summe der gerollten
Augenzahlen aller Würfel zurück.</p>