<p>Gehen Sie davon aus, dass wir in einem zweidimensionalen, kartesischen Koordinatensystem
arbeiten, d.h. jeder Punkt im Raum besitzt eine X- und eine Y-Komponente. Das
Koordinatensystem ist so aufgespannt, dass größere Komponenten weiter rechts bzw. weiter oben liegen.</p>

<p>Schreiben Sie ein C-Programm, das die kartesischen Koordinaten von zwei Strecken
einliest (vier geometrische Punkte) und ausgibt, ob die Strecken <b>senkrecht</b>, <b>parallel</b> oder
<b>ohne spezielle Beziehung</b> zueinander verlaufen.
</p>