<p>Gehen Sie davon aus, dass wir in einem zweidimensionalen, kartesischen Koordinatensystem
arbeiten, d.h. jeder Punkt im Raum besitzt eine X- und eine Y-Komponente. Das
Koordinatensystem ist so aufgespannt, dass größere Komponenten weiter rechts bzw. weiter oben liegen.</p>

<p>In dieser Aufgabe sollen Sie ein Programm schreiben, das fur einen <b>Punkt P</b> berechnet, ob er sich
in einem gegebenen <b>Kreis</b> befindet. Die Koordinaten des Mittelpunkts des Kreises, der Radius des
Kreises sowie die Koordinaten des Testpunktes werden durch die Tastatur eingelesen</p>