<p>Zunächst implementieren wir den Funktionskopf. Die Funktion <code>moddedMaximum</code> erhält als Übergabeparameter
zwei Zahlen vom Typ <code>int</code>.</p>

<pre>int moddedMaximum(int one, int two) {</pre>

<p>Wenn die erste Zahl größer als die zweite ist, wird sie zurückgegeben.</p>

<pre>
	if (one &gt; two) {
		return one;
	}
</pre>

<p>Ansonsten wird die zweite Zahl zurückgegeben.</p>

<pre>
	else if (two &gt; one) {
		return two;
	}
</pre>

<p>Wenn keine der beiden Fälle eintritt, dann sind die Zahlen gleich groß. In diesem Fall wird der vierfache
Wert zurückgegeben.</p>

<pre>
	else {
		return one * 4;
	}
}
</pre>

<p>In einem Hauptprogramm können wir die Funktion <code>moddedMaximum</code> testen. Hierfür legen wir zwei
Variablen <code>one</code> und <code>two</code> vom Typ <code>int</code> an. Mit der Funktion <code>scanf</code>
lesen wir die Eingabe des Nutzers in die Variablen ein. Für Variablen vom Typ <code>int</code> wird der
Formatbezeichner <code>"%d"</code> verwendet. Die Funktion <code>scanf</code> erwartet außerdem einen Zeiger für eine
Variable, deswegen übergeben wir die Variablen mit dem Referenz-Operator (<code>&</code>). Anschließend
legen wir eine Variable <code>max</code> an. Sie bekommt den Rückgabewert der Funktion <code>moddedMaximum</code>
zugewiesen. Am Ende geben wir den Wert mit der Funktion <code>printf</code> aus. Für Zahlen vom Typ <code>int</code>
verwenden wir hierfür den Formatbezeichner "%d".</p>

<pre>
int main() {
    int one, two;
    printf("Gebe zwei Zahlen ein:\n");
    scanf("%d", &one);
    scanf("%d", &two);

    int max = moddedMaximum(one, two);
    printf("Modded Maximum: %d", max);
}
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>int moddedMaximum(int one, int two) {
    if (one &gt; two) {
        return one;
    } else if (two &gt; one) {
        return two;
    }
    return one * 4;
}

int main() {
    int one, two;
    printf("Gebe zwei Zahlen ein: \n");
    scanf("%d", &one);
    scanf("%d", &two);

    int max = moddedMaximum(one,two);
    printf("Modded Maximum: %d", max);
}
</pre>