<p>Zunächst implementieren wir den Funktionskopf der Funktion <code>toggleLetterCase</code>. Die Funktion
bekommt ein Zeichen vom Typ <code>char</code> übergeben.</p>

<pre>char toggleLetterCase(char v) {
</pre>

<p>Es wird ein weiteres Zeichen vom Typ <code>char</code> erstellt (<code>t</code>). In einer
If-Bedingung wird geprüft, ob das übergebene Zeichen (<code>v</code>) ein Großbuchstabe ist, indem geprüft wird,
ob sich sein Wert im Bereich zwischen 'A' und 'Z' befindet. In diesem Bereich befinden sich alle Großbuchstaben in
der ASCII-Tabelle. Wenn sich der Wert in diesem Bereich befindet, er also ein Großbuchstabe ist, wird in der
Variable <code>t</code> der Wert des übergebenen Zeichens plus 32 gespeichert. Dieser neue Wert entspricht dem equivalenten
Kleinbuchstaben in der ASCII-Tabelle.</p>

<pre>
    char t;
    if (v &gt;= 'A' && v &lt;= 'Z') {
        t = v + 32;
    }
</pre>

<p>Wenn das übergebene Zeichen kein Großbuchstabe ist, dann wird geprüft, ob es stattdessen ein Kleinbuchstabe ist.
Wenn sich der Wert des übergebenen Zeichens zwischen 'a' und 'z' befindet, ist er ein Kleinbuchstabe. Dann wird in der
Variable <code>t</code> der Wert des übergebenen Zeichens - 32 gespeichert. Hier befindet sich der äquivalente
Großbuchstabe. Zuletzt wird der umgewandelte Buchstabe zurückgegeben.</p>

<pre>
    else if (v &gt;= 'a' && v &lt;= 'z') {
        t = v - 32;
    }
    return t;
}</pre>

<p>In einer Hauptfunktion testen wir die Funktion <code>toggleLetterCase</code>. Es wird eine Variable
vom Typ <code>char</code> deklariert. Mit der Funktion <code>scanf</code> lassen wir dem Nutzer einen Wert für
diese Variable eingeben. Anschließend wird die Variable an die Funktion <code>toggleLetterCase</code> übergeben und
der Rückgabewert wird mit der Funktion <code>printf</code> ausgegeben.</p>

<pre>int main() {
    char x;
    printf("Please enter a letter to toggle :  ");
    scanf("%c", &x);

    printf("The given letter after toggling case: %c", toggleLetterCase(x));
    return 0;
}
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>
char toggleLetterCase(char v) {
    char t;
    if (v &gt;= 'A' && v &lt;= 'Z') {
        t = v + 32;
    }
    else if (v &gt;= 'a' && v &lt;= 'z') {
        t = v - 32;
    }
    return t;
}

int main() {
    char x;
    printf("Please enter a letter to toggle :  ");
    scanf("%c", &x);

    printf("The given letter after toggling case: %c", toggleLetterCase(x));
    return 0;
}
</pre>