<p>Wir implementieren eine Funktion <code>punktInKreis</code>, um zu berechnen, ob sich die Koordinaten eines übergebenen
Punktes in einem Kreis befinden. Die Funktion erhält als Übergabeparameter die Koordinaten des Mittelpunkts eines Kreises,
die Koordinaten des Punktes und den Radius. Alle Übergabeparameter besitzen den Typ <code>double</code>.</p>

<pre>void punktInKreis(double zentrumX, double zentrumY, double punktX, double punktY, double radius) {</pre>

<p>Wir prüfen, ob sich der Punkt in dem Kreis befindet, indem wir den Abstand zwischen dem Punkt und dem Mittelpunkt des
Kreises berechnen. Dabei verwenden wir die Funktionen <code>sqrt</code> zur Berechnung der Quadratwurzel und <code>pow</code>
zur Berechnung der Potenz, aus der C-Standard-Bibliothek (<code>math.h</code>).</p>

<pre>
    double abstand = sqrt(pow((zentrumX - punktX), 2) + pow((zentrumY - punktY), 2));
</pre>

<p>Wenn der berechnete Abstand kleiner als der Radius des Kreises ist, dann befindet sich der Punkt in dem Kreis und wir
geben dies mit Funktion <code>printf</code> aus. Wenn das nicht der Fall ist, befindet sich der Punkt außerhalb des Kreises.</p>

<pre>
    if (abstand &lt; radius) {
        printf("Der Punkt liegt im Kreis.");
    } else {
        printf("Der Punkt liegt außerhalb des Kreises.");
    }
}
</pre>

<p>In einem Hauptprogramm testen wir die Funktion <code>punktInKreis</code>. Wir deklarieren zunächst Variablen vom Typ
<code>double</code> für den Punkt, für den Mittelpunkt des Kreises und für den Radius. Mit der Funktion <code>scanf</code>
lesen wir Nutzereingaben ein und weisen sie mit dem Referenz-Operator "&" an die jeweiligen Variablen zu. Da es sich um
Variablen vom Typ <code>double</code> handelt, verwenden wir den Formatbezeichner "%lf". Anschließend rufen wir die
Funktion <code>punktInKreis</code> auf und übergeben ihr die Koordinaten und den Radius.</p>

<pre>
int main() {
    double zentrumX, zentrumY, punktX, punktY, radius;

    printf("Geben Sie die Koordinaten vom Zentrum des Kreises an\n");
    scanf("%lf %lf", &zentrumX, &zentrumY);
    printf("Geben Sie den Radius des Kreises an\n");
    scanf("%lf", &radius);
    printf("Geben Sie die Koordinaten des Punktes an\n");
    scanf("%lf %lf", &punktX, &punktY);

    punktInKreis(zentrumX, zentrumY, punktX, punktY, radius);
    return 0;
}</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>void punktInKreis(double zentrumX, double zentrumY, double punktX, double punktY, double radius) {
    double abstand = sqrt(pow((zentrumX - punktX), 2) + pow((zentrumY - punktY),2));
    if (abstand &lt; radius) {
        printf("Der Punkt liegt im Kreis.");
    } else {
        printf("Der Punkt liegt außerhalb des Kreises.");
    }
}

int main() {
    double zentrumX, zentrumY, punktX, punktY, radius;

    printf("Geben Sie die Koordinaten vom Zentrum des Kreises an\n");
    scanf("%lf %lf", &zentrumX, &zentrumY);
    printf("Geben Sie den Radius des Kreises an\n");
    scanf("%lf", &radius);
    printf("Geben Sie die Koordinaten des Punktes an\n");
    scanf("%lf %lf", &punktX, &punktY);

    punktInKreis(zentrumX, zentrumY, punktX, punktY, radius);
    return 0;
}</pre>