<p>Es wird zunächst der Zufallsgenerator mit der aktuellen Zeit initialisiert. Das hat den Vorteil, dass sich die Zufallswerte
    in der Regel bei jedem Programmstart ändern. In der Regel wird <code>srand</code> aber nur ein einziges Mal im gesamten
    Programm aufgerufen, z.B. direkt nach dem Start im Hauptprogramm.</p>

<pre>
    srand(time(NULL));
</pre>

<p>Zunächst implementieren wir den Funktionskopf. Die Funktion erhält einen Parameter für die Anzahl verschiedener Seiten
des Würfels und einen Parameter für die Anzahl an Würfeln.</p>

<pre>int rollCustomDice(int sidesNumber, int numDiceRoll) {</pre>

<p>Es wird zunächst eine Variable vom Typ <code>int</code> für die zurückzugebende Summe initialisiert. In einer
Schleife iterieren wir von 0 bis zur Anzahl an Würfen. Wir summieren für jeden Wurf zufällige Zahlen im Bereich von 0 bis
zur Anzahl an Seiten des Würfels. Mit der Funktion <code>rand</code> wird eine Zufallszahl von 0 bis <code>MAX_INT</code>
gebildet. Da wir einen Wert benötigen, der die Seiten des Würfels nicht überschreitet, rechnen wir das Ergebnis
modulo <code>(rand() % sidesNumber)</code> und addieren 1. Anschließend wird die Summe zurückgegeben.</p>

<pre>
    int sum = 0;
    for (int i = 0; i &lt; numDiceRoll; i++) {
        sum += (rand() % sidesNumber) + 1;
    }
    return sum;
}
</pre>

<p>In einem Hauptprogramm können wir die Funktion <code>rollCustomDice</code> testen. Dafür deklarieren
wir Variablen für die Seiten des Würfels und für die Anzahl an Würfen. Mit der Funktion <code>scanf</code>
werden die Werte für die Variablen eingelesen. Anschließend werden die Variablen an die
Funktion <code>customDiceRoll</code> übergeben und der Rückgabewert wird mit der Funktion <code>printf</code>
ausgegeben.</p>

<pre>int main() {
    int sidesNumber, numDiceRoll;

    printf("Please enter the number of dices: ");
    scanf("%d", &numDiceRoll);

    printf("Please enter the number of sides in a dice: ");
    scanf("%d", &sidesNumber);

    printf("Sum of all rolls is = %d", rollCustomDice(sidesNumber, numDice));
    return 0;
}
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>
int rollCustomDice(int sidesNumber, int numDiceRoll) {
    int sum = 0;
    for (int i = 0; i &lt; numDiceRoll; i++) {
        sum += (rand() % sidesNumber) + 1;
    }
    return sum;
}

int main() {
    int sidesNumber, numDiceRoll;

    srand(time(NULL));

    printf("\n\n Please enter the number of dices :  ");
    scanf("%d", &numDiceRoll);

    printf("\n Please enter the number of sides in a dice :  ");
    scanf("%d", &sidesNumber);

    printf("\n Sum of all rolls is = %d ", rollCustomDice(sidesNumber, numDice));
    return 0;
}
</pre>