<p>Zur Vereinfachung der Aufgabe erstellen wir einen strukturierten Typ <code>Strecke</code>. Dieser speichert
vier geometrische Punkte mit dem Typ <code>double</code>.</p>

<pre>
typedef struct {
    double x1;
    double y1;
    double x2;
    double y2;
} Strecke;
</pre>

<p>Wir implementieren eine Funktion <code>vergleicheStrecken</code>. Die Funktion erhält zwei Strecken von unserem eigenen
strukturierten Typen <code>Strecke</code>.</p>

<pre>
void vergleicheStrecken(Strecke strecke1, Strecke strecke2){
</pre>

<p>Wir erzeugen Vektoren aus den geometrischen Punkten der übergebenen Strecken, indem wir die Koordinaten der
jeweiligen Strecken voneinander subtrahieren.</p>

<pre>
    double xVektor1 = strecke1.x2 - strecke1.x1;
    double yVektor1 = strecke1.y2 - strecke1.y1;
    double xVektor2 = strecke2.x2 - strecke2.x1;
    double yVektor2 = strecke2.y2 - strecke2.y1;
</pre>

<p>Anhand der erzeugten Vektoren können wir das Skalarprodukt und das Kreuzprodukt berechnen. Für die Berechnung des
Kreuzprodukts müssen wir einen Betrag bilden. Dafür verwenden wir die Funktion <code>abs</code> aus der
C-Standart-Bibliothek (<code>stdlib.h</code>).</p>

<pre>
    double skalarProdukt = xVektor1 * xVektor2 + yVektor1 * yVektor2;
    double kreuzprodukt = xVektor1 * yVektor2 - xVektor2 * yVektor1;
</pre>

<p>Wenn das Skalarprodukt den Wert 0 hat, dann stehen die beiden Richtungsvektoren und damit die beiden Strecken
senkrecht aufeinander. In dem Fall geben wir dies mit der Funktion <code>printf</code> auf dem Bildschirm aus.
Wenn das Kreuzprodukt den Wert 0 ergibt, dann sind die Strecken parallel zueinander und wir geben dies aus.
Wenn keines der beiden Fälle zutrifft, geben wir aus, dass die Strecken ohne spezielle Beziehung zueinander verlaufen.</p>

<pre>
    if (skalarProdukt == 0) {
        printf("Die Strecken laufen senkrecht zueinander.");
    } else if (kreuzprodukt == 0) {
        printf("Die Strecken laufen parallel zueinander.");
    } else {
        printf("Die Strecken laufen ohne spezielles Verhältnis zueinander.");
    }
}
</pre>

<p>In einem Hauptprogramm testen wir die Funktion <code>vergleicheStrecken</code>. Dafür deklarieren wir zuerst zwei
Strecken von unserem eigenen strukturierten Typen <code>Strecke</code>. Mit der Funktion <code>scanf</code> lesen wir
Nutzereingaben für die vier Koordinaten der beiden Strecken ein. Da die Koordinaten den Typ <code>double</code> besitzen,
erhält die Funktion <code>scanf</code> den Formatbezeichner "%lf". Mit dem Referenz-Operator "&" übergeben wir die Koordinaten
der Strecken an die Funktion <code>scanf</code>, so ´´dass ihnen die Nutzereingaben zugewiesen werden können.
Anschließend übergeben wir die beiden Strecken als Übergabeparameter an die Funktion <code>vergleicheStrecken</code>.</p>

<pre>
int main() {
    Strecke strecke1, strecke2;

    printf("Geben Sie die vier Koordinaten der ersten Strecke x1, y1, x2 ,y2 an:\n");
    scanf("%lf %lf %lf %lf", &strecke1.x1, &strecke1.y1, &strecke1.x2, &strecke1.y2);
    printf("Geben Sie die vier Koordinaten der zweiten Strecke x1, y1, x2 ,y2 an:\n");
    scanf("%lf %lf %lf %lf", &strecke2.x1, &strecke2.y1, &strecke2.x2, &strecke2.y2);

    vergleicheStrecken(strecke1, strecke2);
    return 0;
}
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>
typedef struct {
    double x1;
    double y1;
    double x2;
    double y2;
} Strecke;

void vergleicheStrecken(Strecke strecke1, Strecke strecke2) {
    double xVektor1 = strecke1.x2 - strecke1.x1;
    double yVektor1 = strecke1.y2 - strecke1.y1;
    double xVektor2 = strecke2.x2 - strecke2.x1;
    double yVektor2 = strecke2.y2 - strecke2.y1;

    double skalarProdukt = xVektor1 * xVektor2 + yVektor1 * yVektor2;
    double kreuzprodukt = xVektor1 * yVektor2 - xVektor2 * yVektor1;

    if (skalarProdukt == 0) {
        printf("Die Strecken laufen senkrecht zueinander.\n");
    } else if (kreuzprodukt == 0) {
        printf("Die Strecken laufen parallel zueinander.\n");
    } else {
        printf("Die Strecken laufen ohne spezielles Verhältnis zueinander.");
    }
}

int main()
{
    Strecke strecke1, strecke2;

    printf("Geben Sie die vier Koordinaten der ersten Strecke x1, y1, x2 ,y2 an:\n");
    scanf("%lf %lf %lf %lf", &strecke1.x1, &strecke1.y1, &strecke1.x2, &strecke1.y2);
    printf("Geben Sie die vier Koordinaten der zweiten Strecke x1, y1, x2 ,y2 an:\n");
    scanf("%lf %lf %lf %lf", &strecke2.x1, &strecke2.y1, &strecke2.x2, &strecke2.y2);

    vergleicheStrecken(strecke1, strecke2);
    return 0;
}
</pre>