<p>Welches Ergebnis liefert der folgende C-Ausdruck?</p>

<pre>
[[${leftOperand}]] [[${operator}]] [[${rightOperand}]]
</pre>

<p>Hinweis: Im Binärsystem dargestellt entspricht der linke Operand [[${leftOperandBinary}]]<sub>2</sub>.</p>