<p>Zunächst betrachten wir die Zahl ([[${leftOperand}]])<sub>10</sub> als 8-Bit-Zahl im Binärformat:</p>

<table class="equationTable">
    <tr th:each="char: ${leftOperandZeros.toCharArray()}">
        <span class="ms-2">[(${char})]</span>
    </tr>
    <tr th:each="char: ${leftOperandBinary.toCharArray()}">
        <span class="ms-2"><b>[(${char})]</b></span>
    </tr>
</table>

<p>Die Zahl ([[${leftOperand}]])<sub>10</sub> wird nun um
    <span th:if="${rightOperand} == 1">eine Binärstelle</span>
    <span th:unless="${rightOperand} == 1">[[${rightOperand}]] Binärstellen</span>
    <span th:if="${#strings.equals(operator, '<<')}">links</span>
    <span th:if="${#strings.equals(operator, '>>')}">rechts</span>
    geschoben werden.
    <span th:if="${#strings.equals(operator, '<<')}">Die Zahl wird von rechts mit
        <span th:if="${rightOperand} == 1">einer Null</span>
        <span th:unless="${rightOperand} == 1">Nullen</span>
        aufgefüllt.</span>
</p>

<p>Wir erhalten entsprechend:</p>
<table class="equationTable">
    <tr th:each="char: ${resultZerosLeft.toCharArray()}">
        <span class="ms-2">[(${char})]</span>
    </tr>
    <tr th:each="char: ${resultBinary.toCharArray()}">
        <span class="ms-2"><b>[(${char})]</b></span>
    </tr>
    <tr th:each="char: ${resultZerosRight.toCharArray()}">
        <span class="ms-2">[(${char})]</span>
    </tr>
</table>

<div th:if="${operator == '<<'}">
    <p>Das Verschieben um eine Binärstelle nach links ist identisch zu einer ganzzahligen Multiplikation mit 2. Das passiert hier [[${rightOperand}]] mal.</p>
</div>
<div th:if="${operator == '>>'}">
    <p>Das Verschieben um eine Binärstelle nach rechts ist identisch zu einer ganzzahligen Division durch 2. Das passiert hier [[${rightOperand}]] mal.</p>
</div>

<p>Im Dezimalsystem erhalten wir somit die Zahl ([[${result}]])<sub>10</sub>.
</p>