<p>Ein Atom-Hamster wird durch einen strukturierten Typ <b>AtomicHamster</b> dargestellt.
Er hat einen Namen (<code>name</code>) und einen aushaltbaren Strahlungsdruck
(<code>radiationPressure</code>).</p>

<p>Definieren Sie zunächst einen strukturierten Datentyp für Atom-Hamster.</p>

<p>Schreiben Sie dann eine Funktion, die ein Array von Atom-Hamstern mittels (<code>qsort</code>) aufsteigend
nach dem aushaltbaren Strahlungsdruck (<code>radiationPressure</code>) sortiert.</p>

<p>Hinweis: Hier müssen weitere Funktionen implementiert werden.</p>