<p>Definieren Sie eine Datenstruktur (<code>struct</code>) für Mitarbeiter, welche folgende Eigenschaften umfasst:</p>

<ul>
    <li>Vorname des Mitarbeiters (Zeichenkette, maximal 50 Zeichen)</li>
    <li>Nachname des Mitarbeiters (Zeichenkette, maximal 50 Zeichen)</li>
    <li>Einzigartige Identifikationsnummer (positive Ganzzahl)</li>
    <li>Verfügbare Urlaubstage (Ganzzahl)</li>
    <li>Adresse des Mitarbeiters (als eigener Datentyp). Eine Adresse enthält bekannter Weise einen Straßennamen, eine Hausnummer
        sowie eine Postleitzahl.</li>
</ul>

<p>Die Funktion <code>printEmployee</code> gibt alle Informationen über ein Mitarbeiter ordentlich
formatiert auf dem Bildschirm aus. Die Funktion erhält als Übergabeparameter die
Datenstruktur eines Mitarbeiters.</p>

<p>Die Funktion <code>printEmployeeWithID</code> sucht direkt nach einem Mitarbeiter basierend auf der
einzigartigen Identifikationsnummer in einem Array von Mitarbeitern. Existiert der Mitarbeiter
mit der übergebenen Identifikationsnummer, wird dieser auf dem Bildschirm ausgegeben. </p>

<p>Die Funktion <code>addEmployeeToArray</code> trägt neue Mitarbeiter in das Mitarbeiter-Array ein. Die Funktion
erhält drei Parameter: einen Zeiger auf das Mitarbeiter-Array, einen Zeiger auf die Anzahl der Mitarbeiter und einen
Zeiger auf das hinzuzufügende Element.</p>