<p>Zunächst wird der strukturierte Typ erstellt. Mit dem <code>typedef</code>-Schlüsselwort können wir dem strukturierten
Datentyp einen neuen Namen, in diesem Fall <code>AtomicHamster</code>, zuweisen. Der strukturierte Typ verfügt
über einen String für den Namen und ein <code>double</code>-Attribut für den aushaltbaren Strahlendruck.
</p>

<pre>typedef struct {
    char name[128];
    double radiationPressure;
} AtomicHamster;
</pre>

<p>Wir wollen Elemente nach dem aushaltbaren Strahlendruck sortieren. Dafür setzen wir die Funktion <code>qsort</code>
    aus der Standardbibliothek ein. Die Funktion erwartet, dass wir eine Vergleichsfunktion implementieren:</p>

<pre>
int compareAtomicHamster(const void* hamster1, const void* hamster2) {
    double radiationPressure1 = ((AtomicHamster*) hamster1)->radiationPressure;
    double radiationPressure2 = ((AtomicHamster*) hamster2)->radiationPressure;

    if(radiationPressure1 > radiationPressure2) {
        return +1;
    } else if(radiationPressure1 < radiationPressure2) {
        return -1;
    }
    return 0;
}
</pre>

<p>Die Vergleichsfunktion erhält per Definition zwei konstante untypisierte <code>void*</code>-Zeiger auf zu vergleichende
    Objekte. Diese werden auf <code>AtomicHamster*</code> gecasted. Anschließend kann dann der jeweilige Strahlendruck
    für beide Atom-Hamster extrahiert werden. Die Rückgabe hängt nun vom Verhältnis der beiden Werte ab. Ist der aushaltbare
    Strahlendruck vom ersten Hamster höher als vom zweiten, wird +1 zurückgegeben. Ist der vom zweiten Hamster höher,
    wird -1 zurückgegeben. Wenn der aushaltbare Strahlendruck beider Hamster identisch ist, wird 0 zurückgegeben.</p>

<p>Wir schreiben nun eine zweite Funktion, die die eigentlich Sortierung durch Aufruf von <code>qsort</code> anstößt.
Sie erhält einen Zeiger auf das Array und die Anzahl der Elemente und ruft anschließend <code>qsort</code> auf.</p>

<pre>void sortByRadiationPressure(AtomicHamster* array, size_t numHamsters) {
    qsort(array, numHamsters, sizeof(AtomicHamster), compareAtomicHamster);
}
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>
typedef struct {
    char name[128];
    double radiationPressure;
} AtomicHamster;

int compareAtomicHamster(const void* hamster1, const void* hamster2) {
    double radiationPressure1 = ((AtomicHamster*) hamster1)->radiationPressure;
    double radiationPressure2 = ((AtomicHamster*) hamster2)->radiationPressure;

    if(radiationPressure1 > radiationPressure2) {
        return +1;
    } else if(radiationPressure1 < radiationPressure2) {
        return -1;
    }
    return 0;
}

void sortByRadiationPressure(AtomicHamster* array, size_t numHamsters) {
    qsort(array, numHamsters, sizeof(AtomicHamster), compareAtomicHamster);
}
</pre>
