<p>Zunächst wird der strukturierte Datentyp erstellt. Mit dem <code>typedef</code>-Schlüsselwort können wir dem strukturierten Datentyp
einen neuen Namen, in diesem Fall <code>Employee</code>, zuweisen. Der strukturierte Typ verfügt
über einen <code>String</code> für den Vornamen und Nachnamen, eine positive Ganzzahl (<code>unsigned int</code>)
für die einzigartige Identifikationsnummer, eine Ganzzahl (<code>Integer</code>) für die verfügbaren Urlaubstage und die
Adresse als eigenen Datentypen.
</p>

<pre>typedef struct {
  char firstName[50];
  char lastName[50];
  unsigned int id;
  int availableLeave;
  Address address;
} Employee;
</pre>

<p>Der eigene Datentyp <code>Adress</code> wird ebenfalls als strukturierter Datentyp definiert. Dieser erhält jeweils
den Stadtnamen, die Postleitzahl, den Straßennamen und die Hausnummer als String.</p>

<pre>typedef struct {
  char city[30];
  char postalCode[12];
  char street[50];
  char houseNumber[10];
} Address;
</pre>

<p>Die Funktion <code>printEmployee</code> erhält ein Element vom strukturierten Typ <code>Employee</code>.
Mit der Funktion <code>printf</code> werden die Variablen des übergebenen strukturierten Typen (<code>Employee</code>) ausgegeben.
Die Adresse, die in <code>Employee</code> enthalten ist, wird ebenfalls durch Ausgabe der Variablen angezeigt.</p>

<pre>void printEmployee(Employee employee) {
  printf("Employee %s %s (ID: %d)\n", employee.firstName, employee.lastName, employee.id);
  printf("Address: %s %s, %s %s\n", employee.address.houseNumber,
    employee.address.street, employee.address.postalCode, employee.address.city);
  printf("\n");
}</pre>

<p>Die Funktion <code>printEmployeeWithID</code> erhält ein Array vom Typ <code>Employee</code>, die Anzahl der Elemente in dem Array
und die ID von dem übergebenen <code>Employee</code>, der ausgegeben werden soll.
Mit einer Schleife iterieren wir durch das übergebene Array. Wenn das Element des aktuellen Index die übergebene ID hat,
dann wird dieses Element mithilfe der Funktion <code>printEmployee</code>, die wir zuvor implementiert haben, ausgegeben.
Haben wir das Element ausgegeben, können wir die Funktion verlassen.</p>

<pre>void printEmployeeWithID(Employee *employees, int employeeCount, int id) {
  for(int i = 0; i &lt; employeeCount; i++) {
    if(employees[i].id == id) {
      printEmployee(employees[i]);
      return;
    }
  }
}</pre>

<p>Die Funktion <code>addEmployeeToArray erhält einen Zeiger auf ein Array vom Typ <code>Employee</code></code>, die Anzahl
der Elemente, und einen neuen hinzuzufügenden <code>Employee</code> als Zeiger. Da die Größe des Arrays im Laufe der
Funktion geändert wird, muss ein Zeiger, der auf das Array zeigt (in diesem Fall also einen Zeiger auf einen Zeiger)
übergeben werden.</p>

<pre>int addEmployeeToArray(Employee **employees, int *employeeCount, Employee *newEmployee) {
</pre>

<p>Da dem Array ein Element hinzugefügt werden soll und sich dadurch die Größe erhöht, wird eine Variable
<code>newEmployeeCount</code> für die neue Anzahl an Elementen angelegt. Es wird ein neues Array
<code>newEmployeeArray</code> angelegt, der mit der Funktion <code>malloc</code> allokierter Speicher zugewiesen wird,
entsprechend der neuen Anzahl an Elementen vom Typ <code>Employee</code>.</p>

<pre>
  int newEmployeeCount = *employeeCount + 1;
  Employee *newEmployeeArray = malloc(newEmployeeCount * sizeof(Employee));
</pre>

<p>Wenn der Speicher nicht reserviert werden kann, wird die Funktion mit der Anweisung <code>return 0</code> verlassen.</p>

<pre>
  if(!newEmployeeArray) {
    return 0;
  }
</pre>

<p>Wenn das übergebene Array <code>employees</code> gültig ist, dann werden mit der Funktion <code>memcpy</code> die Bytes,
die sich an der Speicheradresse von dem übergebenen Array <code>employees</code> befinden, in <code>newEmployeeArray</code>
kopiert. Mit der Funktion <code>free</code> geben wir den Speicherblock frei, der zuvor von der Funktion <code>malloc</code>
reserviert wurde.</p>

<pre>
  if(*employees) {
    memcpy(newEmployeeArray, *employees, *employeeCount * sizeof(Employee));
    free(*employees);
  }
</pre>

<p>Da das Array <code>newEmployeeArray</code> nun Platz für ein weiteres Element hat, können wir einfach an die
letzte Stelle im Array ein weiteres Element <code>newEmployee</code> zuweisen. Anschließend wird dem übergebenen
Array <code>employees</code> das neue Array <code>newEmployeeArray</code> zugewiesen.
Da wir die Anzahl der Elemente <code>employeeCount</code> auch per Referenz an die Funktion übergeben hatten, können
wir an die übergebene Variable <code>employeeCount</code> die neue Anzahl <code>newEmployeeCount</code> zuweisen.
Wir geben anschließend 1 (= Erfolg) zurück und verlassen die Funktion.</p>

<pre>
  newEmployeeArray[*employeeCount] = *newEmployee;
  *employees = newEmployeeArray;
  *employeeCount = newEmployeeCount;
  return 1;
}</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>typedef struct {
  char city[30];
  char postalCode[12];
  char street[50];
  char houseNumber[10];
} Address;

typedef struct {
  char firstName[50];
  char lastName[50];
  unsigned int id;
  int availableLeave;
  Address address;
} Employee;

void printEmployee(Employee employee) {
  printf("Employee %s %s (ID: %d)\n", employee.firstName, employee.lastName, employee.id);
  printf("Address: %s %s, %s %s\n", employee.address.houseNumber, employee.address.street, employee.address.postalCode, employee.address.city);
  printf("\n");
}

void printEmployeeWithID(Employee *employees, int employeeCount, int id) {
  for (int i = 0; i &lt; employeeCount; i++) {
    if (employees[i].id == id) {
      printEmployee(employees[i]);
      return;
    }
  }
}

int addEmployeeToArray(Employee **employees, int *employeeCount, Employee *newEmployee) {
  int newEmployeeCount = *employeeCount + 1;
  Employee *newEmployeeArray = malloc(newEmployeeCount * sizeof(Employee));
  if(!newEmployeeArray) {
    return 0;
  }
  if(*employees) {
    memcpy(newEmployeeArray, *employees, *employeeCount * sizeof(Employee));
    free(*employees);
  }
  newEmployeeArray[*employeeCount] = *newEmployee;
  *employees = newEmployeeArray;
  *employeeCount = newEmployeeCount;
  return 1;
}

int main() {
  Employee *employees = NULL;
  int employeeCount = 0;

  Employee marc = {
      "Marc",
      "Zuckerberg",
      1,
      28,
      {"Los Angeles",
       "90015",
       "W 9th Ave",
       "1534a"}};

  Employee elon = {
      "Elon",
      "Musk",
      2,
      36,
      {"San Francisco",
       "94016",
       "7th St",
       "221"}};

  printEmployee(marc);
  printEmployee(elon);

  if(addEmployeeToArray(&employees, &employeeCount, &marc)) {
    printf("Registered Marc as an employee.\n");
  }
  else {
    printf("Failed to register Marc as an employee.\n");
  }

  if(addEmployeeToArray(&employees, &employeeCount, &elon)) {
    printf("Registered Elon as an employee.\n");
  }
  else {
    printf("Failed to register Elon as an employee.\n");
  }

  printf("Registered %d employees.\n\n", employeeCount);

  int idToSearchFor = 1;
  printf("Printing employee with id %d\n", idToSearchFor);
  printEmployeeWithID(employees, employeeCount, idToSearchFor);

  return 0;
}
</pre>