<p>Führen Sie im folgenden Code zwei Präprozessor-Direktiven <code>GERMAN</code> und <code>ENGLISH</code> ein.
Ist <code>GERMAN</code> definiert, wird die existierende Sprachausgabe verwendet. Ist <code>ENGLISH</code> definiert,
wird eine englische Sprachausgabe verwendet.</p>

<p>Ist weder <b>GERMAN</b> noch <b>ENGLISH</b> definiert, soll ein Kompilierfehler angezeigt
werden.</p>

<p>Passen Sie das folgende Hauptprogramm entsprechend an:</p>

<pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;time.h&gt;

/**
 * Main program.
 */
int main(int argc, const char * argv[]) {
    printf("Rate eine Zahl von 1 bis 100.\n");

    // Generate random number
    srand(time(NULL));
    int correctNumber = rand() % 100 + 1;

    // Main loop
    char done = 0;
    while(!done) {
        // Let user enter number
        printf("Bitte Zahl eingeben: ");
        int number;
        scanf("%d", &number);

        // Check number
        if(number < correctNumber) {
            printf("Zahl ist zu klein.\n");
        } else if(number > correctNumber) {
            printf("Zahl ist zu groß.\n");
        } else {
            printf("Richtig geraten!\n");
            done = 1;
        }
    };

    return 0;
}
</pre>
