<p>Es wird für die deutsche Sprachausgabe eine Präprozessor-Direktive definiert (<code>#define</code>).
Eine Direktive für Englisch ist vorgesehen, wird jedoch auskommentiert.
Die Bedingung, ob eine Sprachausgabe <i>nicht</i> definiert ist, wird geprüft (<code>#ifndef</code>).
Wenn keine Sprachausgabe (Deutsch oder Englisch) definiert ist, wird eine Fehlermeldung ausgegeben
(<code>#error</code>). Danach wird die Bedingung beendet (<code>#endif</code>).
</p>

<pre>#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;time.h&gt;

#define GERMAN
//#define ENGLISH

#ifndef GERMAN
#ifndef ENGLISH
#error No language defined.
#endif
#endif
</pre>

<p>Im Hauptprogramm werden die Präprozessor-Direktiven ausgewertet. Wenn die deutsche Sprachausgabe definiert
ist (<code>#if defined(GERMAN)</code>), wird ein deutscher Text ausgegeben. Wenn stattdessen eine
englische Sprachausgabe definiert ist (<code>#elif defined(ENGLISH)</code>), wird ein englischer Text
ausgegeben.</p>

<pre>
/**
 * Main program.
 */
int main(int argc, const char * argv[]) {
#if defined(GERMAN)
    printf("Rate eine Zahl von 1 bis 100.\n");
#elif defined(ENGLISH)
    printf("Guess a number from 1 to 100.\n");
#endif
</pre>

<p>Mithilfe der Funktion <code>rand</code> wird eine zufällige Zahl generiert. Diese Zahl stellt die "korrekte Zahl" dar,
die der Nutzer erraten muss.</p>

<pre>
    // Generate random number
    srand(time(NULL));
    int correctNumber = rand() % 100 + 1;
</pre>

<p>In einer Schleife im Hauptprogramm, sollen Eingaben des Nutzers erfasst werden. Der Nutzer wird dazu aufgefordert
eine Zahl einzugeben. Um den Text für diese Aufforderung auf Deutsch oder Englisch auszugeben, werden
Präprozessor-Direktiven verwendet. Wenn eine deutsche Sprachausgabe definiert ist (<code>#if defined(GERMAN)</code>),
wird der Text auf Deutsch ausgegeben. Ansonsten, wenn eine englische Sprachausgabe definiert
(<code>#elif defined(ENGLISH)</code>) ist, wird ein englischer Text ausgegeben.</p>

<pre>
    // Main loop
    char done = 0;
    while(!done) {
        // Let user enter number
#if defined(GERMAN)
        printf("Bitte Zahl eingeben: ");
#elif defined(ENGLISH)
        printf("Please enter number: ");
#endif
        int number;
        scanf("%d", &number);
</pre>

<p>Es soll überprüft werden, ob die vom Nutzer eingegebene Zahl mit der korrekten Zahl übereinstimmt. Der Hinweis,
dass die eingegebene Zahl zu klein, zu groß oder richtig ist, wird mithilfe der Präprozessor-Direktiven auf Deutsch oder
Englisch ausgegeben. Wenn eine deutsche Sprachausgabe definiert ist (<code>#if defined(GERMAN)</code>) wird ein deutscher
Text ausgegeben und ansonsten ein englischer Text, wenn eine englische Sprachausgabe definiert ist
(<code>#elif defined(ENGLISCH)</code>). Wenn die eingegebene Zahl richtig ist, wird die Schleife verlassen.</p>

<pre>
        // Check number
        if(number &lt; correctNumber) {
#if defined(GERMAN)
            printf("Zahl ist zu klein.\n");
#elif defined(ENGLISH)
            printf("Number is too small.\n");
#endif
        } else if(number &gt; correctNumber) {
#if defined(GERMAN)
            printf("Zahl ist zu groß.\n");
#elif defined(ENGLISH)
            printf("Number is too large.\n");
#endif
        } else {
#if defined(GERMAN)
            printf("Richtig geraten!\n");
#elif defined(ENGLISH)
            printf("You guessed correctly!\n");
#endif
            done = 1;
        }
    };

    return 0;
}
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>
/**
 Main program.
 */
int main(int argc, const char * argv[]) {

#if defined(GERMAN)
    printf("Rate eine Zahl von 1 bis 100.\n");
#elif defined(ENGLISH)
    printf("Guess a number from 1 to 100.\n");
#endif

    // Generate random number
    srand(time(NULL));
    int correctNumber = rand() % 100 + 1;

    // Main loop
    char done = 0;
    while(!done) {
        // Let user enter number
#if defined(GERMAN)
        printf("Bitte Zahl eingeben: ");
#elif defined(ENGLISH)
        printf("Please enter number: ");
#endif
        int number;
        scanf("%d", &number);

        // Check number
        if(number &lt correctNumber) {
#if defined(GERMAN)
            printf("Zahl ist zu klein.\n");
#elif defined(ENGLISH)
            printf("Number is too small.\n");
#endif
        } else if(number &gt correctNumber) {
#if defined(GERMAN)
            printf("Zahl ist zu groß.\n");
#elif defined(ENGLISH)
            printf("Number is too large.\n");
#endif
        } else {
#if defined(GERMAN)
            printf("Richtig geraten!\n");
#elif defined(ENGLISH)
            printf("You guessed correctly!\n");
#endif
            done = 1;
        }
    };

    return 0;
}
</pre>