<p>Schreiben Sie ein Programm, welches zwei Parameter per <b>Kommandozeile</b> übergeben bekommt. Der erste Parameter
ist der Name einer Textdatei, der zweite Parameter ein String (<code>char *content</code>) mit dem zu suchenden Inhalt.
Das Programm sucht nun in der übergebenen Textdatei nach dem übergebenen String. Eine Bildschirmausgabe gibt an, ob
der gesuchte String in der Textdatei vorkommt oder nicht.</p>

<p>Werden mehr oder weniger als zwei <b>Kommandozeilenparameter</b> übergeben, reagiert das Programm mit einer
Fehlermeldung. Existiert die Datei nicht, erscheint ebenfalls eine Fehlermeldung.</p>