<p>Zunächst implementieren wir eine Funktion, um einen übergebenen String in einer Datei zu suchen. Die Funktion erhält
als Parameter einen Dateinamen und einen zu suchenden String.</p>

<pre>void searchInFile(char *filename, char *str) {</pre>

<p>Die zu lesende Datei wird mit der Funktion <code>fopen</code> geöffnet. Dabei wird der Parameter <code>"rb"</code> angegeben.
Dieser steht für "read binary", d.h. für das Lesen im Binärmodus.</p>

<pre>FILE *f = fopen(filename, "rb");</pre>

<p>Wir erstellen einen temporären Puffer <code>buf</code> mit derselben Größe wie der übergebene
String + 1, da eine weitere Stelle für das Nullzeichen benötigt wird.</p>

<pre>
FILE *f = fopen(filename, "rb");
int size = strlen(str) + 1;
char buf[size];
</pre>

<p>Wenn beim Öffnen der Datei ein Fehler auftritt (wenn z.B. die Datei nicht existiert, oder kein
Kommandozeilenparameter an die Funktion übergeben wurde), wird eine Fehlermeldung ausgegeben und die Funktion wird
verlassen.</p>

<pre>if (f == NULL)
{
    printf("Fehler beim Öffnen der Datei!\n");
    return;
}</pre>

<p>Mit der Funktion <code>fgets</code> lesen wir die nächste Zeile der Datei in den Puffer <code>buf</code>, solange
bis das Ende der Datei erreicht ist. Die Funktion <code>fseek</code> setzt den Datenzeiger immer auf den nächsten Wert
im Datenstrom. Mit der Funktion <code>strstr</code> prüfen wir, ob sich der übergebene String im Puffer <code>buf</code>
befindet. Wenn dies der Fall ist, geben wir eine entsprechende Bildschirmausgabe aus, schließen die Datei und verlassen die
Funktion. Wenn wir jedoch am Ende der Datei angekommen sind, und der String nicht im Text vorkam, geben wir stattdessen
dies aus und schließen die Datei.</p>

<pre>int i = 1;

while (fgets(buf, size, f) != NULL) {
    fseek(f, i++, SEEK_SET);
    if ((strstr(buf, str)) != NULL) {
        printf("Der String kommt im Text vor.\n");
        fclose(f);
        return;
    }
    printf("Der String kommt nicht im Text vor.\n");
    fclose(f);
}</pre>

<p>Das Hauptprogramm erhält die Anzahl an Argumenten (<code>int argc</code>) und ein Array von Zeigern (<code>char *argv[]</code>), dass
auf die übergebenen Kommandozeilenparameter zeigt. Die Parameter werden beim Programmstart über die Kommandozeile eingegeben. Anschließend
werden sie an die Funktion <code>searchInFile</code>, die wir implementiert haben, übergeben. Wir prüfen zuvor, ob tatsächlich zwei
Parameter übergeben wurden. Falls nicht, erscheint eine Fehlermeldung.
</p>

<pre>
int main(int argc, char *argv[]) {
    if(argc != 3) {
        printf("FEHLER: Zwei Parameter erwartet.\n");
        return 1;
    }
    searchInFile(argv[1], argv[2]);
    return 0;
}
</pre>

<h3>Gesamtprogramm</h3>

<p>Hier noch einmal das gesamte Programm:</p>

<pre>void searchInFile(char *filename, char *str) {
    FILE *f = fopen(filename, "rb");
    int size = strlen(str) + 1;
    char buf[size];

    if (f == NULL) {
        printf("Fehler beim Oeffnen der Datei!\n");
        return;
    }

    int i = 1;

    while (fgets(buf, size, f) != NULL) {
        fseek(f, i++, SEEK_SET);
        if ((strstr(buf, str)) != NULL) {
            printf("Der String kommt im Text vor.\n");
            fclose(f);
            return;
        }
    }
    printf("Der String kommt nicht im Text vor.\n");
    fclose(f);
}

int main(int argc, char *argv[]) {
    if(argc != 3) {
        printf("FEHLER: Zwei Parameter erwartet.\n");
        return 1;
    }
    searchInFile(argv[1], argv[2]);
    return 0;
}
</pre>