<p>Wandeln Sie die Zahl (1010101)<sub>2</sub> ins Dezimalsystem um.</p>


<p>Nach der Formel aus der Vorlesung</p>

<table class="mx-auto equationTable">
    <tr><td></td><td>1 &middot; 2<sup>0</sup> + 1 &middot; 2<sup>1</sup> + 1 &middot; 2<sup>2</sup></td></tr>
    <tr><td>=</td><td>1 &middot; 1 + 1 &middot; 2 + 1 &middot; 4</td></tr>
    <tr><td>=</td><td>1 + 2 + 4</td></tr>
    <tr><td>=</td><td>7</td></tr>
</table>

Die Zahl (1010101)<sub>2</sub> entspricht im Dezimalsystem als (7)<sub>10</sub>.